<div class="details" data-js-details="">
    <div class="row">
        <div class="col-sm-1"><b>Detail info: </b></div>
        <div class="col-sm-2">Ask: <b>{{Ask}}</b></div>
        <div class="col-sm-2">All positions: <b>{{AllPosition}}</b></div>
        <div class="col-sm-3">Approved date: <b>{{ApprovedDate}}</b></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-push-1">Bid: <b>{{Bid}}</b></div>
        <div class="col-sm-2 col-sm-push-1">All Trade: <b>{{AllTrades}}</b></div>
        <div class="col-sm-3 col-sm-push-1">Settlement date: <b>{{SettlementDate}}</b></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-push-1">LastPrice: <b>{{LastPrice}}</b></div>
        <div class="col-sm-2 col-sm-push-1">Trade in 24h: <b>{{Trade24h}}</b></div>
    </div>
</div>