<?xml version="1.0" ?>
<Neteller>

  <!-- TEST/SANDBOX: Your unique Neteller App Client ID and Secret. -->
  <add key="ClientIDTest" value="AAABWEpzVlf0cUgR" />
  <add key="ClientSecretTest" value="0.4glVrL2Ws_wHFgS9Lg53Ovxefs8u3EzkC-iMzEWKRoo.vjfoLRa-q0MR4PHWEJMCDzXhxck" />
  <!-- Redirect URL where Neteller will post after successful authentication -->
  <!-- During development a great tool is https://www.runscope.com/ -->
  <add key="RedirectUrlTest" value="https://alt.bet/demo" />


  <!-- PRODUCTION -->
  <add key="ClientID" value="xxxxxxxxxxx" />
  <add key="ClientSecret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
  <add key="RedirectUrl" value="https://domain.com/neteller/" />

</Neteller>