.modal { overflow: auto }

.tmpl { display: none; }

.treeview-menu .add-root-cat { color: $color1Green; }


@include media-sm { .modal-dialog .modal-content { width: 700px; margin: 30px auto; }}


// for status column
.label.label-approved { background-color: #00a65a !important; }
.label.label-new { background-color: #3c8dbc !important; }
.label.label-completed { background-color: #f39c12  !important; color: #fff; }
.label.label-settelment { background-color: #d2d6de !important; color: #fff; }


.form-group {
  .error-icon, .help-block { @include nblock }
  .help-block { font-size: 13px; }
  &.has-error {
    .error-icon, .help-block { @include iblock }
  }
}
.loading-inline { @include iblock; }

.alert-message { @include nblock }

.info-mess-abs { position: fixed; right: 5px; top: 55px; z-index: 1 }


#vakata-dnd {
  #jstree-dnd { position: relative; display: inline-block; margin: 0; padding: 0 4px 0 1px; height: 24px; line-height: 24px;
    vertical-align: top; white-space: nowrap; background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc;
    text-decoration: none; transition: background-color .15s,box-shadow .15s; border: 1px dotted #444; }
  .js-btn { display: none }
}
