#DiLoading2 { display: none; position: absolute; color: #d85909; font-size: 1.1em; font-weight: bold; text-align: center; opacity: 0.80; z-index: 9999;
  .loader { position: fixed; margin-left: -105px; left: 50%; top: 45%; padding: 15px 30px; width: 170px; z-index: 1000;
      background: #fff4e9; border: 2px solid #f1af73; color: #d85909; font-weight: bold; text-align: center; }
}


.wrapper-logo {
	a { @include box(b,r); margin-bottom: -20px; padding: 20px 40px; background-color: #3a3943; }
	img { width: 100%; }
}

.main-header {
	a.link-logo { @include box(b,0); float: left; width: 230px; height: 50px; padding: 5px 0; background-color: $color3Brown; @include calign;
	  img { height: 100%; }
	}
	.navbar { background-color: $color3Brown;
      a { color: #fff;  }
      .user-menu a { transition: background-color .5s }
      .btn { @include box(i,r); margin: -9px 0 -5px 5px; width: auto; }
	}
}

.navbar-nav>.user-menu .user-image { font-size: 24px; }


.main-sidebar { padding-top: 0; } // убрать если будет полоса заголовка
section.sidebar { overflow: visible }
.sidebar-menu { overflow: visible }


#DiLoading { @include box(n,a); z-index: 9999;
  &.wb-sq, &.wb { padding: 5px; background: #fff; border-radius: 5px; }
  &.wb { padding: 5px 15px }
}


#DiCatTree {
  li { position: relative;
    a:hover > .controls { @include block }
    &.last-node {
      .btn[data-type=del] { @include iblock }
      .controls { margin-right: -106px; }
    }
  }
  .category-icon:not(.noicon) { position: relative; @include main_page_event_icon;
    &:before { content: ''; @include box(b,a,24 22 px); margin-top: 3px; background: url("#{$pathImage}/sprite.svg") no-repeat; }
  }
  .controls { @include box(n,a); margin-right: -80px; padding-left: 10px; right: 0; top: -2px; z-index: 1000;
    span { @include iblock; margin: 0; padding: 0; width: 22px; height: 22px; }
    .btn[data-type=del] { @include nblock }
  }
}


.content-wrapper .box-body { overflow: visible }