.ac-newfeedexchange, .ac-editfeedexchange {
  $color1: #f2fbe9;
  $color1: #d9f1c2;
  .content-wrapper {
    // input with btn
    .input-button { padding: 5px 12px;
      // input with btn dropdown
      &.-dropdown { width: 63px;
        &.btn-group > .btn + .dropdown-toggle {
          padding-left: 3px;
          padding-right: 3px;
        }
      }
      .dropdown-menu { left:auto; right: 0 }
    }
    .cb-size { width: 70px }

    .team-filters, .pos-filters { display: inline-block; margin-right: 30px;
      a { padding: 0 2px; }
    }
    .events-filters { display: inline-block; margin-left: 20px; }
    .pos-filters { margin-right: 0 }
    .h-players {
      tr.used td { background: $color1 }
      tr.used.team2 td { background: darken($color1, 10%) }
    }
    .f-btn.active { font-weight: bold }
    .fa-plus { color: #00a65a; }
  }

  .adapt { position: absolute; right: 0 }

  .players-block { overflow: auto; }
  /*
  .tabl-players {
    tr td, tr th { border: 1px solid red;}
    //thead { display: block; }
    //tbody { display: block; overflow: auto; }
  }
  */
  .teams-table {
    tr.empty td { color: gray; }
    tr.empty td+td+td { font-size: 12px }
    .empty {}
    .eppg, .fppg { width: 50px; text-align: center }
  }

  .box {
    &-header a.unactive { color: darken($colorB, 20%); }
    .box-team1 {
      border-top-color: $color1;
    }
    .box-team2 {
      border-top-color: darken($color1, 15%);
    }
  }

  .btn-ok { width: 100px }

  .exchange-limit { width: 100px; text-align: center }

  //.defence span { border-bottom: 1px dotted $colorBody }
}
