.ac-newfeedexchange {
  .content-wrapper {
    .h-players {
      .filters { display: inline-block; margin-left: 20px }
      .f-btn.active { font-weight: bold }
      .fa-plus { color: #00a65a; }
    }
    .h-team {
      .fa-remove { color: #dd4b39; }
    }
  }
}

