//@keyframes fadeInGreen {
//	0% {  background-color: transparent; color: #000; }
//	100% {  background-color: $color1Green; color: #fff; }
//}
//@keyframes fadeOutGreen {
//	0% {  background-color: $color1Green; color: #fff; }
//	100% {  background-color: transparent; color: #000; }
//}
//@keyframes fadeInBlue {
//	0% {  background-color: transparent; color: #000; }
//	100% {  background-color: $color2Blue; color: #fff; }
//}
//@keyframes fadeOutBlue{
//	0% {  background-color: $color2Blue; color: #fff; }
//	100% {  background-color: transparent; color: #000; }
//}

.ac-index.co-feed {
  .content-wrapper {
    .box-body { overflow: visible }

    .exchanges { margin-top: 20px;
      tr:hover {
        td { background-color: #f5f5f5; }
        .controls { opacity: 1; }
      }
      .controls { width: 80px; opacity: .3; }
    }

    .icon { @include box(i,r); padding-right: 17px;
      &::before { @include box(n,a,16 16 px); content: ''; right: 0; top: 3px; background: url("#{$theme-path-pic}/sprite-01.svg") 0 0 no-repeat; background-size: 64px }
      &.active::before { display: inline-block; }
      &.Desc::before { background-position: -16px 0 }
      //a { color: #000; }
    }
  }
}

