.ac-newfeedexchange {
  .content-wrapper {
    .form-group-filters { display: inline-block; margin-left: 20px;
      a { padding: 0 2px }
    }
    .h-players {
      .f-btn.active { font-weight: bold }
      .fa-plus { color: #00a65a; }
      tr.used td { background: #f2fbe9 }
      tr.used.team2 td { background: darken(#f2fbe9, 10%) }
    }
    .h-team {
      //.fa-remove { color: #dd4b39; }
    }
  }
  .teams-table {
    tr.empty td { color: gray; }
    tr.empty td+td+td { font-size: 12px }
    .empty {}
    .eppg, .fppg { width: 50px; text-align: center }
  }
}

