@keyframes fadeOut {
	0% {  background-color: #f39c12;  }
	100% {  background-color: transparent;  }
}

.page-Index {
  .content-wrapper {
    .box-body { overflow: visible }
    .btn-filter { @include iblock; margin-right: 10px;
      &.active { box-shadow: 0px 0px 15px 1px #666 }
    }

    .exchanges {
      tr.changed td { animation: fadeOut 1s; }
      tr:hover .controls { opacity: 1; }
      .controls { width: 80px; opacity: .3; }
      //.btn-group { margin-bottom: 3px; }
      .dropdown-menu { left: auto; right: 0; }
    }
  }
}
