$theme-path: '/theme';
$theme-path-pic: #{$theme-path}/pic;
$theme-path-fonts: #{$theme-path}/fonts;
//$theme-path-fonts: fonts;

$color1Green: #abb820;
$color2Black: #212121;
$color3Gray: #e3e3e3; // menu bg
$color3GrayNew: #f2f2f2; // vac bg's
$color4: #d0dc54; // menu hover
$color5Orange: #ff6500;
$color6Borders: #777; // borders
$color7: #F7F7F7; // inputs
$color8: #fff200; // progress
$color9Red: #ff462d; // progress
$colorB: lighten(silver, 10%);
$color1Blue: #17365D;

$font-Roboto-Regular: Roboto-Regular, verdana, arial;
$font-RobotoCondensed-Regular: RobotoCondensed-Regular, verdana, arial;
//$font-Roboto-LightItalic: Roboto-LightItalic;
//$font-Roboto-Medium: Roboto-Medium;
//$font-Roboto-Bold: Roboto-Bold;
//$font-RobotoCondensed-Bold: RobotoCondensed-Bold;
//$font-Myriad-Pro: Myriad Pro, verdana, arial;
$font-Myriad-Pro: Myriad-Pro, verdana, arial;

$font-size-base: 13px;


@mixin main_page_event_icon{
	&.sport:before{  background-position: -68px -306px;  }
	&.e_sport:before{  background-position: -186px -306px;  }
	&.finance:before{  background-position: -107px -306px;  }
	&.society:before{  background-position: -27px -306px;  }

	&.soccer:before{  background-position: -27px -517px;  }
	&.rugby:before{  background-position: -59px -517px;  }
	&.basketball:before{  background-position: -88px -517px;  }
	&.tennis:before{  background-position: -117px -517px;  }
	&.volleyball:before{  background-position: -147px -517px;  }
	&.hockey:before{  background-position: -176px -517px;  }
	&.baseball:before{  background-position: -207px -517px;  }
	&.boxing:before{  background-position: -237px -517px;  }
	&.horse_racing:before{  background-position: -269px -517px;  }
	&.politics:before{  background-position: -297px -517px;  }
	&.currencies:before{  background-position: -324px -517px;  }
	&.indexes:before{  background-position: -350px -517px;  }
	&.dota2:before{  background-position: -27px -552px;  }
	&.csgo:before{  background-position: -59px -552px;  }
	&.lol:before{  background-position: -85px -552px;  }
}