@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-page">
    <div class="content page">
        <div class="wrapper_about">
            <div class="about_info">
                <h2>About</h2>
                <p><strong>Alt.Bet Exchange</strong> – Revolutionizing Order And Efficiency In The In-Play Prediction Markets.</p>
                <p>
                    <a href="http://alt.bet/" class="link_altbet">alt.bet</a> was founded with the purpose to ensure a completely transparent, neutral, and
                    non-manipulated marketplace for prediction industry participants.
                </p>
                <p>
                    <a href="http://alt.bet/" class="link_altbet">alt.bet</a> is the first fully digital marketplace in which players, industry participants and
                    liquidity providers can sell, buy, or hedge their positions on a fully disclosed and transparent market.
                </p>
                <p>
                    The core function of the marketplace is to ensure fair and orderly transactions, as well as efficient dissemination
                    of price information for any prediction bought and sold on <a href="http://alt.bet/" class="link_altbet">alt.bet</a>.
                </p>
                <p>
                    Through our four main exchanges, <strong>alt.bet</strong> offers unique Price Per Contract (PPC) probability
                    pricing approach and pools of liquidity, providing customer’s choice when executing their trading strategies.
                </p>
            </div>
        </div>
    </div>
    </div>

