@{
    ViewBag.Title = "Affiliates";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content page">
    <!--<ul class="breadcrumbs">-->
    <!--<li><a href="#">Home</a></li>-->
    <!--<li>FAQ</li>-->
    <!--</ul>-->

    <div class="page_wrapper">

        <h1>Affiliates</h1>


        <p>..in process. Powered by Income Access.</p>
    </div>
</div>
