@{
    ViewBag.Title = "Glossary";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-page">
<div class="content page glossary">

    <div class="page_wrapper">
        <div class="glossary">
            <h2 class="common_title">Trading Glossary</h2>
            <p>
                There are a lot of trading terms used which can be difficult to understand for new players.
                Below you will find a comprehensive glossary with the most important terms, from game specific words to
                general
                concepts, that you can refer to whenever you see an unfamiliar word or phrase.
            </p>
            <p>
                If you come across a term that isn’t in our trading glossary yet, feel free to contact us and we’ll add it
                along with a clear definition.
            </p>

            <!--two columns; flex-direction: row-->
            <div class="two_columns">

                <!--_________________________FIRST COLUMN__________________________________-->
                <!-- letter A -->
                <div class="global_column">
                    <div class="child_column">
                        <ul>
                            <li>
                                <h2 class="letterForUl">A</h2>
                            </li>
                        </ul>
                        <ul class="a_1">

                            <li class="js-titleMain">
                                <h4>Accumulator</h4>
                            </li>
                            <li class="secondLi">
                                <p class="textInTitle1">
                                    A bet where you combine multiple inliidual bets on different events. All of your bets must win in order
                                    for the bet to pay out. If just one bet doesn’t win, you lose the entire bet. The potential payout is
                                    calculated by multiplying the odds of each inliidual bet.
                                    Betting on a accumulator gives you much higher potential winnings compared to betting on each bet
                                    inliidually, but it also has much higher risk, since losing a single bet means losing the entire bet.
                                    Also known as Parlay or Combination Bet.
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <li class="js-titleMain"><h4>American Odds</h4></li>
                            <li class="secondLi"><p class="textInTitle2">See Moneyline Odds</p></li>
                        </ul>
                        <ul>
                            <li class="js-titleMain"><h4>Action</h4></li>
                            <li class="secondLi"><p class="textInTitle4">A bet or wager of any kind.</p></li>
                        </ul>
                        <ul>
                            <li class="js-titleMain"><h4>Arbitrage</h4></li>
                            <li class="secondLi"><p class="textInTitle4">See Sure Bet.</p></li>
                        </ul>
                        <ul>
                            <li class="js-titleMain"><h4>Ante Post</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle5">
                                    In the United states more commonly known as Futures. The term originates from horse racing, and is Latin
                                    for “before the post”. It was a bet that was placed before the horses were at the post.
                                </p>
                            </li>
                        </ul>
                        <ul class="a_6">
                            <li class="js-titleMain"><h4>Asset/Underlying Asset </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle6">
                                    This is the financial instrument on which your contract or spread is based. Assets are sometimes called
                                    markets. Asset classes included sport events, poultical outcomes, forex, stock indices, and commodity
                                    futures. Inulidual assets are things ulke the BTC/USD pair, Gold, or the S&P 500 index.
                                </p>
                            </li>
                        </ul>
                        <ul id="a_7">
                            <li class="js-titleMain"><h4>At the Money </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle7">
                                    When the underlying (indicative) market price is equal to a contract strike price, the contract is “at
                                    the
                                    money.” At expiration, only in-the-money contract get the $1.00 payout, so an at-the-money contract will
                                    still expire worthless.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <!-- letter B -->
                    <div class="child_column">
                        <ul class="b">
                            <li><h2 class="letterForUl">B</h2></li>

                        </ul>
                        <ul class="b_1">
                            <li class="js-titleMain">
                                <h4>Bad beat</h4>
                            </li>
                            <li class="secondLi">
                                <p class="textInTitle01">
                                    Losing a bet under unusual or exceptional circumstances. For example if you bet on a huge favorite in a
                                    match, and the underdog somehow still manages to win. Originates from poker, such as when the best hand
                                    gets
                                    outdrawn against all odds.
                                </p>
                            </li>
                        </ul>

                        <ul class="b_2">
                            <li class="js-titleMain"><h4>Bearish and Bullish </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle02">
                                    Bearish traders (or traders with a bearish opinion) believe a market will go down. Bullish means you
                                    believe a market will go up. Bearish and bullish are sometimes used to describe markets or trends
                                    themselves.
                                </p>
                            </li>
                        </ul>
                        <ul class="b_4">
                            <li class="js-titleMain"><h4>Bookmaker</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle04">
                                    A bookmaker is the person or organization that offers odds on events (mostly sports), accepts bets on
                                    those
                                    events and pay out winnings. Also referred to as Sportsbook or Bookie.
                                </p>
                            </li>
                        </ul>
                        <ul class="b_4">
                            <li class="js-titleMain"><h4>Bookie</h4></li>
                            <li class="secondLi"><p class="textInTitle04">See Bookmaker.</p></li>
                        </ul>
                        <ul class="b_5">
                            <li class="js-titleMain"><h4>Broker </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle05">
                                    A broker places trades to the exchange on behalf of the client. Some brokers also advise or help clients
                                    place trades. <strong>Alt.bet</strong> members can place orders directly to the exchange and don’t need to
                                    use a broker.
                                </p>
                            </li>
                        </ul>
                    </div><!--child_column-->
                </div><!--common column 1________________________________________________________________________________________________________-->
                <!-- letter C -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="c">
                            <li><h2 class="letterForUl">C</h2></li>
                        </ul>

                        <ul class="c_1">
                            <li class="js-titleMain"><h4>Combination Bet</h4></li>
                            <li class="secondLi"><p class="textInTitle11">See Accumulator </p></li>
                        </ul>
                        <ul class="c_2">
                            <li class="js-titleMain"><h4>Commodities</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle12">
                                    Commodities are actual things that are usually consumed and used, including metals like gold and silver,
                                    grains like corn and soybeans, and fuels like crude oil and natural gas. Various factors including supply,
                                    demand, weather, and political unrest can affect their prices. <strong>Alt.bet</strong> will introduce
                                    markets on these and
                                    other commodities.
                                </p>
                            </li>
                        </ul>
                        <ul class="c_4">
                            <li class="js-titleMain"><h4>Contract </h4></li>
                            <li class="secondLi"><p class="textInTitle14">Contract are limited risk contracts based on a simple yes/no market proposition. </p></li>
                        </ul>
                        <ul class="c_4">
                            <li class="js-titleMain"><h4>Correct Score</h4></li>
                            <li class="secondLi"><p class="textInTitle14">A bet where the player predicts the final score of a match.</p></li>
                        </ul>
                        <ul class="c_5">
                            <li class="js-titleMain"><h4>Closing Line</h4></li>
                            <li class="secondLi"><p class="textInTitle15">The final odds offered before the game begins.</p></li>
                        </ul>
                        <ul class="c_6">
                            <li class="js-titleMain"><h4>Chalk</h4>
                            <li>
                            <li class="secondLi"><p class="textInTitle16">See Favorite.</p></li>
                        </ul>
                        <ul class="c_7">
                            <li class="js-titleMain"><h4>Chalk Player</h4></li>
                            <li class="secondLi"><p class="textInTitle17">A player that wagers almost exclusively on favorites and almost never on the underdogs.</p></li>
                        </ul>
                        <ul class="c_8">
                            <li class="js-titleMain"><h4>Currency </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle18">
                                    Currencies of advanced economies are exchanged for each other based on prices that constantly fluctuate.
                                    Currencies are traded in pairs and form the world’s largest financial market by far, with trillions of
                                    dollars exchanged daily. The currency market is commonly called forex, short for foreign exchange.
                                </p>
                            </li>
                        </ul>
                        <ul class="c_9">
                            <li class="js-titleMain"><h4>Current Price, Underlying Indicative Market Price </h4></li>
                            <li class="secondLi">
                                <p class="textInTitle19">
                                    <strong>Alt.bet</strong> offers free, real-time price data. This means all <strong>alt.bet</strong>
                                    underlying indicative markets reflect the
                                    actual price being traded at that instant.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <!-- letter D -->
                    <div class="child_column">
                        <ul class="d">
                            <li><h2 class="letterForUl">D</h2></li>
                        </ul>
                        <ul class="d_1">
                            <li class="js-titleMain"><h4>Decimal Odds</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle001">
                                    Decimal odds are mostly used in Europe. For example: Fnatic 2.1 vs NiP 1.6. To calculate your potential
                                    profit, you multiply the odds with the amount you bet, and then remove the original bet amount. If you bet
                                    $100 on Fnatic, your potential return is 2.1 x 100 = $210. After which you distract your original bet, so
                                    the potential profit for this bet is $210 - $100 = $110.
                                </p>
                            </li>
                        </ul>
                    </div><!--child column-->
                </div> <!--common column 2______________________________________________________________________________________________-->
                <!-- letter E -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="e">
                            <li><h2 class="letterForUl">E</h2></li>
                        </ul>
                        <ul class="e_1">
                            <li class="js-titleMain"><h4>Exposure</h4></li>
                            <li class="secondLi"><p class="textInTitle0001">The maximum amount of money a sportsbook stands to lose on any given event.</p></li>
                        </ul>
                        <ul class="e_2">
                            <li class="js-titleMain"><h4>Expiration, Expiry, Expiration Time, Expiration Date</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle0002">
                                    The point in time at which the Expiration Value is calculated. For most <strong>alt.bet</strong>
                                    contracts,
                                    exchange members
                                    can leave orders to trade right up until this point. However, please note that some Events markets may
                                    close
                                    prior to Expiration.
                                </p>
                            </li>
                        </ul>
                        <ul class="e_4">
                            <li class="js-titleMain"><h4>Expiration Value</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle0004">
                                    The calculated level of the underlying market at Expiration, as determined by <strong>alt.bet</strong>
                                    (except for events
                                    where it is determined by the relevant source agency).
                                </p>
                            </li>
                        </ul>
                        <ul class="e_4">
                            <li class="js-titleMain"><h4>Even Money</h4></li>
                            <li class="secondLi">
                                <p class="textInTitle0004">
                                    A bet with 1:1 odds. There is no profit to be made as a bettor, if you place a wager at even money and
                                    win
                                    you get only back your wager.
                                </p>
                            </li>
                        </ul>
                    </div>


                    <!-- letter F -->
                    <div class="child_column">
                        <ul class="f">
                            <li><h2 class="letterForUl">F</h2></li>
                        </ul>
                        <ul class="f_1">
                            <li class="js-titleMain"><h4>Futures</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_1">
                                    Futures are bets on future events. This can be days but also weeks, months or years before the event.
                                    While you get offered better odds by betting further in advance of an event, the drawback is that if your
                                    team doesn’t participate for the event, you lose your bet as well. Also known as Ante Post.
                                </p>
                            </li>
                        </ul>
                        <ul class="f_2">
                            <li class="js-titleMain"><h4>Favorite</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_2">
                                    The team with the lowest odds in a match, they are considered to be the better team. Also, known as
                                    Chalk.
                                </p>
                            </li>
                        </ul>
                        <ul class="f_4">
                            <li class="js-titleMain"><h4>Floor and Ceiling Levels</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_4">
                                    The lower and upper limits against which the expiration value is compared in order to produce the
                                    Settlement Value. The Settlement Value cannot be below the Floor or above the Ceiling.
                                </p>
                            </li>
                        </ul>
                        <ul class="f_4">
                            <li class="js-titleMain"><h4>Floor-Ceiling Range </h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_4">
                                    The distance between the Floor and Ceiling values. The size of the Floor/Ceiling range may vary from time
                                    to time according to conditions in the underlying market.
                                </p>
                            </li>
                        </ul>
                        <ul class="f_5">
                            <li class="js-titleMain"><h4>Forex Definition</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_5">
                                    Forex, short for foreign exchange, is the name for the currency market and includes the EUR/USD and
                                    AUD/JPY.
                                </p>
                            </li>
                        </ul>
                        <ul class="f_6">
                            <li class="js-titleMain"><h4>Fractional Odds</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleF_6">
                                    Odds that are mostly used in British bookmakers. For example: 2/4. To calculate your potential profit,
                                    you
                                    multiply the odds of the event with the amount you bet.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div> <!--common column 4_______________________________________________________________________________________-->
                <!-- letter H -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="h">
                            <li><h2 class="letterForUl">H</h2></li>
                        </ul>
                        <ul class="h_1">
                            <li class="js-titleMain"><h4>Handicap</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleH_1">
                                    An advantage given by sportsbooks to one team, in order to offer more attractive odds. Also known as
                                    spread. Used for spread betting.

                                    For example when Team Liquid plays Virtus.pro in a Dota 2 match, Team Liquid is a huge favourite and the
                                    game is expected to be pretty one sided. But if the bookmaker handicaps Team Liquid, it becomes a much
                                    more
                                    interesting bet.

                                    Lets say team Liquids get a negative handicap of (-1.5). To calculate the score, you subtract the handicap
                                    from the final score. If they end up at 2-1, this will leave them after the handicap is substracted with
                                    0.5-1, leading the other team to win. This means that in a best-of-three they must win the game 2-0 to win
                                    the bet.

                                    A handicap can also be a positive number, lets give Virtus.pro (+1.5). To calculate the score, you just
                                    add
                                    this number to the final score to determine the winner. If the final score is 2-1, Virtus.pro wins the
                                    game
                                    after adding the handicap for a total of 2-2.5.
                                </p>
                            </li>
                        </ul>
                        <ul class="h_2">
                            <li class="js-titleMain"><h4>High roller</h4></li>
                            <li class="secondLi"><p class="textInTitleH_2">A person who bets for high amounts.</p></li>
                        </ul>
                        <ul class="h_4">
                            <li class="js-titleMain"><h4>Handle</h4></li>
                            <li class="secondLi"><p class="textInTitleH_4">Commonly used term in the United States. Refers to the total amount of money wagered on an event.</p></li>
                        </ul>
                        <ul class="h_4">
                            <li class="js-titleMain"><h4>Hook</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleH_4">
                                    A half-point in spread betting. If a team is favourited by 1.5, they say it’s favourited by 1 and a hook.
                                    Bookmakers often add the half point to av class tie scenarios.
                                </p>
                            </li>
                        </ul>
                        <ul class="h_5">
                            <li class="js-titleMain"><h4>Handicap Betting</h4></li>
                            <li class="secondLi"><p class="textInTitleH_5">See Spread Betting.</p></li>
                        </ul>
                    </div>


                    <div class="child_column">
                        <ul class="i">
                            <li><h2 class="letterForUl">I</h2></li>
                        </ul>
                        <ul class="i_1">
                            <li class="js-titleMain"><h4>In The Money </h4></li>
                            <li class="secondLi">
                                <p class="textInTitleH_1">
                                    When the underlying (indicative) market price is greater than a contract’s strike price, the contract is
                                    “in the money.” At expiration, only in-the-money contracts get the $1.00 payout, so “in the money” refers
                                    to
                                    the contract being profitable.

                                </p>
                            </li>
                        </ul>
                        <ul class="i_2">
                            <li class="js-titleMain"><h4>Index, Stock Indices</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleH_2">
                                    A stock index such as the S&P 500, FTSE, or Nasdaq is a weighted average of a selection of stocks from a
                                    certain sector of industry. It reflects the overall value of that sector.
                                </p>
                            </li>
                        </ul>
                        <ul class="i_4">
                            <li class="js-titleMain"><h4>Instrument (Financial Instrument)</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleH_4">
                                    Another term used interchangeably with "asset" and "market", which can refer to underlying stock indices,
                                    commodities, forex pairs, or the Bitcoin index.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div> <!--common column 4_______________________________________________________________________________________________________-->
                <!-- letter J -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="j">
                            <li><h2 class="letterForUl">J</h2></li>
                        </ul>
                        <ul class="j_1">
                            <li class="js-titleMain"><h4>Juice</h4></li>
                            <li class="secondLi"><p class="textInTitleJ_1">The commission the bookmaker takes on each bet. Also known as Vig.</p></li>
                        </ul>
                    </div>

                    <!-- letter M -->
                    <div class="child_column">
                        <ul class="m">
                            <li><h2 class="letterForUl">M</h2></li>
                        </ul>
                        <ul class="m_1">
                            <li class="js-titleMain"><h4>Moneyline Odds</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleM_1">
                                    Moneyline odds, or also called American odds since they are commonly used in the United States.
                                    A positive number indicates the underdog, and the odds tell you how much money you will win on a wager of
                                    $100.
                                    A negative number indicates the favorite, and the odds tell you how much you must bet in order to win
                                    $100.
                                    The higher the chance for the favorite team to win, the wider the odds for the favorite and the underdog
                                    are
                                    apart.

                                    For example: SKT T1 -425 vs Cloud9 +420.
                                    If you decide to bet on SKT T1, who are the favorite, you have to bet $425 to win $100. If SKT T1 wins the
                                    match, you get $100 , for a total return of $525 (initial bet of $425 + $100 profit won). If you bet on
                                    Cloud9 and they win, you get your initial stake of $100 back in addition of $420, giving you a total
                                    payout
                                    of $420.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div> <!--common column 5_______________________________________________________________________________________________________-->
                <!-- letter O -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="o">
                            <li><h2 class="letterForUl">O</h2></li>
                        </ul>
                        <ul class="0_1">
                            <li class="js-titleMain"><h4>Out of the Money</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleO_1">
                                    When the underlying (indicative) market price is less than a contract’s strike price, the contract is
                                    “out
                                    of the money.” At expiration, only in-the-money contract get the $1.00 payout, so an “out of the money”
                                    will
                                    expire at zero. Prior to expiration, the contract will have a variable value based on how close it is to
                                    the
                                    strike price.
                                </p>
                            </li>
                        </ul>
                        <ul class="0_2">
                            <li class="js-titleMain"><h4>Over/Under Bet</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleO_2">
                                    In an Over/Under bet the player must predict if a certain number is more or less than the limit set by
                                    the
                                    bookmaker.
                                    For example, in a best-of-three CS:GO match, an over/under bet on 4 maps, means you bet on whether 4 maps
                                    will be played or not.
                                </p>
                            </li>
                        </ul>
                        <ul class="0_4">
                            <li class="js-titleMain"><h4>Opening Line</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleO_4">
                                    The initial odds offered by the bookmaker when an event gets first posted. Once players start betting,
                                    the
                                    odds adjust accordingly.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <!-- letter P -->
                    <div class="child_column">
                        <ul class="p">
                            <li><h2 class="letterForUl">P</h2></li>
                        </ul>
                        <ul class="p_1">
                            <li class="js-titleMain"><h4>Parlay</h4></li>
                            <li class="secondLi"><p class="textInTitleP_1">Also known as Accumulator or Combination Bet.</p></li>
                        </ul>
                    </div>
                </div><!--common column 6_______________________________________________________________________________________________________-->
                <!-- letter S -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="s">
                            <li><h2 class="letterForUl">S</h2></li>
                        </ul>
                        <ul class="s_1">
                            <li class="js-titleMain"><h4>Settlement Value</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_1">
                                    At expiration, a contract is settled and determined to be in, at, or out of the money. The settlement
                                    value
                                    factors in the floor and ceiling levels of spreads to decide what the profit or loss will be for that
                                    spread
                                    contract. Contracts must have a settlement value of either 0 or 100. Spreads must have a settlement value
                                    no
                                    lower than their floor level and no higher than their ceiling level.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_2">
                            <li class="js-titleMain"><h4>Strike Price</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_2">
                                    The strike price is the price level you think the market will be above or below at expiration. If you
                                    think
                                    the market price (expiration value) will be above the strike, you buy the contract. If you think the
                                    market
                                    will be at or below the strike price, you sell the contract. The market's price at expiration is compared
                                    to
                                    the strike price to determine whether your contract has settled in, at, or out of the money.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_4">
                            <li class="js-titleMain"><h4>Source Agency</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_4">
                                    In the case of economic events contracts, the publisher of the expiration value. For example, the US
                                    Bureau
                                    of Labor Statistics is the source agency for the Nonfarm Payroll number.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_4">
                            <li class="js-titleMain"><h4>Speculative Position Limit</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_4">
                                    The maximum aggregate position that any person can hold or control in any particular contract class.
                                    These
                                    are sometimes needed to prevent mistakes.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_5">
                            <li class="js-titleMain"><h4>Strike Width</h4></li>
                            <li class="secondLi"><p class="textInTitleS_5">The distance between strike prices for a particular market.</p></li>
                        </ul>
                        <ul class="s_6">
                            <li class="js-titleMain"><h4>Sportsbook</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_6">
                                    The person or organisation that offers odds on events (mostly sports), accepts bets on those events and
                                    pay
                                    out winnings. Also referred to as “bookmaker” or “bookie”.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_7">
                            <li class="js-titleMain"><h4>Sure Bet</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_7">
                                    A sure bet, also referred to as betting arbitrage, is a set of bets on both sides of a game that
                                    guarantees
                                    a profit for the player, regardless the outcome of the match.
                                    This can be done by placing multiple bets with different bookmakers on the same game.
                                </p>
                            </li>
                        </ul>
                        <ul class="s_8">
                            <li class="js-titleMain"><h4>Spread Betting</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleS_8">
                                    Spread betting is a type of bet where the bookmaker adds or subtracts (handicaps) an amount of points
                                    from
                                    the final result to determine the winner of an event. This is mostly intended to create a more equal
                                    number
                                    of wagers on either side of an event.
                                    As most eSport games do not have a final score such as in football, but instead rely more on a win/lose
                                    scenario, it is not so often used yet. Also see Handicap.
                                </p>
                            </li>
                        </ul>
                    </div>


                    <!-- letter T -->
                    <div class="child_column">
                        <ul class="t">
                            <li><h2 class="letterForUl">T</h2></li>
                        </ul>
                        <ul class="t_1">
                            <li class="js-titleMain"><h4>Totals Bet</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleT_1">
                                    A bet where the player predicts if the total score of a game is over or under the total posted by the
                                    sportsbook. Also see Over/Under Bet.
                                </p>
                            </li>
                        </ul>
                        <ul class="t_2">
                            <li class="js-titleMain"><h4>Tick Size, Point Size</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleT_2">
                                    The amount the market price must move for the price to move up or down one tick in value. If the tick
                                    size
                                    is one for a contract, then one unit of price movement will change the contract’s value by one. Many
                                    markets
                                    have fractional tick sizes. For example, a tick size of 0.01 means that a movement of 0.01 in the price
                                    would change the profit or loss by one tick.
                                </p>
                            </li>
                        </ul>
                        <ul class="t_4">
                            <li class="js-titleMain"><h4>Tick/Point Value</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleT_4">
                                    The dollar value of one tick/point. This is $0.01 for all <strong>alt.bet</strong> contracts. Other
                                    markets
                                    have more
                                    complicated tick values, dating back to older pricing traditions, such as fractions. Sometimes tick size
                                    and
                                    tick value are used interchangeably, especially when both values are one, as in the case of alt.bet
                                    contracts.
                                </p>
                            </li>
                        </ul>
                        <ul class="t_4">
                            <li class="js-titleMain"><h4>Trading Day</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleT_4">
                                    On alt.bet, trading days start with commencement of the trading platform and never ends. We operate
                                    24/7/465.
                                </p>
                            </li>
                        </ul>
                        <ul class="t_5">
                            <li class="js-titleMain"><h4>Trading Hours</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleT_5">
                                    The times of day during which the contract will be open for trading on the exchange. See the specific
                                    contract details for exact information.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!--common column 7_______________________________________________________________________________________________________-->
                <!-- letter U -->
                <div class="global_column">
                    <div class="child_column">
                        <ul class="u">
                            <li><h2 class="letterForUl">U</h2></li>
                        </ul>
                        <ul class="u_1">
                            <li class="js-titleMain"><h4>Underdog</h4></li>
                            <li class="secondLi"><p class="textInTitleU_1">The team with the highest odds in a match, they are expected to be the worse team.</p></li>
                        </ul>
                        <ul class="u_2">
                            <li class="js-titleMain"><h4>Underlying Market</h4></li>
                            <li class="secondLi">
                                <p class="textInTitleU_2">
                                    The source market that expiration values are based on. For example, the US 500
                                    contract is based on the Standard & Poor’s 500 stock index, known as the S&P 500.
                                </p>
                            </li>
                        </ul>
                    </div>


                    <!-- letter V -->
                    <div class="child_column">
                        <ul class="v">
                            <li><h2 class="letterForUl">V</h2></li>
                        </ul>
                        <ul class="v_1">
                            <li class="js-titleMain"><h4>Vig</h4></li>
                            <li class="secondLi"><p class="textInTitleV_1">See Juice.</p></li>
                        </ul>
                    </div>
                </div>
                <!--common column 8_______________________________________________________________________________________________________-->
            </div>
</div>
    </div>
</div> <!--static page-->
