@{
    ViewBag.Title = "Help";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-page">
    <div class="content page faq">
        <div class="additional_help">
            <h2>Frequently asked questions</h2>


            <h3>General Trading</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>What is your commission rate?</h4>
                    </li>
                    <li class="secondLi">
                        <p>
                            Our commission rate starts at $0.086 per contract with discounts applied to Pricing Plans. Our
                            liquidity rebate starts at $0..026 per contracts. We reserve right to change these rates
                            periodically.
                        </p>
                    </li>
                    <li class="js-titleMain"><h4>Is commission charged on individual bets?</h4></li>
                    <li class="secondLi">
                        <p><i>Yes.</i></p>
                    </li>
                    <li class="js-titleMain"><h4>What currencies can I place my order in?</h4></li>
                    <li class="secondLi">
                        <p>
                            Deposits can be made either in Euros or US Dollars but orders are priced in US Dollars only.
                        </p>
                    </li>


                    <li class="js-titleMain"><h4>What are the minimum and maximum order sizes I can place?</h4></li>
                    <li class="secondLi">
                        <p>One contract minimum, no maximums.</p>
                    </li>
                    <li class="js-titleMain"><h4>What time zone are events displayed in?</h4></li>
                    <li class="secondLi">
                        <p>Based on settings of your device(s).</p>
                    </li>


                    <li class="js-titleMain"><h4>Can I place order(s) in-play?</h4></li>
                    <li class="secondLi">
                        <p>
                            Yes, we are in-play exchange, therefore you can place your order any time prior the end of the
                            event.
                        </p>
                    </li>


                    <li class="js-titleMain"><h4>What is an open order?</h4></li>
                    <li class="secondLi">
                        <p><i>Open order is unmatched order sent to the marketplace. </i></p>
                    </li>


                    <li class="js-titleMain"><h4>Do you offer starting price?</h4></li>
                    <li class="secondLi">
                        <p>We will open our markets at $0.50-$0.49, since our markets involve point spread trading.</p>
                    </li>


                    <li class="js-titleMain"><h4>Can I place a multiple or accumulator bet?</h4></li>
                    <li class="secondLi">
                        <p>Multiple – yes, accumulator – we are still working on it.</p>
                    </li>



                    <li class="js-titleMain"><h4>My order is partially matched what does this mean?</h4></li>
                    <li class="secondLi">
                        <p>

                            Partially matched is the same as partially executed and this means that portion of your order
                            still open and available for matching on the marketplace.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>How do I know if my order has been fully matched?</h4></li>
                    <li class="secondLi">
                        <p>It appears in “My Positions” and no longer in “Open Orders”</p>
                    </li>

                    <li class="js-titleMain"><h4>Why was my bet cancelled (market halted)?</h4></li>
                    <li class="secondLi">

                        <p>Several reasons, some of them are interrupted, delayed or postponed event. </p>
                    </li>
                </ul> @*--------------------child column--------------------------*@



                <ul class="child_column">
                    <li class="js-titleMain"><h4>Can I cancel an order?</h4></li>
                    <li class="secondLi">

                        <p>Yes, if the order is still open and not executed.</p>
                    </li>


                    <li class="js-titleMain"><h4>How can I manually cash out or trade out of my contracts?</h4></li>
                    <li class="secondLi">

                        <p>By buying and selling these contracts on the marketplace. </p>
                    </li>


                    <li class="js-titleMain"><h4>How long does it take to settle a bet?</h4></li>
                    <li class="secondLi">

                        <p>As soon as official results are in. </p>
                    </li>
                    <li class="js-titleMain">
                        <h4>
                            The event or game I have bet on has been postponed or abandoned will I get my money back
                            and when will It be refunded back into my account?
                        </h4>
                    </li>
                    <li class="secondLi">

                        <p>As soon as we get the official confirmation of that event being postponed or cancelled.</p>
                    </li>
                    <li class="js-titleMain"><h4>My stake has changed from what I originally placed.</h4></li>
                    <li class="secondLi">

                        <p>It has to match the funds availability in the account</p>
                    </li>
                    <li class="js-titleMain"><h4>The market only displays “Place Now” instead of prices. Why is this?</h4></li>
                    <li class="secondLi">

                        <p>

                            Because, there are no other offers or bids on the marketplace. You are welcome to establish Your
                            Own Limit Order.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>There is no money/liquidity in the market.</h4></li>
                    <li class="secondLi">

                        <p>
                            Even though its highly unlikely, perhaps no interest at the moment, please check back later.
                        </p>
                    </li>
                    <li class="js-titleMain"><h4>I am looking for sport specific rules, where can I find these?</h4></li>
                    <li class="secondLi">

                        <p>In Rules Section.</p>
                    </li>
                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@

            <h3>Payment Methods</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>What payment methods can I use?</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            Bank Transfer, Visa, Master Card, Neteller, Skrill, Paysafe

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>How and where do I make a deposit?</h4></li>
                    <li class="secondLi">
                        <p>You can make deposit using our secured site. </p>
                    </li>
                    <li class="js-titleMain"><h4>How and where do I make a withdrawal?</h4></li>
                    <li class="secondLi">
                        <p>
                            Simply go to Withdrawals Page and process it
                        </p>
                    </li>


                    <li class="js-titleMain"><h4>How do I withdraw to Skrill or Neteller?</h4></li>
                    <li class="secondLi">
                        <p>One contract minimum, no maximums. </p>
                    </li>
                    <li class="js-titleMain"><h4>What time zone are events displayed in?</h4></li>
                    <li class="secondLi">
                        <p>Simply by following instructions on Withdrawals Page.</p>
                    </li>


                    <li class="js-titleMain"><h4>How long do deposits take to reach my alt.bet account?</h4></li>
                    <li class="secondLi">
                        <p>

                            It is stated on the Deposit Page, but it is not entirely depending on us, it also depends on Your payment provider or financial institution.

                        </p>
                    </li>


                    <li class="js-titleMain"><h4>How long do withdrawals take to reach my bank account/e-wallet?</h4></li>
                    <li class="secondLi">
                        <p>It is stated on the Withdrawal Page, but it is not entirely depending on us, it also depends on Your payment provider or financial institution.</p>
                    </li>


                    <li class="js-titleMain"><h4>How can I update my card details or add a new card?</h4></li>
                    <li class="secondLi">
                        <p>Simply go to Deposits Page and process it</p>
                    </li>
                </ul> @*--------------------child column--------------------------*@



                <ul class="child_column">
                    <li class="js-titleMain"><h4>How do I remove a card from my account?</h4></li>
                    <li class="secondLi">
                        <p>Simply go to Deposits Page and process it</p>
                    </li>

                    <li class="js-titleMain"><h4>I have not received all my deposit? Was there a fee on the transaction?</h4></li>
                    <li class="secondLi">
                        <p>

                            Perhaps. The detailed information is displayed on Deposits/Withdrawals Page.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>What is the minimum amount I can deposit or withdrawal?</h4></li>
                    <li class="secondLi">
                        <p>$10 or €10.</p>
                    </li>

                    <li class="js-titleMain"><h4>What is the maximum amount I can deposit or withdrawal?</h4></li>
                    <li class="secondLi">

                        <p>No maximum. </p>
                    </li>

                    <li class="js-titleMain"><h4>Can I deposit or withdrawal with a bank transfers?</h4></li>
                    <li class="secondLi">

                        <p>Yes.</p>
                    </li>


                    <li class="js-titleMain"><h4>How can I change the currency my account is in?</h4></li>
                    <li class="secondLi">

                        <p>Go to Settings and change it.</p>
                    </li>

                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@





            <h3>Account</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>Can I open an account with alt.bet in my country?</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            Only in countries where alt.be is legal.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>Can I have more than one account with alt.bet?</h4></li>
                    <li class="secondLi">
                        <p>No. </p>
                    </li>
                    <li class="js-titleMain"><h4>Can someone at the same address register a alt.bet account?</h4></li>
                    <li class="secondLi">
                        <p>
                            Yes, as long as it is different user.
                        </p>
                    </li>


                    <li class="js-titleMain"><h4>How do I change my account password?</h4></li>
                    <li class="secondLi">
                        <p>Go to Settings and change it.</p>
                    </li>
                    <li class="js-titleMain"><h4>I would like to change my email address. How can I do this?</h4></li>
                    <li class="secondLi">
                        <p>Go to Settings and change it.</p>
                    </li>


                    <li class="js-titleMain"><h4>I've forgotten my sign in details, help!</h4></li>
                    <li class="secondLi">
                        <p>

                            Go to Sign In Page and request it.

                        </p>
                    </li>


                    <li class="js-titleMain"><h4>I'm not receiving any emails to my registered email address. Are there any reasons why?</h4></li>
                    <li class="secondLi">
                        <p>Check Your Spam Folder in the email You provided. Make sure our company is not marked for Spam.</p>
                    </li>



                </ul> @*--------------------child column--------------------------*@
                <ul class="child_column">
                    <li class="js-titleMain"><h4>I don't want to receive emails from alt.bet.</h4></li>
                    <li class="secondLi">
                        <p>Go to Settings and unsubscribe from it.</p>
                    </li>


                    <li class="js-titleMain"><h4>Can I change the time zone of my alt.bet account?</h4></li>
                    <li class="secondLi">
                        <p>Its defaulted to Your device time zone, but You can change it in settings.</p>
                    </li>

                    <li class="js-titleMain"><h4>My Account Has Been Suspended.</h4></li>
                    <li class="secondLi">
                        <p>

                            Perhaps, there was no activity for a prolonged period of time, or perhaps for violation of our Terms and Conditions.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>I wish to close my account.</h4></li>
                    <li class="secondLi">
                        <p>Go to Settings and close it.</p>
                    </li>

                    <li class="js-titleMain"><h4>What is the maximum amount I can deposit or withdrawal?</h4></li>
                    <li class="secondLi">

                        <p>No maximum. </p>
                    </li>

                    <li class="js-titleMain"><h4>Does alt.bet use cookies?</h4></li>
                    <li class="secondLi">

                        <p>Yes, to ensure that site is working properly We will not share any information without Your consent.</p>
                    </li>


                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@




            <h3>Account Verification and Know Your Customer Requirements</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>I cannot verify my email address!</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            When you signed up you should have received a welcome email with a verification link, please
                            follow this link to verify the email address. If this verification process does not work, please
                            logout of all devices, before reattempting to use the verification link again. If the problem
                            persists please email us at <a href="#">support@alt.bet</a>.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>Why do I need to verify my account?</h4></li>
                    <li class="secondLi">
                        <p>In order for us to comply with regulatory requirements it is necessary to verify personal details upon depositing in an alt.bet account. We try and complete these verification checks electronically but sometimes we will require users to send a copy of their documents to verify their age and address. </p>
                    </li>

                    <li class="js-titleMain"><h4>How can I provide you with these documents?</h4></li>
                    <li class="secondLi">
                        <p>You can upload your documents on our file upload page or send them to <a href="mailto:support@alt.bet"></a></p>
                    </li>

                    <li class="js-titleMain"><h4>Why can I not use a Driver’s License or Passport as a proof of address?</h4></li>
                    <li class="secondLi">
                        <p>

                            Passport
                            Driving license with photo
                            National Identity card
                            Firearms or shotgun license.
                            You can use the following documents as proof of address:
                            Bank, Credit Card or Credit Union statement (dated within the last 3 months)
                            Utility bill (dated within the last 3 months)
                            Please note: we cannot accept mobile phone bills or e-statement documents as proof of address.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>What documents can be used for proof of address and ID?</h4></li>
                    <li class="secondLi">
                        <p>
                            You can use the following documents as proof of address: Bank, Credit Card or Credit Union statement (dated within the last 3 months) Utility bill (dated within the last 3 months) Please note: we cannot accept mobile phone bills or e-statement documents as proof of address.
                        </p>
                    </li>

                </ul> @*--------------------child column--------------------------*@
                <ul class="child_column">
                    <li class="js-titleMain"><h4>Why do you not accept e-statement documents?</h4></li>
                    <li class="secondLi">
                        <p>

                            We do not currently accept e-statement documents, only paper documents.
                            If you don’t have a paper statement or utility bill, please request a copy from your bank or utility provider.
                            Alternatively, you can request a bank statement to be printed at your local branch.

                        </p>
                    </li>


                    <li class="js-titleMain"><h4>How long does it take to verify my account once I have sent my documents?</h4></li>
                    <li class="secondLi">
                        <p>

                            Account verification will normally be completed within 24 hours of us receiving the required documents.
                            If you haven't received an email regarding your account verification within 24 hours, please contact our customer support team.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>Does alt.bet use electronic verification?</h4></li>
                    <li class="secondLi">
                        <p>

                            Where possible, <strong>alt.bet</strong> will try and verify your user account electronically. <br>
                            <strong>alt.bet</strong> will run your
                            details against a number of official databases - this will not leave a trace on credit files and
                            won't affect your credit rating.<br> If your account cannot be verified electronically, you can
                            verify
                            your account by sending a copy of a photo ID and proof of address to <a href="#">support@alt.bet</a>

                        </p>
                    </li>
                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@


            <h3>Account Summary</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>I cannot see my previous orders in the account summary.</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            You can view your orders history by inputting the relevant date range in the “Filter Activity” section of your account page.</a>.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>I want to only see my deposits, withdrawals or both. How can I do this?</h4></li>
                    <li class="secondLi">
                        <p>You can Filter Your Settings</p>
                    </li>

                    <li class="js-titleMain"><h4>Is it possible to show the commission I pay on each trade?</h4></li>
                    <li class="secondLi">
                        <p>Yes</p>
                    </li>
                </ul> @*--------------------child column--------------------------*@

                <ul class="child_column">
                    <li class="js-titleMain"><h4>How do I see history older than last year?</h4></li>
                    <li class="secondLi">
                        <p>

                            You can view your bet history by inputting the relevant date range in the “Filter Activity” section of your account page.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>Where can I see my total liability, potential loss or risk?</h4></li>
                    <li class="secondLi">
                        <p>

                            You can view your current exposure in the account summary on the top of the page.

                        </p>
                    </li>
                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@


            <h3>Miscellaneous</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>Do you have an IOS/Android App for alt.bet users?</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            It is coming up. Soon. We are trying our best to ring the best customer satisfaction.</a>.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>Can I use the desktop site on my mobile?</h4></li>
                    <li class="secondLi">
                        <p>Yes.</p>
                    </li>

                    <li class="js-titleMain"><h4>Does alt.bet have an API I can connect to?</h4></li>
                    <li class="secondLi">
                        <p>Yes. Soon. We are diligently working on it.</p>
                    </li>

                    <li class="js-titleMain"><h4>Can I get access to a data feed of your prices?</h4></li>
                    <li class="secondLi">
                        <p>

                            Yes. Although it is available for users that are subscribed to it on case per case basis. We are working on it.

                        </p>
                    </li>
                </ul> @*--------------------child column--------------------------*@

                <ul class="child_column">
                    <li class="js-titleMain"><h4>I can’t connect to the live servers/I’m having connection problems.</h4></li>
                    <li class="secondLi">
                        <p>

                            Check Your internet connection, please. perhaps we are undergoing some routine maintenance but we will make sure that You are connected all the time.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>Do you have a Twitter, Facebook or social media account I can follow?</h4></li>
                    <li class="secondLi">
                        <p>

                            Yes, simply click on Icons that are our site in the footer.

                        </p>
                    </li>
                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@


            <h3>Responsible Gambling</h3>
            <div class="global_column">
                <ul class="child_column">
                    <li class="js-titleMain">
                        <h4>Do you have any information on responsible gambling support?</h4>
                    </li>
                    <li class="secondLi">
                        <p>

                            alt.bet only accepts players of legal gambling age (18). We want members to enjoy gambling. We do not want anyone to suffer any hardship or cause their families or friends to suffer as a result of out of control gambling. alt.bet will help anyone who believes they are developing a gambling problem. We will suspend accounts or impose limits on customers we believe to be showing signs of problem gambling. alt.bet, however, cannot be held responsible for the actions of its members.
                            Responsible Gaming tips
                            For many people gambling is exciting, fun and entertaining, but if you feel you are developing a problem with gambling, here are some suggestions on how you can regain control: Decide on a loss limit ahead of time and stick to it. You can set this on the account limits page. Never borrow money to gamble. Balance gambling with other activities. Don't gamble when highly stressed, depressed or intoxicated. Only gamble with money set aside for entertainment, never with money for everyday expenses.
                            How to realize you have a problem
                            If you are leaving your family alone for long periods of time in order to gamble. If you argue frequently with family or friends about spending too much time and money on gambling and find that you cannot stop or limit yourself. If you are gambling money needed for housing, education, health care, food, clothing or utilities. When you are with your family, at work or at social events, you find that you are constantly thinking about your next bet.
                            Take Action
                            If you think you have a gambling problem, you should seek help and suspend your account until you resolve your issues. For your benefit, you will not be allowed to rejoin alt.bet for a minimum of six months. If you have any questions you can get in touch with alt.bet through our contact page.</a>.

                        </p>
                    </li>
                    <li class="js-titleMain"><h4>How can I set a deposit or loss limit on my account?</h4></li>
                    <li class="secondLi">
                        <p>You can set both deposit and loss limits on your account in the Settings. Once your deposit or loss limit has been set there will be a week pending period before an increase of your limits will take effect. Reductions will take effect immediately.</p>
                    </li>

                    <li class="js-titleMain"><h4>I wish to time out/take a break from using alt.bet.</h4></li>
                    <li class="secondLi">
                        <p>You can time out from alt.bet for one day, seven days or 31 days. During this time you will not be able to bet or use alt.bet. You can start a time out on your account here.</p>
                    </li>
                </ul> @*--------------------child column--------------------------*@

                <ul class="child_column">
                    <li class="js-titleMain"><h4>I wish to self-exclude from using alt.bet.</h4></li>
                    <li class="secondLi">
                        <p>

                            You can self-exclude from your account meaning you can no longer access your alt.bet account for the duration of the exclusion.
                            The minimum period for a self exclusion is six months. Once your chosen time period has elapsed, you can request your account to be re-opened, which must be completed by phoning our customer support line. You can initiate a self exclusion on your account here.
                            For exclusions above five years, or to permanently self-exclude, please contact our customer support team.

                        </p>
                    </li>

                    <li class="js-titleMain"><h4>I'm still stuck, what should I do now?</h4></li>
                    <li class="secondLi">
                        <p>

                            Contact us.

                        </p>
                    </li>

                </ul> @*--------------------child column--------------------------*@
            </div> @*------------------------global_column-----------------------------*@
        </div>
        </div>
</div>