@{
    ViewBag.Title = "_OddsDefinitions";
}


<div class="content page">
    <div class="page_wrapper">
        <div class="odds_page">
        <div class="static-page">
            <!--______________________________________ODS DEFINITIONS_________________________________________-->
            <div class="main_odds">
                <h2 class="common_title">Odds Definitions</h2>
                <div class="odds_definitions">
                    <!-- FIRST COLUMN_____________________________________________________________________________________________-->
                    <div class="first_div">
                        <!--Decimal Odds-->
                        <article class="infoOdds">
                            <h3>Decimal Odds</h3>
                            <p>
                                Decimal odds, also known as European odds since they are most commonly used in Europe, tell you the potential
                                amount you can win including the bet amount. For example if you bet $10 at decimal odds of 1.5, the total
                                return is $15 ($10 * 1.5), and the potential profit is $5 ($15 - original bet amount $10).
                            </p>
                        </article>

                        <!--Fractional Odds-->
                        <article class="infoOdds">
                            <h3>Fractional Odds</h3>
                            <p>
                                Fractional odds, also known as British or Traditional odds, are used mainly in the UK. They tell you the amount of profit relative to your stake if you win your bet.
                                For example, if you bet $10 at odds of 3/1, you will receive $30 of profit if you win.
                            </p>
                        </article>
                    </div>


                    <div class="second_div">
                        <!--Decimal to Fractional-->
                        <article class="infoOdds">
                            <h3>Decimal to Fractional</h3>
                            <p>
                                To convert decimal odds to fractional odds, substract 1 and convert to a fraction, then reduce to its simplest form.
                                <br>
                                <i class="example"> Example: 3.5 => 3.5 - 1 = 2.5/1 = 5/2 </i>
                            </p>
                        </article>

                        <!--Fractional to Decimal-->
                        <article class="infoOdds">
                            <h3>Fractional to Decimal</h3>
                            <p>
                                To convert fractional odds to decimal odds, convert the Fraction to a Decimal and add 1. <br>
                                <i class="example"> Example: 3/4 => (3/4) + 1 = 0.75 + 1 = 1.75</i>
                            </p>
                        </article>
                    </div>


                    <div class="third_div">
                        <!--Decimal to American-->
                        <article class="infoOdds">
                            <h3>Decimal to American</h3>
                            <p>
                                To convert decimal odds of 2.0 or higher, substract 1 and multiply by 100. <br>
                                <i class="example"> Example: 2.5 => 2.5 - 1 * 100 = +100</i> <br>
                                To convert decimal odds of 2.0 or less, substract 1 and then divide -100 by the odds. <br>
                                <i class="example"> Example: 1.5 => -100/(1.5 - 1) = -100/0.5 = -200</i>
                            </p>
                        </article>

                        <!--Fractional to American-->
                        <article class="infoOdds">
                            <h3>Fractional to American</h3>
                            <p>
                                To convert fractional odds that are over 1/1, convert the Fraction to Decimal and multiply by 100. <br>
                                <i class="example"> Example: 7/4 => (7/4) * 100 = 1.4 * 100 = +140</i> <br>
                                To convert fractional odds that are under 1/1, divide -100 by the Fraction as a Decimal. <br>
                                <i class="example"> Example: 1/4 => -100/(1/4) = -100/0.25 = -400</i>
                            </p>
                        </article>
                    </div>


                    <div class="fourth_div">
                        <!--American Odds-->
                        <article class="infoOdds">
                            <h3>American Odds</h3>
                            <p>
                                American odds, also known as Monelyline odds, are used most by US bookmakers. If the odds are positive, they tell you the amount you would win on a $100 bet.
                                If the odds are negative, they tell you the amount you would need to bet to win $100.
                            </p>
                        </article>

                        <!--American to Fractional-->
                        <article class="infoOdds">
                            <h3>American to Fractional</h3>
                            <p>
                                To convert positive (+) odds, divide the American by 100 and then reduce to its simplest form. <br>
                                <i class="example"> Example: +120 => (120/100) = 6/5 </i> <br>
                                To convert negative (-) odds, divide 100 by the American and then reduce to its simplest form. <br>
                                <i class="example"> Example: -120 => (100/120) = 5/6</i>
                            </p>
                        </article>
                    </div>


                    <div class="fifth_div">
                        <!--American to Decimal-->
                        <article class="infoOdds">
                            <h3>American to Decimal</h3>
                            <p>
                                To convert positive (+) odds, divide the American by 100 and add 1. <br>
                                <i class="example"> Example: +100 => (100/100) + 1 = 1 + 1 = 2.0</i> <br>
                                To convert negative (-) odds, divide 100 by the American, and add 1. <br>
                                <i class="example"> Example: -110 => -110/(100/110) + 1 = 1 + 0.9091 = 1.9091</i>
                            </p>
                        </article>


                        <!--Implied Odds-->
                        <article class="infoOdds">
                            <h3>Implied Odds</h3>
                            <p>
                                Implied odds are a percentage that tell you the perceived likelihood of an event occuring.
                                For example 2.0 Decimal odds are expected to be won once in every 2 attempts, hence the probability is 50%.
                            </p>
                        </article>
                    </div>
                </div>
            </div>

            <div class="boxForTable">
                <div class="center_title">
                    <!--Odds Conversion Chart-->
                    <h3>Odds Conversion Chart</h3>
                    <p>
                        For a quick comparison, use this pre-calculated odds chart to look up Decimal, Fractional, American and Implied odds.
                    </p>
                </div>
                <table class="table_glossary">
                    <thead>
                        <tr>
                            <th>Implied</th>
                            <th>Decimal</th>
                            <th>American</th>
                            <th>Fractional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="implied">0.01</td>
                            <td class="decimal">100.00</td>
                            <td class="american">9900</td>
                            <td class="fractional">99/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.02</td>
                            <td class="decimal">50.00</td>
                            <td class="american">4900</td>
                            <td class="fractional">49/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.03</td>
                            <td class="decimal">33.33</td>
                            <td class="american">3233</td>
                            <td class="fractional">97.3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.04</td>
                            <td class="decimal">25.00</td>
                            <td class="american">2400</td>
                            <td class="fractional">24/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.05</td>
                            <td class="decimal">20.00</td>
                            <td class="american">1900</td>
                            <td class="fractional">19/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.06</td>
                            <td class="decimal">16.67</td>
                            <td class="american">1567</td>
                            <td class="fractional">47/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.07</td>
                            <td class="decimal">14.29</td>
                            <td class="american">1329</td>
                            <td class="fractional">93/7</td>
                        </tr>
                        <tr>
                            <td class="implied">0.08</td>
                            <td class="decimal">12.50</td>
                            <td class="american">1150</td>
                            <td class="fractional">23/2</td>
                        </tr>
                        <tr>
                            <td class="implied">0.09</td>
                            <td class="decimal">11.11</td>
                            <td class="american">1011</td>
                            <td class="fractional">91/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.10</td>
                            <td class="decimal">10.00</td>
                            <td class="american">900</td>
                            <td class="fractional">9/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.11</td>
                            <td class="decimal">9.09</td>
                            <td class="american">809</td>
                            <td class="fractional">89/11</td>
                        </tr>
                        <tr>
                            <td class="implied">0.12</td>
                            <td class="decimal">8.33</td>
                            <td class="american">733</td>
                            <td class="fractional">22/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.13</td>
                            <td class="decimal">7.69</td>
                            <td class="american">669</td>
                            <td class="fractional">87/13</td>
                        </tr>
                        <tr>
                            <td class="implied">0.14</td>
                            <td class="decimal">7.14</td>
                            <td class="american">614</td>
                            <td class="fractional">47/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.15</td>
                            <td class="decimal">6.67</td>
                            <td class="american">567</td>
                            <td class="fractional">17/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.16</td>
                            <td class="decimal">6.25</td>
                            <td class="american">525</td>
                            <td class="fractional">21/4</td>
                        </tr>
                        <tr>
                            <td class="implied">0.17</td>
                            <td class="decimal">5.88</td>
                            <td class="american">488</td>
                            <td class="fractional">83/17</td>
                        </tr>
                        <tr>
                            <td class="implied">0.18</td>
                            <td class="decimal">5.56</td>
                            <td class="american">456</td>
                            <td class="fractional">41/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.19</td>
                            <td class="decimal">5.26</td>
                            <td class="american">426</td>
                            <td class="fractional">81/19</td>
                        </tr>
                        <tr>
                            <td class="implied">0.20</td>
                            <td class="decimal">5.00</td>
                            <td class="american">400</td>
                            <td class="fractional">4/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.21</td>
                            <td class="decimal">4.76</td>
                            <td class="american">376</td>
                            <td class="fractional">79/21</td>
                        </tr>
                        <tr>
                            <td class="implied">0.22</td>
                            <td class="decimal">4.55</td>
                            <td class="american">355</td>
                            <td class="fractional"> 38/11</td>
                        </tr>
                        <tr>
                            <td class="implied">0.23</td>
                            <td class="decimal">4.35</td>
                            <td class="american">335</td>
                            <td class="fractional">77/23</td>
                        </tr>
                        <tr>
                            <td class="implied">0.24</td>
                            <td class="decimal">4.17</td>
                            <td class="american">317</td>
                            <td class="fractional">19/6</td>
                        </tr>
                        <tr>
                            <td class="implied">0.25</td>
                            <td class="decimal">4.00</td>
                            <td class="american">300</td>
                            <td class="fractional">3/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.26</td>
                            <td class="decimal">3.85</td>
                            <td class="american">285</td>
                            <td class="fractional">37/13</td>
                        </tr>
                        <tr>
                            <td class="implied">0.27</td>
                            <td class="decimal">3.70</td>
                            <td class="american">270</td>
                            <td class="fractional">73/27</td>
                        </tr>
                        <tr>
                            <td class="implied">0.28</td>
                            <td class="decimal">3.57</td>
                            <td class="american">257</td>
                            <td class="fractional">18/7</td>
                        </tr>
                        <tr>
                            <td class="implied">0.29</td>
                            <td class="decimal">3.45</td>
                            <td class="american">245</td>
                            <td class="fractional">71/29</td>
                        </tr>
                        <tr>
                            <td class="implied">0.30</td>
                            <td class="decimal">3.33</td>
                            <td class="american">233</td>
                            <td class="fractional">7/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.31</td>
                            <td class="decimal">3.23</td>
                            <td class="american">223</td>
                            <td class="fractional">69/31</td>
                        </tr>
                        <tr>
                            <td class="implied">0.32</td>
                            <td class="decimal">3.13</td>
                            <td class="american">213</td>
                            <td class="fractional">17/8</td>
                        </tr>
                        <tr>
                            <td class="implied">0.33</td>
                            <td class="decimal">3.03</td>
                            <td class="american">203</td>
                            <td class="fractional">67/33</td>
                        </tr>
                        <tr>
                            <td class="implied">0.34</td>
                            <td class="decimal">2.94</td>
                            <td class="american">194</td>
                            <td class="fractional"> 33/17</td>
                        </tr>
                        <tr>
                            <td class="implied">0.35</td>
                            <td class="decimal">2.86</td>
                            <td class="american">186</td>
                            <td class="fractional">13/7</td>
                        </tr>
                        <tr>
                            <td class="implied">0.36</td>
                            <td class="decimal">2.78</td>
                            <td class="american">178</td>
                            <td class="fractional">16/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.37</td>
                            <td class="decimal">2.70</td>
                            <td class="american">170</td>
                            <td class="fractional">63/37</td>
                        </tr>
                        <tr>
                            <td class="implied">0.38</td>
                            <td class="decimal">2.63</td>
                            <td class="american">163</td>
                            <td class="fractional">31/19</td>
                        </tr>
                        <tr>
                            <td class="implied">0.39</td>
                            <td class="decimal">2.56</td>
                            <td class="american">156</td>
                            <td class="fractional">61/39</td>
                        </tr>
                        <tr>
                            <td class="implied">0.40</td>
                            <td class="decimal">2.50</td>
                            <td class="american">150</td>
                            <td class="fractional">3/2</td>
                        </tr>
                        <tr>
                            <td class="implied">0.41</td>
                            <td class="decimal">2.44</td>
                            <td class="american">144</td>
                            <td class="fractional">59/41</td>
                        </tr>
                        <tr>
                            <td class="implied">0.42</td>
                            <td class="decimal">2.38</td>
                            <td class="american">138</td>
                            <td class="fractional">29/21</td>
                        </tr>
                        <tr>
                            <td class="implied">0.43</td>
                            <td class="decimal">2.33</td>
                            <td class="american">133</td>
                            <td class="fractional">57/43</td>
                        </tr>
                        <tr>
                            <td class="implied">0.44</td>
                            <td class="decimal">2.27</td>
                            <td class="american">127</td>
                            <td class="fractional">14/11</td>
                        </tr>
                        <tr>
                            <td class="implied">0.45</td>
                            <td class="decimal">2.22</td>
                            <td class="american">122</td>
                            <td class="fractional">11/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.46</td>
                            <td class="decimal">2.17</td>
                            <td class="american">117</td>
                            <td class="fractional"> 27/23</td>
                        </tr>
                        <tr>
                            <td class="implied">0.47</td>
                            <td class="decimal">2.13</td>
                            <td class="american">113</td>
                            <td class="fractional">53/47</td>
                        </tr>
                        <tr>
                            <td class="implied">0.48</td>
                            <td class="decimal">2.08</td>
                            <td class="american">108</td>
                            <td class="fractional">13/12</td>
                        </tr>
                        <tr>
                            <td class="implied">0.49</td>
                            <td class="decimal">2.04</td>
                            <td class="american">104</td>
                            <td class="fractional">51/49</td>
                        </tr>
                        <tr>
                            <td class="implied">0.50</td>
                            <td class="decimal">2.00</td>
                            <td class="american">100</td>
                            <td class="fractional">1/1</td>
                        </tr>
                        <tr>
                            <td class="implied">0.51</td>
                            <td class="decimal">1.96</td>
                            <td class="american">-104</td>
                            <td class="fractional">49/51</td>
                        </tr>
                        <tr>
                            <td class="implied">0.52</td>
                            <td class="decimal">1.92</td>
                            <td class="american">-108</td>
                            <td class="fractional">12/13</td>
                        </tr>
                        <tr>
                            <td class="implied">0.53</td>
                            <td class="decimal">1.89</td>
                            <td class="american">-113</td>
                            <td class="fractional">47/53</td>
                        </tr>
                        <tr>
                            <td class="implied">0.54</td>
                            <td class="decimal">1.85</td>
                            <td class="american">-117</td>
                            <td class="fractional">23/27</td>
                        </tr>
                        <tr>
                            <td class="implied">0.55</td>
                            <td class="decimal">1.82</td>
                            <td class="american">-122</td>
                            <td class="fractional">9/11</td>
                        </tr>
                        <tr>
                            <td class="implied">0.56</td>
                            <td class="decimal">
                                1.79
                            </td>
                            <td class="american">-127</td>
                            <td class="fractional"> 11/14</td>
                        </tr>
                        <tr>
                            <td class="implied">0.57</td>
                            <td class="decimal">
                                1.75
                            </td>
                            <td class="american">-133</td>
                            <td class="fractional">43/57</td>
                        </tr>
                        <tr>
                            <td class="implied">0.58</td>
                            <td class="decimal">
                                1.72
                            </td>
                            <td class="american">-138</td>
                            <td class="fractional">21/29</td>
                        </tr>
                        <tr>
                            <td class="implied">0.59</td>
                            <td class="decimal">
                                1.69
                            </td>
                            <td class="american">-144</td>
                            <td class="fractional">41/59</td>
                        </tr>
                        <tr>
                            <td class="implied">0.60</td>
                            <td class="decimal">
                                1.67
                            </td>
                            <td class="american">-150</td>
                            <td class="fractional">2/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.61</td>
                            <td class="decimal">
                                1.64
                            </td>
                            <td class="american">-156</td>
                            <td class="fractional">39/61</td>
                        </tr>
                        <tr>
                            <td class="implied">0.62</td>
                            <td class="decimal">
                                1.61
                            </td>
                            <td class="american">-163</td>
                            <td class="fractional">19/31</td>
                        </tr>
                        <tr>
                            <td class="implied">0.63</td>
                            <td class="decimal">
                                1.59
                            </td>
                            <td class="american">-170</td>
                            <td class="fractional">37/63</td>
                        </tr>
                        <tr>
                            <td class="implied">0.64</td>
                            <td class="decimal">
                                1.56
                            </td>
                            <td class="american">-178</td>
                            <td class="fractional">16/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.65</td>
                            <td class="decimal">
                                1.54
                            </td>
                            <td class="american">-186</td>
                            <td class="fractional">7/13</td>
                        </tr>
                        <tr>
                            <td class="implied">0.66</td>
                            <td class="decimal">
                                1.52
                            </td>
                            <td class="american">-194</td>
                            <td class="fractional">17/33</td>
                        </tr>
                        <tr>
                            <td class="implied">0.67</td>
                            <td class="decimal">
                                1.49
                            </td>
                            <td class="american">-203</td>
                            <td class="fractional">33/67</td>
                        </tr>
                        <tr>
                        <tr>
                            <td class="implied">0.68</td>
                            <td class="decimal">
                                1.47
                            </td>
                            <td class="american">-213</td>
                            <td class="fractional">8/17</td>
                        </tr>
                        <tr>
                            <td class="implied">0.69</td>
                            <td class="decimal">
                                1.45
                            </td>
                            <td class="american">-223</td>
                            <td class="fractional">31/69</td>
                        </tr>
                        <tr>
                            <td class="implied">0.70</td>
                            <td class="decimal">
                                1.43
                            </td>
                            <td class="american">-233</td>
                            <td class="fractional">3/7</td>
                        </tr>
                        <tr>
                            <td class="implied">0.71</td>
                            <td class="decimal">
                                1.41
                            </td>
                            <td class="american">-245</td>
                            <td class="fractional">29/71</td>
                        </tr>
                        <tr>
                            <td class="implied">0.72</td>
                            <td class="decimal">
                                1.39
                            </td>
                            <td class="american">-257</td>
                            <td class="fractional">7/18</td>
                        </tr>
                        <tr>
                            <td class="implied">0.73</td>
                            <td class="decimal">
                                1.37
                            </td>
                            <td class="american">-270</td>
                            <td class="fractional">27/73</td>
                        </tr>
                        <tr>
                            <td class="implied">0.74</td>
                            <td class="decimal">
                                1.35
                            </td>
                            <td class="american">-285</td>
                            <td class="fractional">13/37</td>
                        </tr>
                        <tr>
                            <td class="implied">0.75</td>
                            <td class="decimal">
                                1.33
                            </td>
                            <td class="american">-300</td>
                            <td class="fractional">1/3</td>
                        </tr>
                        <tr>
                            <td class="implied">0.76</td>
                            <td class="decimal">
                                1.32
                            </td>
                            <td class="american">-317</td>
                            <td class="fractional">6/19</td>
                        </tr>
                        <tr>
                            <td class="implied">0.77</td>
                            <td class="decimal">
                                1.30
                            </td>
                            <td class="american">-335</td>
                            <td class="fractional">23/77</td>
                        </tr>
                        <tr>
                            <td class="implied">0.78</td>
                            <td class="decimal">
                                1.28
                            </td>
                            <td class="american">-355</td>
                            <td class="fractional">11/38</td>
                        </tr>
                        <tr>
                            <td class="implied">0.79</td>
                            <td class="decimal">
                                1.27
                            </td>
                            <td class="american">-376</td>
                            <td class="fractional">21/79</td>
                        </tr>
                        <tr>
                            <td class="implied">0.80</td>
                            <td class="decimal">
                                1.25
                            </td>
                            <td class="american">-400</td>
                            <td class="fractional">1/4</td>
                        </tr>
                        <tr>
                            <td class="implied">0.81</td>
                            <td class="decimal">1.23</td>
                            <td class="american">-426</td>
                            <td class="fractional">19/81</td>
                        </tr>
                        <tr>
                            <td class="implied">0.82</td>
                            <td class="decimal">
                                1.22

                            </td>
                            <td class="american">-456</td>
                            <td class="fractional">9/41</td>
                        </tr>
                        <tr>
                            <td class="implied">0.83</td>
                            <td class="decimal">
                                1.20
                            </td>
                            <td class="american">-488</td>
                            <td class="fractional">17/83</td>
                        </tr>
                        <tr>
                            <td class="implied">0.84</td>
                            <td class="decimal">
                                1.19
                            </td>
                            <td class="american">-525</td>
                            <td class="fractional">4/21</td>
                        </tr>
                        <tr>
                            <td class="implied">0.85</td>
                            <td class="decimal">
                                1.18
                            </td>
                            <td class="american">-567</td>
                            <td class="fractional">3/17</td>
                        </tr>
                        <tr>
                            <td class="implied">0.86</td>
                            <td class="decimal">
                                1.16
                            </td>
                            <td class="american">-614</td>
                            <td class="fractional">7/43</td>
                        </tr>
                        <tr>
                            <td class="implied">0.87</td>
                            <td class="decimal">
                                1.15
                            </td>
                            <td class="american">-669</td>
                            <td class="fractional">13/87</td>
                        </tr>
                        <tr>
                            <td class="implied">0.88</td>
                            <td class="decimal">
                                1.14
                            </td>
                            <td class="american">-733</td>
                            <td class="fractional">3/22</td>
                        </tr>
                        <tr>
                            <td class="implied">0.89</td>
                            <td class="decimal">
                                1.12
                            </td>
                            <td class="american">-809</td>
                            <td class="fractional">11/89</td>
                        </tr>
                        <tr>
                            <td class="implied">0.90</td>
                            <td class="decimal">
                                1.11
                            </td>
                            <td class="american">-900</td>
                            <td class="fractional">1/9</td>
                        </tr>
                        <tr>
                            <td class="implied">0.91</td>
                            <td class="decimal">
                                1.10
                            </td>
                            <td class="american">-1011</td>
                            <td class="fractional">9/91</td>
                        </tr>
                        <tr>
                            <td class="implied">0.92</td>
                            <td class="decimal">
                                1.09
                            </td>
                            <td class="american">-1150</td>
                            <td class="fractional">2/32</td>
                        </tr>
                        <tr>
                            <td class="implied">0.93</td>
                            <td class="decimal">
                                1.08
                            </td>
                            <td class="american">-1329</td>
                            <td class="fractional">7/93</td>
                        </tr>
                        <tr>
                            <td class="implied">0.94</td>
                            <td class="decimal">
                                1.06
                            </td>
                            <td class="american">-1567</td>
                            <td class="fractional">3/47</td>
                        </tr>
                        <tr>
                            <td class="implied">0.95</td>
                            <td class="decimal">
                                1.05
                            </td>
                            <td class="american">-1900</td>
                            <td class="fractional">1/19</td>
                        </tr>
                        <tr>
                            <td class="implied">0.96</td>
                            <td class="decimal">
                                1.04
                            </td>
                            <td class="american">-2400</td>
                            <td class="fractional">1/24</td>
                        </tr>
                        <tr>
                            <td class="implied">0.97</td>
                            <td class="decimal">
                                1.03
                            </td>
                            <td class="american">-3233</td>
                            <td class="fractional">3/97</td>
                        </tr>
                        <tr>
                            <td class="implied">0.98</td>
                            <td class="decimal">
                                1.02
                            </td>
                            <td class="american">-4900</td>
                            <td class="fractional">1/49</td>
                        </tr>
                        <tr>
                            <td class="implied">0.99</td>
                            <td class="decimal">
                                1.01
                            </td>
                            <td class="american">-9900</td>
                            <td class="fractional">1/99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </div>
    </div>
