@{
    ViewBag.Title = "TermsAndConditions";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="static-page">
    <div class="content page">
        <div class="page_wrapper term">
            <div class="titlesBox">
                <h2 class="common_title">Terms and Conditions</h2>
                <p class="under_title">
                    If you have any questions or concerns take a look at our @*@Html.ActionLink("frequently asked questions", "GetStaticPage", "Home", new { name = "Help" }, new { })*@<a href="/eng/footer/Help">frequently asked questions</a> or get in touch with us.
                </p>
            </div>

            <div class="global_column">
                <div class="child_column">
                    <ul class="introduction intro">
                        <li class="js-titleMain"><h4>1. Introduction</h4></li>
                        <li class="secondLi">
                            <p>
                                <strong>alt.bet</strong> Exchange B.V is a company registered on the 6 May 2016 under the laws of
                                Curacao; Registration
                                number: 140039; Registered address: Xecutive Corporate Management B.V., Orionweg 10C, Willemstad, Curacao. <strong>alt.bet</strong> Exchange B.V is trading
                                under the name
                                <strong>alt.bet</strong>. Accordingly any reference to <strong>alt.bet</strong> shall be construed as
                                constituting a reference to <strong>alt.bet</strong>
                                Exchange B.V.
                            </p>
                        </li>
                    </ul>

                    <ul class="account intro">
                        <li class="js-titleMain"><h4>2. Account Rules </h4></li>
                        <li class="secondLi">
                            <p>
                                Any account holder applying for an account must be at least eighteen years old. There may be some
                                jurisdictions in which the minimum legal age for participation in gambling activities is higher than
                                eighteen. It is solely your responsibility to comply with such requirements in your jurisdiction.
                            </p>
                        </li>
                    </ul>

                    <ul class="inactive intro">
                        <li class="js-titleMain"><h4>3. Inactive Accounts</h4></li>
                        <li class="secondLi">
                            <p>
                                An inactive account is any gaming account that has been inactive for a period of twelve (12) months or
                                more,
                                meaning that you have not logged in for that period of time.
                            </p>
                        </li>
                    </ul>

                    <ul class="intro">
                        <li class="js-titleMain"><h4>4. Deposits, Transfers and Withdrawals</h4></li>
                        <li class="secondLi">
                            <p>
                                Deposits can be made into the account by bank transfer, credit card, debit card, Skrill or Neteller. The
                                name on the card or the bank account should be identical to that of the account holder. If this is not
                                the
                                case, the deposit will be rejected and the funds transferred back. Any charges levied by the banks
                                and/or
                                payment gateways will be deducted from the reversed amount.
                            </p>
                        </li>
                    </ul>

                    <ul class="intro">
                        <li class="js-titleMain"><h4>5. Betting Rules.</h4></li>
                        <li class="secondLi">
                            <p>
                                Capitalized terms which are not defined in these Betting Rules will have the meaning given to them in the <a href="#">Terms and Conditions.</a>
                            </p>
                        </li>
                    </ul>

                    <ul class="intro">
                        <li class="js-titleMain"><h4>6. Multi-currency</h4></li>
                    </ul>
                    <ul class="intro">
                        <li class="js-titleMain"><h4>7. Data Usage</h4></li>
                    </ul>
                </div>


            <div class="child_column">
                <ul>
                <li class="responsible1 intro">
                <li class="js-titleMain">
                    <h4>8. Responsible Gaming</h4>
                </li>
                <li class="copyrights1 intro">
                <li class="js-titleMain">
                    <h4>9. Copyrights</h4>
                </li>
                <li class="liability1 intro">
                <li class="js-titleMain">
                    <h4>10. Liability</h4>
                </li>
                <li class="privacy1 intro">
                <li class="js-titleMain">
                    <h4>11. Privacy Policy</h4>
                </li>
                <li class="difficulties1 intro">
                <li class="js-titleMain">
                    <h4>12. technical difficulties</h4>
                </li>
                <li class="complaints1 intro">
                <li class="js-titleMain">
                    <h4>13. Complaints</h4>
                </li>
                </ul>
            </div>
        </div>
<!--main <div> second-->
<div class="main_boxes_second">
    <div class="betting">

        <h2>Betting Rules.</h2>
        <div class="bettingForP">
            <p>
                Capitalized terms which are not defined in these Betting Rules will have the meaning given to them in the <span>Terms and Conditions</span>.
            </p>
        </div>

        <h3>Definitions. </h3>
        <article class="article_p">
            <p class="individual_p1">
                Exchange and Asset are created when an event is scheduled to occur. An Asset may be one or more Contracts which can
                be bought or sold at any point before the conclusion of an Event. If you decide to sell a Contract or a number of
                Contract s which make up an Asset it will become an Order. Event means a real life event determined by Alt.Bet
                Exchange. Matched Order means the point in time at which an Order is matched by an opposite Order on the Platform.
                Order means an offer made by a user to either buy or sell a Contract relating to an Event awaiting a counter offer
                made by another user prior to such Order becoming a Matched Order. Any Order will always include the quantity of
                Contracts and the price per Contract available to be bought or sold. Reference Price means 100 cents for each Contract
                bought by a user who predicts the outcome of an Event correctly. Settlement means that if an Order placed regarding an
                Event is correct and has become an Asset, then the user who placed the Order will have their account credited with the
                relevant amount of winnings.
            </p>

            <p class="individual_p2">
                Trading Floor means the designated area(s) on the Platform open for a specific Event and
                which contain sub Trading Floors. Such area permits users to place Orders. Subject to any other applicable provisions,
                when an Event ends, the relevant Trading Floor shall be closed to any further trading. Contract means one contract
                between users to buy an expected outcome of an Event. Contract Price means the price, in pence, that reflects the odds
                of an Event to occur or to not occur as a function of 100 cents. Wager means the number of Contracts X Contract Price.
                Portfolio gathers the range of Assets and Orders that each user holds in each Trading Floor. Your Balance Your
                available balance for betting will be calculated as follows:
                The money which you have deposited in your account
                + The money which you have won which has yet to be withdrawn from your account + Bonuses granted to you which are
                available to bet with - The money which you have lost - Orders - Commission
            </p>
        </article>
        <h3 class="rules">The Rules: </h3>

        <div class="globalBoxLists">
            <!--_____________________first LIST_____________________________________________________________________________________-->
            <ul class="first_one">
                <li>Once a Trading Floor is opened each user of the <strong>alt.bet</strong> is permitted to enter it.</li>
                <li>
                    Each user can bet on an Event in a Trading Floor and predict the outcome of an Event in accordance with the
                    statement presented in the Trading Floor.
                </li>
                <li>
                    For illustration purposes only: If a user decides to bet on "Yes", meaning that the Event will end in accordance
                    with the statement presented in the <span>Trading Floor:</span>
                    <ul>
                        <li>
                            <span class="letter">a)</span> If the Event ends as the user predicted (i.e. the answer is YES to the statement presented)- the user will
                            be credited the Reference Price multiplied by the number of Contracts bought.
                        </li>
                        <li>
                            <span class="letter">b)</span> If the Event ends not as the user predicted (i.e. t the answer is NO to the statement presented)- the user
                            will lose his Wager. If a user decides to bet on "No", meaning that the Event will not end in accordance with
                            the statement presented in the Trading Floor:
                            <ul>
                                <li>
                                    <span class="letter">a)</span> If the Event ends as the user predicted (i.e. the answer is NO to the statement presented) - the user
                                    will be credited the Reference Price multiplied by the number of Contracts bought.
                                </li>
                                <li>
                                    <span class="letter">b)</span> If the Event ends not as the user predicted (i.e. the answer is YES to the statement presented) - the
                                    user will lose his Wager.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <br>
                    If the Event is not completed and its outcome settled within 48 hours of its scheduled completion time and date for
                    any reason, the outcome of the Event will be considered as a “No” to the statement presented. By way of example
                    only: The statement in the Trading Floor is: REAL MADRID vs. BARCELONA User buys REAL MADRID WINS – the user will be
                    credited the Reference Price multiplied by the number of Contracts bought If REAL MADRID DOES NOT WIN (either Real
                    Madrid loses) – user loses his Wager.
                </li>
                <li>Each Order and Asset will appear on your ACTIVITIES screen on the main menu of the Application.</li>
                <br>
                <li>A user can find his/her Portfolio on the main menu of the Application. The Trading Floor</li>
                <li>
                    There may be several Trading Floors on the same Event however each Trading Floor will have a different statement
                    with regards of the Event.
                </li>
                <li>
                    <span class="letter">A Trading Floor is divided in to two sub Trading Floors:</span>
                    <ul>
                        <li><span class="letter">a)</span> Sub Trading Floor on YES- agreeing with the statement</li>
                        <li><span class="letter">b)</span> Trading Floor on NO - disagreeing with the statement</li>
                    </ul>
                </li>
                <li>
                    In each of the sub Floors users will be presented the relevant data that are specific to that sub Floor such as
                    BID and ASK tables.
                </li>
                <br>
                <li>
                    <span class="letter">At the conclusion of the Event:</span>
                    <ul>
                        <li><span class="letter">a)</span> The Trading Floors and all related sub Trading Floors in relation to the Event will cease to exist.</li>
                        <li>
                            <span class="letter">b)</span> The Platform will automatically aggregate the results of all Assets in relation to the applicable Event.
                            Subject to any verification and validation carried out by us, the relevant funds will then be transferred, by
                            the Platform:
                            <ul>
                                <li>
                                    <span class="letter">i)</span> Each user who predicted the statement correctly will receive the Reference Price multiplied by the
                                    number of Contracts bought.
                                </li>
                                <li><span class="letter">ii)</span> Each user who incorrectly predicted the outcome of the statement will lose the Wager.</li>
                            </ul>
                            <br>
                        </li>
                    </ul>
                </li>
                <li>
                    We reserve the right to close a Trading Floor and all related sub Trading Floors at any time for reason which
                    include but are not limited to preventing fraud or preserving orderly and integrity of markets. In such
                    circumstances, all Orders and Assets related in any way whatsoever to the Trading Floor or sub Trading Floor closed
                    will be voided and users will have the relevant amount withdrawn from their accounts refunded. However, the
                    Commission shall not be refunded.
                </li>
                <li>
                    We bear no responsibility for monitoring and managing the status of your Orders and Assets. You are responsible
                    for monitoring your Order, Matched Orders and Assets. The Bet
                </li>
                <li>There is no limit to the amount of users who can participate in a Trading Floor or sub Trading Floor.</li>
                <br>
                <li>
                    A user cannot place a bet greater to the balance available in his account following the deduction of the
                    Commission with respect to such bet.
                </li>
                <li>
                    The Platform will present to you in each Trading Floor and sub Trading Floor at least the three highest offers to
                    buy and the three lowest offers to sell.
                </li>
                <li>Upon making an Order, you grant to us an irrevocable authority to accept a Matched Order on your behalf.</li>
                <br>
                <li>
                    The Platform automatically searches for matching Contract Prices in the sub <span class="letter">Trading Floor:</span>
                    <ul>
                        <li>
                            <span class="letter">a)</span> If a user offers to buy a Contract at the available or a higher price than the available selling prices of
                            that Contract, a Matched Order will automatically occur at the available selling price.
                        </li>
                        <li>
                            <span class="letter">
                                b)
                            </span> If a user offers to buy the Contract at a lower price than the available selling prices of such Contract
                            the Order will automatically await a Matched Order until such Matched Order occurs or until the Event is
                            completed and the Order is voided.
                        </li>
                    </ul>
                    <br>
                </li>
                <li>
                    Following the Contract Price being matched, the Platform will automatically seek to match the quantity of
                    <span class="letter">
                        Contracts requested or offered by the user:
                    </span>
                    <ul>
                        <li>
                            <span class="letter">
                                a)
                            </span> If the quantity of Contracts requested to be bought is less than or equal to the quantity of Contracts
                            offered to be sold an automatic Matched Order will occur and an Asset will be created.
                        </li>
                        <li>
                            <span class="letter">
                                b)
                            </span> If the quantity of Contracts requested to be bought is greater than the quantity of Contracts offered to be
                            sold a Matched Order will occur for the available quantity of Contract s offered in the sub Trading Floor and an
                            Asset will be created, while the remaining Contracts which do not Matched Order will remain as an Order.
                        </li>

                    </ul>
                </li>
                <li>Please note that there is no certainty of a Matched Orders. Pending Orders and Assets</li>
            </ul>
            <br>

            <!--_____________________SECOND LIST_____________________________________________________________________________________-->
            <ul class="second_one">
                <li>
                    An Order may be canceled by a user prior to a Matched Order. In the event that an Order is cancelled by you prior
                    to a Matched Order, the relevant sum withdrawn from your account will be refunded to your account.
                </li>
                <li>
                    No cancellation of an Order will be effective until the Order is removed from the Platform and is no longer
                    displayed.
                </li>
                <br>
                <li>
                    As an Order is available to other users until cancelled, there is a possibility that such Order may be accepted
                    and matched by the Platform before the cancellation request can be completed, resulting in a Matched Order and
                    automatically voiding the cancellation request. <strong>Alt.Bet</strong> Exchange bears no responsibility for delays which may arise
                    between the time a cancellation order is initiated and the time it is actually cancelled.
                </li>
                <br>
                <li>
                    When the relevant Event ends all related unmatched Orders will be cancelled by us. In such case, the relevant sum
                    withdrawn from your account will be refunded to your account.
                </li>
                <li>
                    Without restricting our ability to rely on other remedies that may be available to us, we may terminate your
                    account/(s), cancel any relates Orders, or void any relevant Assets at our absolute discretion if for reasons which
                    include but are not limited to <a href="http://alt.bet/" class="altbet_span">alt.bet:</a>
                    <ul>
                        <li><span class="letter">a.</span> suspecting that a user is acting on someone else’s behalf;</li>
                        <li><span class="letter">b.</span> suspecting that users are acting in concert with other users;</li>
                        <li><span class="letter">c.</span> suspecting that a user is engaging in illegal or fraudulent activity while using the Platform;</li>
                        <li><span class="letter">d.</span> suspecting that you are breaching or are in breach of any provision of the Agreement;</li>
                        <li><span class="letter">e.</span> suspecting that you are acting in a manner that is detrimental to the conduct of our business;</li>
                        <li>
                            <span class="letter">
                                f.
                            </span> suspecting that it is illegal for you a user to interact with the Platform in any way; g. is unable to
                            verify any of your registration details; or
                        </li>
                        <li>
                            <span class="letter">
                                g.
                            </span> is required to do so by law or regulation. In such circumstances, we will be under no obligation to provide
                            any reasons for such actions, and all related Orders and related Assets will be voided and users will have the
                            relevant amount withdrawn from their accounts refunded. However, the Commission shall not be refunded.
                        </li>
                    </ul>
                    <br>
                </li>
                <li>
                    Settlement shall occur on the official result of the relevant governing body at the end of the relevant Event
                    regardless of any subsequent disqualification or amendment to the result.
                </li>
                <li>
                    In the event of any uncertainty about any result or potential result of the Event, we reserve the right to suspend
                    Settlement of any related Asset for an unlimited period until the uncertainty can be resolved to our reasonable
                    satisfaction. We reserve the right to void any Asset related to the Event if the uncertainty regarding the outcome
                    of an Event cannot be resolved to our reasonable satisfaction.
                </li>
                <br>
                <li>
                    Assets will generally be settled as soon as the result can be confirmed. We reserve the right to amend a
                    Settlement if the official result is different to that used for the original Settlement.
                </li>
                <li>
                    Following Settlement, we reserve the right to correct errors of Settlement. If, following correction of a
                    Settlement, the balance on your account becomes negative, you must immediately deposit sufficient funds into your
                    account to increase the balance to an amount at least equal to zero. If you fail to deposit the relevant amount,
                    without derogating from any other remedies available to us, we will be entitled to close your account and terminate
                    the Agreement.
                </li>
                <br>
                <li>
                    If an <span class="letter_other">
                        Asset is incorrectly
                    </span> settled and this causes your account to have a negative balance, we reserve the right
                    to transfer funds from any other of your accounts held with us to return the balance of your account.
                </li>
                If we
                <span class="letter_other">
                    wrongly pay
                </span> an amount to you or we pay you more than the amount to which you are properly entitled, you agree to
                repay to us immediately upon request from us the amount which has been wrongly paid or overpaid to you. We may adjust
                your account to reflect the true outcome and rectify the error. If you fail to deposit the relevant amount, without
                derogating from any other remedies available to us, we will be entitled to close your account and terminate the
                Agreement. Miscellaneous .</li>
                <li>
                    If there is a <span class="letter_other">
                        change to the scheduled venue for an Event
                    </span> then all Orders and Assets will stand, unless the new
                    venue is the home ground of the team originally listed as the away team. If the new venue is the home ground of the
                    team originally listed as the away team all Orders and Assets in relation to the Event shall be void and we shall
                    refund any funds removed from your account, however we shall be entitled retain the Commission.
                </li>
                <li>
                    If <span class="letter_other">
                        incorrect data or information is displayed in a Trading Floor
                    </span>, sub Trading Floors, or if a Trading Floor or sub
                    Trading Floor includes any obvious error, we reserve the right to void all Orders and Assets in relation to the
                    relevant Trading Floor or sub Trading Floor (as applicable). In such circumstance, users will have the relevant
                    amount withdrawn from their accounts refunded. However, the Commission shall not be refunded.
                </li>
                <li>
                    If an <span class="letter_other">
                        account is terminated, frozen or suspended
                    </span> we shall be entitled to void all related Orders placed by
                    applicable users and related shared Assets. In such circumstance, users will have the relevant amount withdrawn from
                    their accounts refunded. However, the Commission shall not be refunded.
                </li>
                <br>
                <li>
                    In the event we void any Assets, we shall be entitled to void all related Orders placed by applicable users as
                    well as any shared Assets. In such circumstance, users will have the relevant amount withdrawn from their accounts
                    refunded. However, the Commission shall not be refunded.
                </li>

            </ul>
        </div> <!--global lists_____________________________________________________________________________________________________-->
    </div>

    <div class="global_section">
        <!--first section_______________________________________________________________-->
        <div class="common_section">
            <div class="currency commDiv">
                <h3>Currency</h3>
                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> offers you the ability to bet in US$.
                </p>

                <p> Any orders on the exchange will appear to you to be in their own currency.</p>

                <p>
                    Upon placing an order it will be converted to a quantity linked to the value of $US at an exchange rate
                    set
                </p>
                by <strong class="letter">alt.bet</strong>. This will be invisible to you.

                <p> The value of bets will not be affected by fluctuations in the exchange rate.</p>

                <p> You are limited to betting in one currency.</p>

                <p>
                    Requests to change your currency must be directed in writing to <a class="altbet_span" href="mailTo:support@alt.bet">support@alt.bet</a>.
                </p>
            </div>

            <div class="usage commDiv">
                <h3>Data Usage</h3>
                <p>
                    The event and sports data, including data provided by contracted data provider, may only be used for
                    your
                    personal use and the distribution or commercial exploitation of the data is prohibited.
                </p>

                <p> Use of event or sports data, including from contracted data provider, is at your sole risk.</p>

                <p>
                    Neither the <strong>alt.bet</strong> nor any of our sports data licensors gives any warranty that the
                    supply
                    of the data will
                    be uninterrupted or as to the accuracy of the data.
                </p>

                <p>
                    Scores shown on site in-play are subject to a delay and may not be accurate at the time you place your
                    bet.
                    You are responsible for ensuring the state of the match at the time you place your bet.
                </p>
            </div>
        </div>

        <!--second section_______________________________________________________________-->
        <div class="common_section">
            <div class="responsible commDiv">
                <h3>Responsible Gaming</h3>
                <p>
                    You may set your own limits on the amount you want to allow yourself to bet or deposit in a specified
                    period
                    of time. You can remove the limit through the Account function after the user-specified time period
                    elapses.
                </p>

                <p> Changes to account limits, restrictions or exclusions are subject to a seven-day cooling off period.</p>

                <p>
                    You have the right to self-exclude from your account for a definite or indefinite period of time should
                    you
                    no longer wish to bet. It is not possible to re-open your account during the term of the self-exclusion.
                    However, you can increase the term of your self-exclusion at any time and the increase will take effect
                    immediately after it is received. A self-exclusion will remain in force at the expiry of the term of the
                    self- exclusion unless you take steps to re-activate your account (a one day cooling off period will
                    apply).
                    <strong>alt.bet</strong> will not accept a wager from you contrary to an exclusion set by you under this
                    regulation.
                </p>

                <p> Please refer to our Responsible Gaming policy for more information. </p>
            </div>

            <div class="copyrights commDiv">
                <h3>Copyrights</h3>
                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> and its logo are trademarks of <strong>alt.bet</strong> Exchange B.V. Any
                    unauthorized use of the brand and/or the
                    logo of <strong>alt.bet</strong> could lead to legal prosecution by <strong>alt.bet</strong>. All of the
                    contents found on the website pages
                    of <strong>alt.bet</strong> as well as its URLs are owned by <strong>alt.bet</strong> . Any unauthorized
                    reproduction or use of this URL
                    address or of the contents of the <strong>alt.bet</strong> website could lead to legal prosecution.
                </p>
            </div>
        </div>

        <!--third section_______________________________________________________________-->
        <div class="common_section">
            <div class="liability commDiv">
                <h3>Liability</h3>
                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> is only liable for gross negligence or deliberate actions carried out by its
                    management, employees
                    or various agents.
                </p>

                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> is not responsible for the services, pages or contents of websites to which links
                    may be provided
                    from time to time from the <strong>alt.bet</strong> website.
                </p>

                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> is not responsible for any consequences resulting from major incidents such as any
                    strike, terrorist
                    activities, political crisis, war, and saturation of the telecommunication networks, natural catastrophe, or
                    any other matter beyond.
                </p>

                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a>'s control; which could lead to a total or partial reduction, to the access to its
                    services, on
                    Internet or by phone. In such an event, we may (in our sole and absolute discretion) cancel or suspend
                    <strong>alt.bet</strong> services without incurring any liability.
                </p>

                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> is not to be held responsible for the consequences caused by the breakdown of any
                    device or
                    software, directly managed or outsourced, which could lead to a total or partial reduction to the access of
                    its Services, via Internet or by phone.
                </p>

                <p>
                    In the event of any mistake or negligent act from <strong>alt.bet</strong>’s part, in relation to these
                    terms and conditions,
                    the compensation available to you would never be any higher than the available funds on your account or the
                    amount of the bets involved in the mistake or negligent act.
                </p>

                <p>
                    Should one or more term or condition of this agreement be declared void by a recognized Court of Justice,
                    then the remaining terms and conditions would retain their validity.
                </p>

                <p>
                    These terms and conditions represent the whole of the agreement between <strong>alt.bet</strong> and you,
                    and replace any
                    previous written or verbal agreement, communicated by or to <strong>alt.bet</strong>.
                </p>

                <p>
                    <a href="http://alt.bet/" class="altbet_span">alt.bet</a> does not accept any liability whatsoever for damage to you or a third party which
                    arises directly or
                    indirectly from a mistake, misprint, malfunction of software on the <strong>alt.bet</strong> website or that
                    of any of its
                    affiliates and/or partners.
                </p>
            </div>

            <div class="privacy commDiv">
                <h3>Privacy Policy</h3>
                <p>
                    We take your privacy seriously. Please see our Privacy Policy for more detail.
                </p>

                <p> You hereby agree that anonymous betting information may be shared with third- party partners.</p>

                <p>
                    You hereby agree and accept to receive marketing communications from <strong>alt.bet</strong> unless you
                    have chosen to opt
                    out by updating your settings.
                </p>

                <p>
                    You agree that your personal details provided to <strong>alt.bet</strong> as part of the account
                    registration as well as
                    documents provided to <strong>alt.bet</strong> as part of any identity verification process shall be kept on
                    file on
                    <strong>alt.bet</strong>’s servers and may be transferred to the relevant authorities if and when requested.
                </p>

                <p>
                    As part of the registration process, we may supply your information details to authorized credit reference
                    agencies to confirm your identity and payment card details. You agree that we may process such information
                    in connection with your registration.
                </p>

                <p>
                    <strong>alt.bet</strong> uses the personal information and other information the Company (or others on its
                    behalf) collect
                    from or about you to deliver the services, to provide customer support and to undertake necessary security
                    and identity verification checks (including checks by trusted 3rd parties).
                </p>

                <p>
                    The Company will retain all of Your Personal Information for the time set by applicable legislation and the
                    directives of regulators. While You may request from the Company to erase any and all of Your Personal
                    Information, the request will be answered only as long as it is compliant with applicable legislation and
                    the directives of the regulators.
                </p>

                <p>
                    By accessing, continuing to use or navigating through <strong>alt.bet</strong> you accept that we will use
                    certain browser
                    cookies to improve your customer experience with us. We only use cookies, which will improve your experience
                    and will not interfere with your privacy. Please refer to our Cookies Policy for further information on our
                    use of cookies and how you can disable or manage their use should you wish.
                </p>
            </div>
        </div>
    </div>
    </div>
        </div> <!--static page-->
