<div class="js-dialog">
    <div class="modal {{type}}" data-js="wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-js="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" data-js="BtnClose">×</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    {{{modalBody}}}
                </div>
                <div class="modal-footer">
                    {{#if type}}
                        {{#unless noCancel}}
                            <button type="button" class="btn btn-outline pull-left" data-js="cancel" data-dismiss="modal">
                                {{#if btnCancelTitle}}
                                {{btnCancelTitle}}
                                {{else}}
                                Cancel
                                {{/if}}
                            </button>
                        {{/unless}}
                        <div class="loading-inline" data-js="loading"></div>
                        <button type="button" class="btn btn-outline" data-js="ok">{{btnOkTitle}}</button>
                    {{else}}
                        <button type="button" class="btn btn-default pull-left" data-js="cancel" data-dismiss="modal">{{iif btnCancelTitle btnCancelTitle "Cancel"}}</button>
                        <div class="loading-inline" data-js="loading"></div>
                        <button type="button" class="btn btn-primary" data-js="ok">{{btnOkTitle}}</button>
                    {{/if}}
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>