@using AltBet.Exchange

<div class="js-dialog status-dialog">
    <div class="modal {{type}}" data-js="wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-js="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-js="BtnClose">×</span>
                        </button>
                        <h4 class="modal-title">{{title}}</h4>
                    </div>
                    <div class="modal-body">
                            <div class="text-center">
                                Set status <span class="label label-default">Settlement</span> for “{{exchName}}” ?
                                <br/>
                                <br/>
                                Choose the exchange result:
                                <br/>
                                <br/>
                                <input name="percent" data-js-percent="" type="hidden" value="1"/>
                                <input name="win" data-js-wintype="" type="hidden" value=""/>
@*                                <input name="win" data-js-wintypestr="" type="hidden" value="{{homeName}}"/>*@
                                <div class="btn-group-vertical chk-settmnt">
                                    <button type="button" data-js-btn-side="" data-id="0" data-class="btn btn-info" class="btn btn-info active">&nbsp;&nbsp;</button>
                                    <button type="button" data-js-btn-side="" data-id="1" data-class="btn btn-danger" class="btn btn-default">&nbsp;&nbsp;</button>
                                </div>
                                <div class="settlement" data-js-side-labels="">
                                    <span style="font-weight: bold">Settlement</span>&nbsp;&nbsp;<input type="text" value="1" data-field-filter="digits;max:3"/>
                                    <br/>
                                    <span>Emergency finish</span>
                                </div>
                                
                                <div class="-red" data-js-error-message=""></div>
                            </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-js="cancel" data-dismiss="modal">Cancel</button>
                        <div class="loading-inline" data-js="loading"></div>
                        <button type="button" class="btn btn-primary" data-js="ok">OK</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>