//order_sidebar=========================================================================================================
$order_sidebar_bg: #fff;
$order_sidebar_tab_color: #3498da;
$order_sidebar_head_separator: #e9eaee;
@mixin order_sidebar_tab_separator{
	&:first-child{  border-right: none;  }
	&:last-child{
		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 25px;
			background: #273456;
			position: absolute;
			top: 39px;
			left: 0;
			opacity: 0.1;
		}
	}
}
@mixin order_sidebar_current_order_title_buy{
	//.edit{
	//	border-left: 1px solid rgba(53, 153, 218, 0.2);
	//	border-bottom: 1px solid rgba(53, 153, 218, 0.2);
	//}
	//.delete{
	//	border-left: 1px solid rgba(53, 153, 218, 0.2);
	//}
}
@mixin order_sidebar_current_order_title_sell{
	//.edit{
	//	border-left: 1px solid rgba(239, 77, 33, 0.2);
	//	border-bottom: 1px solid rgba(239, 77, 33, 0.2);
	//}
	//.delete{
	//	border-left: 1px solid rgba(239, 77, 33, 0.2);
	//}
}
@mixin order_sidebar_confirm_window{
	background: $bg_color;
	box-shadow: 0 -3px 20px -9px rgba(0, 0, 0, 0.5);
	//opacity: 0.6;
	color: $main-color;
	.container {
		padding: 10px;
		background: $main-bg;
		border: 1px solid $order_sidebar_head_separator * 0.8;
		border-radius: 4px;
	}
	span{
		display: block;
		margin-bottom: 10px;
		font-size: 14px;
	}
	.button_container{
		display: flex;
		justify-content: center;
	}
	button{
		width: auto;
		margin: 0 5px;
		border-radius: 6px;
		font-size: 12px;
		&.yes{  background: linear-gradient(to bottom, #f8b747, #ef8022);  }
		&.no{  background: linear-gradient(to top, #bdc0cd, #ffffff);  color: #211e25;  }
	}
}
$order_sidebar_current_order_title_color: #000000;
@mixin order_sidebar_order_input{  background: #ffffff;  }
$order_sidebar_order_label_color: #000000;
$order_sidebar_order_edit: url("../Images/sprite.svg") no-repeat -191px -135px;
$order_sidebar_order_delete: url("../Images/sprite.svg") no-repeat -191px -178px;
$order_sidebar_order_border_color: #e9eaee;