@{
    ViewBag.Title = "Glossary";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content page betting_rules">

    <!--<ul class="breadcrumbs">-->
    <!--<li><a href="#">Home</a></li>-->
    <!--<li>Betting Rules</li>-->
    <!--</ul>-->

    <div class="page_wrapper">


        <a href="#glossary"><h2>Glossary</h2></a>
        <a href="#odds_definitions"><h2>Odds Definitions</h2></a>



        <div id="glossary">
            <h1>Trading Glossary</h1>
            <p>
                There are a lot of trading terms used which can be difficult to understand for new players.
                Below you will find a comprehensive glossary with the most important terms, from game specific words to
                general
                concepts, that you can refer to whenever you see an unfamiliar word or phrase.
            </p>
            <p>
                If you come across a term that isn’t in our trading glossary yet, feel free to contact us and we’ll add it
                along with a clear definition.
            </p>

            <ul class="page_content_plan">
                <li><a href="#a"><strong>A</strong></a></li>
                <ul>
                    <li><a href="#a_1">Accumulator</a></li>
                    <li><a href="#a_2">American Odds</a></li>
                    <li><a href="#a_3">Action</a></li>
                    <li><a href="#a_4">Arbitrage</a></li>
                    <li><a href="#a_5">Ante Post</a></li>
                    <li><a href="#a_6">Asset/Underlying Asset </a></li>
                    <li><a href="#a_7">At the Money </a></li>
                </ul>
                <li>
                    <a href="#b"><strong>B</strong></a>
                    <ul>
                        <li><a href="#b_1">Bad beat</a></li>
                        <li><a href="#b_2">Bearish and Bullish </a></li>
                        <li><a href="#b_3">Bookmaker</a></li>
                        <li><a href="#b_4">Bookie</a></li>
                        <li><a href="#b_5">Broker</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#c"><strong>C</strong></a>
                    <ul>
                        <li><a href="#c_1">Combination Bet</a></li>
                        <li><a href="#c_2">Commodities</a></li>
                        <li><a href="#c_3">Contract</a></li>
                        <li><a href="#c_4">Correct Score</a></li>
                        <li><a href="#c_5">Closing Line</a></li>
                        <li><a href="#c_6">Chalk</a></li>
                        <li><a href="#c_7">Chalk Player</a></li>
                        <li><a href="#c_8">Currency</a></li>
                        <li><a href="#c_9">Current Price, Underlying Indicative Market Price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#d"><strong>D</strong></a>
                    <ul>
                        <li><a href="#d_1">Decimal Odds</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#e"><strong>E</strong></a>
                    <ul>
                        <li><a href="#e_1">Expiration, Expiry, Expiration Time, Expiration Date </a></li>
                        <li><a href="#e_2">Expiration Value</a></li>
                        <li><a href="#e_3">Exposure</a></li>
                        <li><a href="#e_4">Even Money</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#f"><strong>F</strong></a>
                    <ul>
                        <li><a href="#f_1">Futures</a></li>
                        <li><a href="#f_2">Favorite</a></li>
                        <li><a href="#f_3">Floor and Ceiling Levels</a></li>
                        <li><a href="#f_4">Floor-Ceiling Range</a></li>
                        <li><a href="#f_5">Fractional Odds</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#h"><strong>H</strong></a>
                    <ul>
                        <li><a href="#h_1">Handicap</a></li>
                        <li><a href="#h_2">High roller</a></li>
                        <li><a href="#h_3">Handle</a></li>
                        <li><a href="#h_3">Hook</a></li>
                        <li><a href="#h_3">Handicap Betting</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#i"><strong>I</strong></a>
                    <ul>
                        <li><a href="#i_1">In The Money </a></li>
                        <li><a href="#i_2">Index, Stock Indices </a></li>
                        <li><a href="#i_3">Instrument (Financial Instrument)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#j"><strong>J</strong></a>
                    <ul>
                        <li><a href="#j_1">Juice</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#m"><strong>M</strong></a>
                    <ul>
                        <li><a href="#m_1">Moneyline Odds</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#0"><strong>O</strong></a>
                    <ul>
                        <li><a href="#0_1">Out Of The Money</a></li>
                        <li><a href="#0_1">Over/Under Bet</a></li>
                        <li><a href="#0_1">Opening Line</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#p"><strong>P</strong></a>
                    <ul>
                        <li><a href="#p_1">Parlay</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#s"><strong>S</strong></a>
                    <ul>
                        <li><a href="#s_1">Settlement Value</a></li>
                        <li><a href="#s_2">Strike Price</a></li>
                        <li><a href="#s_3">Source Agency</a></li>
                        <li><a href="#s_4">Speculative Position Limit</a></li>
                        <li><a href="#s_5">Strike Width</a></li>
                        <li><a href="#s_6">Sportsbook</a></li>
                        <li><a href="#s_7">Sure Bet</a></li>
                        <li><a href="#s_8">Spread Betting</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#t"><strong>T</strong></a>
                    <ul>
                        <li><a href="#t_1">Totals Bet</a></li>
                        <li><a href="#t_2">Tick Size, Point Size</a></li>
                        <li><a href="#t_3">Tick-Point Value</a></li>
                        <li><a href="#t_4">Trading Day </a></li>
                        <li><a href="#t_5">Trading Hours</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#u"><strong>U</strong></a>
                    <ul>
                        <li><a href="#u_1">Underdog</a></li>
                        <li><a href="#u_2">Underlying Market</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#v"><strong>U</strong></a>
                    <ul>
                        <li><a href="#v_1">Vig</a></li>
                    </ul>
                </li>
            </ul>
            <div id="a">
                <h2>A</h2>
                <div id="a_1">
                    <h2>Accumulator</h2>
                    <p>
                        A bet where you combine multiple individual bets on different events. All of your bets must win in order
                        for the bet to pay out. If just one bet doesn’t win, you lose the entire bet. The potential payout is
                        calculated by multiplying the odds of each individual bet.
                        Betting on a accumulator gives you much higher potential winnings compared to betting on each bet
                        individually, but it also has much higher risk, since losing a single bet means losing the entire bet.
                        Also known as Parlay or Combination Bet.
                    </p>
                </div>
                <div id="a_2">
                    <h2>American Odds</h2>
                    <p>See Moneyline Odds</p>
                </div>
                <div id="a_3">
                    <h2>Action</h2>
                    <p>A bet or wager of any kind.</p>
                </div>
                <div id="a_4">
                    <h2>Arbitrage</h2>
                    <p>See Sure Bet.</p>
                </div>
                <div id="a_5">
                    <h2>Ante Post</h2>
                    <p>
                        In the United states more commonly known as Futures. The term originates from horse racing, and is Latin
                        for “before the post”. It was a bet that was placed before the horses were at the post.
                    </p>
                </div>
                <div id="a_6">
                    <h2>Asset/Underlying Asset </h2>
                    <p>
                        This is the financial instrument on which your contract or spread is based. Assets are sometimes called
                        markets. Asset classes included sport events, political outcomes, forex, stock indices, and commodity
                        futures. Individual assets are things like the BTC/USD pair, Gold, or the S&P 500 index.
                    </p>
                </div>
                <div id="a_7">
                    <h2>At the Money </h2>
                    <p>
                        When the underlying (indicative) market price is equal to a contract strike price, the contract is “at
                        the
                        money.” At expiration, only in-the-money contract get the $1.00 payout, so an at-the-money contract will
                        still expire worthless.
                    </p>
                </div>
            </div>
            <div id="b">
                <h2>B</h2>
                <div id="b_1">
                    <h2>Bad beat</h2>
                    <p>
                        Losing a bet under unusual or exceptional circumstances. For example if you bet on a huge favorite in a
                        match, and the underdog somehow still manages to win. Originates from poker, such as when the best hand
                        gets
                        outdrawn against all odds.
                    </p>
                </div>

                <div id="b_2">
                    <h2>Bearish and Bullish </h2>
                    <p>
                        Bearish traders (or traders with a bearish opinion) believe a market will go down. Bullish means you
                        believe a market will go up. Bearish and bullish are sometimes used to describe markets or trends
                        themselves.
                    </p>
                </div>
                <div id="b_3">
                    <h2>Bookmaker</h2>
                    <p>
                        A bookmaker is the person or organization that offers odds on events (mostly sports), accepts bets on
                        those
                        events and pay out winnings. Also referred to as Sportsbook or Bookie.
                    </p>
                </div>
                <div id="b_4">
                    <h2>Bookie</h2>
                    <p>See Bookmaker.</p>
                </div>
                <div id="b_5">
                    <h2>Broker </h2>
                    <p>
                        A broker places trades to the exchange on behalf of the client. Some brokers also advise or help clients
                        place trades. <strong>Alt.bet</strong> members can place orders directly to the exchange and don’t need to
                        use a broker.
                    </p>
                </div>
            </div>
            <div id="c">
                <h2>C</h2>
                <div id="c_1">
                    <h2>Combination Bet</h2>
                    <p>See Accumulator </p>
                </div>
                <div id="c_2">
                    <h2>Commodities</h2>
                    <p>
                        Commodities are actual things that are usually consumed and used, including metals like gold and silver,
                        grains like corn and soybeans, and fuels like crude oil and natural gas. Various factors including supply,
                        demand, weather, and political unrest can affect their prices. <strong>Alt.bet</strong> will introduce
                        markets on these and
                        other commodities.
                    </p>
                </div>
                <div id="c_3">
                    <h2>Contract </h2>
                    <p>Contract are limited risk contracts based on a simple yes/no market proposition. </p>
                </div>
                <div id="c_4">
                    <h2>Correct Score</h2>
                    <p>A bet where the player predicts the final score of a match.</p>
                </div>
                <div id="c_5">
                    <h2>Closing Line</h2>
                    <p>The final odds offered before the game begins.</p>
                </div>
                <div id="c_6">
                    <h2>Chalk</h2>
                    <p>See Favorite.</p>
                </div>
                <div id="c_7">
                    <h2>Chalk Player</h2>
                    <p>A player that wagers almost exclusively on favorites and almost never on the underdogs.</p>
                </div>
                <div id="c_8">
                    <h2>Currency </h2>
                    <p>
                        Currencies of advanced economies are exchanged for each other based on prices that constantly fluctuate.
                        Currencies are traded in pairs and form the world’s largest financial market by far, with trillions of
                        dollars exchanged daily. The currency market is commonly called forex, short for foreign exchange.
                    </p>
                </div>
                <div id="c_9">
                    <h2>Current Price, Underlying Indicative Market Price </h2>
                    <p>
                        <strong>Alt.bet</strong> offers free, real-time price data. This means all <strong>alt.bet</strong>
                        underlying indicative markets reflect the
                        actual price being traded at that instant.
                    </p>
                </div>
            </div>
            <div id="d">
                <h2>D</h2>
                <div id="d_1">
                    <h2>Decimal Odds</h2>
                    <p>
                        Decimal odds are mostly used in Europe. For example: Fnatic 2.1 vs NiP 1.6. To calculate your potential
                        profit, you multiply the odds with the amount you bet, and then remove the original bet amount. If you bet
                        $100 on Fnatic, your potential return is 2.1 x 100 = $210. After which you distract your original bet, so
                        the potential profit for this bet is $210 - $100 = $110.
                    </p>
                </div>
            </div>
            <div id="e">
                <h2>E</h2>
                <div id="e_1">
                    <h2>Exposure</h2>
                    <p>The maximum amount of money a sportsbook stands to lose on any given event.</p>
                </div>
                <div id="e_2">
                    <h2>Expiration, Expiry, Expiration Time, Expiration Date</h2>
                    <p>
                        The point in time at which the Expiration Value is calculated. For most <strong>alt.bet</strong>
                        contracts,
                        exchange members
                        can leave orders to trade right up until this point. However, please note that some Events markets may
                        close
                        prior to Expiration.
                    </p>
                </div>
                <div id="e_3">
                    <h2>Expiration Value</h2>
                    <p>
                        The calculated level of the underlying market at Expiration, as determined by <strong>alt.bet</strong>
                        (except for events
                        where it is determined by the relevant source agency).
                    </p>
                </div>
                <div id="e_4">
                    <h2>Even Money</h2>
                    <p>
                        A bet with 1:1 odds. There is no profit to be made as a bettor, if you place a wager at even money and
                        win
                        you get only back your wager.
                    </p>
                </div>
            </div>
            <div id="f">
                <h2>F</h2>
                <div id="f_1">
                    <h2>Futures</h2>
                    <p>
                        Futures are bets on future events. This can be days but also weeks, months or years before the event.
                        While you get offered better odds by betting further in advance of an event, the drawback is that if your
                        team doesn’t participate for the event, you lose your bet as well. Also known as Ante Post.
                    </p>
                </div>
                <div id="f_2">
                    <h2>Favorite</h2>
                    <p>
                        The team with the lowest odds in a match, they are considered to be the better team. Also, known as
                        Chalk.
                    </p>
                </div>
                <div id="f_3">
                    <h2>Floor and Ceiling Levels</h2>
                    <p>
                        The lower and upper limits against which the expiration value is compared in order to produce the
                        Settlement Value. The Settlement Value cannot be below the Floor or above the Ceiling.
                    </p>
                </div>
                <div id="f_4">
                    <h2>Floor-Ceiling Range </h2>
                    <p>
                        The distance between the Floor and Ceiling values. The size of the Floor/Ceiling range may vary from time
                        to time according to conditions in the underlying market.
                    </p>
                </div>
                <div id="f_5">
                    <h2>Forex Definition</h2>
                    <p>
                        Forex, short for foreign exchange, is the name for the currency market and includes the EUR/USD and
                        AUD/JPY.
                    </p>
                </div>
                <div id="f_6">
                    <h2>Fractional Odds</h2>
                    <p>
                        Odds that are mostly used in British bookmakers. For example: 2/3. To calculate your potential profit,
                        you
                        multiply the odds of the event with the amount you bet.
                    </p>
                </div>
            </div>
            <div id="h">
                <h2>H</h2>
                <div id="h_1">
                    <h2>Handicap</h2>
                    <p>
                        An advantage given by sportsbooks to one team, in order to offer more attractive odds. Also known as
                        spread. Used for spread betting.

                        For example when Team Liquid plays Virtus.pro in a Dota 2 match, Team Liquid is a huge favourite and the
                        game is expected to be pretty one sided. But if the bookmaker handicaps Team Liquid, it becomes a much
                        more
                        interesting bet.

                        Lets say team Liquids get a negative handicap of (-1.5). To calculate the score, you subtract the handicap
                        from the final score. If they end up at 2-1, this will leave them after the handicap is substracted with
                        0.5-1, leading the other team to win. This means that in a best-of-three they must win the game 2-0 to win
                        the bet.

                        A handicap can also be a positive number, lets give Virtus.pro (+1.5). To calculate the score, you just
                        add
                        this number to the final score to determine the winner. If the final score is 2-1, Virtus.pro wins the
                        game
                        after adding the handicap for a total of 2-2.5.
                    </p>
                </div>
                <div id="h_2">
                    <h2>High roller</h2>
                    <p>A person who bets for high amounts.</p>
                </div>
                <div id="h_3">
                    <h2>Handle</h2>
                    <p>Commonly used term in the United States. Refers to the total amount of money wagered on an event.</p>
                </div>
                <div id="h_4">
                    <h2>Hook</h2>
                    <p>
                        A half-point in spread betting. If a team is favourited by 1.5, they say it’s favourited by 1 and a hook.
                        Bookmakers often add the half point to avoid tie scenarios.
                    </p>
                </div>
                <div id="h_5">
                    <h2>Handicap Betting</h2>
                    <p>See Spread Betting.</p>
                </div>
            </div>
            <div id="i">
                <h2>I</h2>
                <div id="i_1">
                    <h2>In The Money </h2>
                    <p>
                        When the underlying (indicative) market price is greater than a contract’s strike price, the contract is
                        “in the money.” At expiration, only in-the-money contracts get the $1.00 payout, so “in the money” refers
                        to
                        the contract being profitable.
                    </p>
                </div>
                <div id="i_2">
                    <h2>Index, Stock Indices</h2>
                    <p>
                        A stock index such as the S&P 500, FTSE, or Nasdaq is a weighted average of a selection of stocks from a
                        certain sector of industry. It reflects the overall value of that sector.
                    </p>
                </div>
                <div id="i_3">
                    <h2>Instrument (Financial Instrument)</h2>
                    <p>
                        Another term used interchangeably with "asset" and "market", which can refer to underlying stock indices,
                        commodities, forex pairs, or the Bitcoin index.
                    </p>
                </div>
            </div>
            <div id="j">
                <h2>J</h2>
                <div id="j_1">
                    <h2>Juice</h2>
                    <p>The commission the bookmaker takes on each bet. Also known as Vig.</p>
                </div>
            </div>
            <div id="m">
                <h2>M</h2>
                <div id="m_1">
                    <h2>Moneyline Odds</h2>
                    <p>
                        Moneyline odds, or also called American odds since they are commonly used in the United States.
                        A positive number indicates the underdog, and the odds tell you how much money you will win on a wager of
                        $100.
                        A negative number indicates the favorite, and the odds tell you how much you must bet in order to win
                        $100.
                        The higher the chance for the favorite team to win, the wider the odds for the favorite and the underdog
                        are
                        apart.

                        For example: SKT T1 -425 vs Cloud9 +320.
                        If you decide to bet on SKT T1, who are the favorite, you have to bet $425 to win $100. If SKT T1 wins the
                        match, you get $100 , for a total return of $525 (initial bet of $425 + $100 profit won). If you bet on
                        Cloud9 and they win, you get your initial stake of $100 back in addition of $320, giving you a total
                        payout
                        of $420.
                    </p>
                </div>
            </div>
            <div id="o">
                <h2>O</h2>
                <div id="0_1">
                    <h2>Out of the Money</h2>
                    <p>
                        When the underlying (indicative) market price is less than a contract’s strike price, the contract is
                        “out
                        of the money.” At expiration, only in-the-money contract get the $1.00 payout, so an “out of the money”
                        will
                        expire at zero. Prior to expiration, the contract will have a variable value based on how close it is to
                        the
                        strike price.
                    </p>
                </div>
                <div id="0_2">
                    <h2>Over/Under Bet</h2>
                    <p>
                        In an Over/Under bet the player must predict if a certain number is more or less than the limit set by
                        the
                        bookmaker.
                        For example, in a best-of-three CS:GO match, an over/under bet on 3 maps, means you bet on whether 3 maps
                        will be played or not.
                    </p>
                </div>
                <div id="0_3">
                    <h2>Opening Line</h2>
                    <p>
                        The initial odds offered by the bookmaker when an event gets first posted. Once players start betting,
                        the
                        odds adjust accordingly.
                    </p>
                </div>
            </div>
            <div id="p">
                <h2>P</h2>
                <div id="p_1">
                    <h2>Parlay</h2>
                    <p>Also known as Accumulator or Combination Bet.</p>
                </div>
            </div>
            <div id="s">
                <h2>S</h2>
                <div id="s_1">
                    <h2>Settlement Value</h2>
                    <p>
                        At expiration, a contract is settled and determined to be in, at, or out of the money. The settlement
                        value
                        factors in the floor and ceiling levels of spreads to decide what the profit or loss will be for that
                        spread
                        contract. Contracts must have a settlement value of either 0 or 100. Spreads must have a settlement value
                        no
                        lower than their floor level and no higher than their ceiling level.
                    </p>
                </div>
                <div id="s_2">
                    <h2>Strike Price</h2>
                    <p>
                        The strike price is the price level you think the market will be above or below at expiration. If you
                        think
                        the market price (expiration value) will be above the strike, you buy the contract. If you think the
                        market
                        will be at or below the strike price, you sell the contract. The market's price at expiration is compared
                        to
                        the strike price to determine whether your contract has settled in, at, or out of the money.
                    </p>
                </div>
                <div id="s_3">
                    <h2>Source Agency</h2>
                    <p>
                        In the case of economic events contracts, the publisher of the expiration value. For example, the US
                        Bureau
                        of Labor Statistics is the source agency for the Nonfarm Payroll number.
                    </p>
                </div>
                <div id="s_4">
                    <h2>Speculative Position Limit</h2>
                    <p>
                        The maximum aggregate position that any person can hold or control in any particular contract class.
                        These
                        are sometimes needed to prevent mistakes.
                    </p>
                </div>
                <div id="s_5">
                    <h2>Strike Width</h2>
                    <p>The distance between strike prices for a particular market.</p>
                </div>
                <div id="s_6">
                    <h2>Sportsbook</h2>
                    <p>
                        The person or organisation that offers odds on events (mostly sports), accepts bets on those events and
                        pay
                        out winnings. Also referred to as “bookmaker” or “bookie”.
                    </p>
                </div>
                <div id="s_7">
                    <h2>Sure Bet</h2>
                    <p>
                        A sure bet, also referred to as betting arbitrage, is a set of bets on both sides of a game that
                        guarantees
                        a profit for the player, regardless the outcome of the match.
                        This can be done by placing multiple bets with different bookmakers on the same game.
                    </p>
                </div>
                <div id="s_8">
                    <h2>Spread Betting</h2>
                    <p>
                        Spread betting is a type of bet where the bookmaker adds or subtracts (handicaps) an amount of points
                        from
                        the final result to determine the winner of an event. This is mostly intended to create a more equal
                        number
                        of wagers on either side of an event.
                        As most eSport games do not have a final score such as in football, but instead rely more on a win/lose
                        scenario, it is not so often used yet. Also see Handicap.
                    </p>
                </div>
            </div>
            <div id="t">
                <h2>T</h2>
                <div id="t_1">
                    <h2>Totals Bet</h2>
                    <p>
                        A bet where the player predicts if the total score of a game is over or under the total posted by the
                        sportsbook. Also see Over/Under Bet.
                    </p>
                </div>
                <div id="t_2">
                    <h2>Tick Size, Point Size</h2>
                    <p>
                        The amount the market price must move for the price to move up or down one tick in value. If the tick
                        size
                        is one for a contract, then one unit of price movement will change the contract’s value by one. Many
                        markets
                        have fractional tick sizes. For example, a tick size of 0.01 means that a movement of 0.01 in the price
                        would change the profit or loss by one tick.
                    </p>
                </div>
                <div id="t_3">
                    <h2>Tick/Point Value</h2>
                    <p>
                        The dollar value of one tick/point. This is $0.01 for all <strong>alt.bet</strong> contracts. Other
                        markets
                        have more
                        complicated tick values, dating back to older pricing traditions, such as fractions. Sometimes tick size
                        and
                        tick value are used interchangeably, especially when both values are one, as in the case of alt.bet
                        contracts.
                    </p>
                </div>
                <div id="t_4">
                    <h2>Trading Day</h2>
                    <p>
                        On alt.bet, trading days start with commencement of the trading platform and never ends. We operate
                        24/7/365.
                    </p>
                </div>
                <div id="t_5">
                    <h2>Trading Hours</h2>
                    <p>
                        The times of day during which the contract will be open for trading on the exchange. See the specific
                        contract details for exact information.
                    </p>
                </div>
            </div>
            <div id="u">
                <h2>U</h2>
                <div id="u_1">
                    <h2>Underdog</h2>
                    <p>The team with the highest odds in a match, they are expected to be the worse team.</p>
                </div>
                <div id="u_2">
                    <h2>Underlying Market</h2>
                    <p>
                        The source market that expiration values are based on. For example, the US 500
                        contract is based on the Standard & Poor’s 500 stock index, known as the S&P 500.
                    </p>
                </div>
            </div>
            <div id="v">
                <h2>V</h2>
                <div id="v_1">
                    <h2>Vig</h2>
                    <p>See Juice.</p>
                </div>
            </div>
            <div id="odds_definitions">
                <h1>Odds Definitions</h1>
                <h2>Decimal Odds</h2>
                <p>
                    Decimal odds, also known as European odds since they are most commonly used in Europe, tell you the potential
                    amount you can win including the bet amount. For example if you bet $10 at decimal odds of 1.5, the total
                    return is $15 ($10 * 1.5), and the potential profit is $5 ($15 - original bet amount $10).
                </p>
                <h2>Decimal to Fractional</h2>
                <p>
                    To convert decimal odds to fractional odds, substract 1 and convert to a fraction, then reduce to its simplest form.
                    <br>
                    <i> Example: 3.5 => 3.5 - 1 = 2.5/1 = 5/2 </i>
                </p>




                <h2>Decimal to American</h2>
                <p>
                    To convert decimal odds of 2.0 or higher, substract 1 and multiply by 100. <br>
                    <i> Example: 2.5 => 2.5 - 1 * 100 = +100</i> <br>
                    To convert decimal odds of 2.0 or less, substract 1 and then divide -100 by the odds. <br>
                    <i> Example: 1.5 => -100/(1.5 - 1) = -100/0.5 = -200</i>
                </p>
                <h2>Fractional Odds</h2>
                <p>
                    Fractional odds, also known as British or Traditional odds, are used mainly in the UK. They tell you the amount of profit relative to your stake if you win your bet.
                    For example, if you bet $10 at odds of 3/1, you will receive $30 of profit if you win.
                </p>
                <h2>Fractional to Decimal</h2>
                <p>
                    To convert fractional odds to decimal odds, convert the Fraction to a Decimal and add 1. <br>
                    <i> Example: 3/4 => (3/4) + 1 = 0.75 + 1 = 1.75</i>
                </p>
                <h2>Fractional to American</h2>
                <p>
                    To convert fractional odds that are over 1/1, convert the Fraction to Decimal and multiply by 100. <br>
                    <i> Example: 7/4 => (7/4) * 100 = 1.4 * 100 = +140</i> <br>
                    To convert fractional odds that are under 1/1, divide -100 by the Fraction as a Decimal. <br>
                    <i> Example: 1/4 => -100/(1/4) = -100/0.25 = -400</i>
                </p>

                <h2>American Odds</h2>
                <p>
                    American odds, also known as Monelyline odds, are used most by US bookmakers. If the odds are positive, they tell you the amount you would win on a $100 bet.
                    If the odds are negative, they tell you the amount you would need to bet to win $100.
                </p>
                <h2>American to Decimal</h2>
                <p>
                    To convert positive (+) odds, divide the American by 100 and add 1. <br>
                    <i> Example: +100 => (100/100) + 1 = 1 + 1 = 2.0</i> <br>
                    To convert negative (-) odds, divide 100 by the American, and add 1. <br>
                    <i> Example: -110 => -110/(100/110) + 1 = 1 + 0.9091 = 1.9091</i>
                </p>
                <h2>American to Fractional</h2>
                <p>
                    To convert positive (+) odds, divide the American by 100 and then reduce to its simplest form. <br>
                    <i> Example: +120 => (120/100) = 6/5 </i> <br>
                    To convert negative (-) odds, divide 100 by the American and then reduce to its simplest form. <br>
                    <i> Example: -120 => (100/120) = 5/6</i>
                </p>
                <h2>Implied Odds</h2>
                <p>
                    Implied odds are a percentage that tell you the perceived likelihood of an event occuring.
                    For example 2.0 Decimal odds are expected to be won once in every 2 attempts, hence the probability is 50%.
                </p>
                <h2>Odds Conversion Chart</h2>
                <p>For a quick comparison, use this pre-calculated odds chart to look up Decimal, Fractional, American and Implied odds.</p>


            </div>
            <table>
                <thead>
                    <tr>
                        <th>Implied</th>
                        <th>Decimal</th>
                        <th>American</th>
                        <th>Fractional</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="implied">0.01</td>
                        <td class="decimal">100.00</td>
                        <td class="american">9900</td>
                        <td class="fractional">99/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.02</td>
                        <td class="decimal">50.00</td>
                        <td class="american">4900</td>
                        <td class="fractional">49/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.03</td>
                        <td class="decimal">33.33</td>
                        <td class="american">3233</td>
                        <td class="fractional">97.3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.04</td>
                        <td class="decimal">25.00</td>
                        <td class="american">2400</td>
                        <td class="fractional">24/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.05</td>
                        <td class="decimal">20.00</td>
                        <td class="american">1900</td>
                        <td class="fractional">19/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.06</td>
                        <td class="decimal">16.67</td>
                        <td class="american">1567</td>
                        <td class="fractional">47/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.07</td>
                        <td class="decimal">14.29</td>
                        <td class="american">1329</td>
                        <td class="fractional">93/7</td>
                    </tr>
                    <tr>
                        <td class="implied">0.08</td>
                        <td class="decimal">12.50</td>
                        <td class="american">1150</td>
                        <td class="fractional">23/2</td>
                    </tr>
                    <tr>
                        <td class="implied">0.09</td>
                        <td class="decimal">11.11</td>
                        <td class="american">1011</td>
                        <td class="fractional">91/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.10</td>
                        <td class="decimal">10.00</td>
                        <td class="american">900</td>
                        <td class="fractional">9/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.11</td>
                        <td class="decimal">9.09</td>
                        <td class="american">809</td>
                        <td class="fractional">89/11</td>
                    </tr>
                    <tr>
                        <td class="implied">0.12</td>
                        <td class="decimal">8.33</td>
                        <td class="american">733</td>
                        <td class="fractional">22/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.13</td>
                        <td class="decimal">7.69</td>
                        <td class="american">669</td>
                        <td class="fractional">87/13</td>
                    </tr>
                    <tr>
                        <td class="implied">0.14</td>
                        <td class="decimal">7.14</td>
                        <td class="american">614</td>
                        <td class="fractional">47/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.15</td>
                        <td class="decimal">6.67</td>
                        <td class="american">567</td>
                        <td class="fractional">17/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.16</td>
                        <td class="decimal">6.25</td>
                        <td class="american">525</td>
                        <td class="fractional">21/4</td>
                    </tr>
                    <tr>
                        <td class="implied">0.17</td>
                        <td class="decimal">5.88</td>
                        <td class="american">488</td>
                        <td class="fractional">83/17</td>
                    </tr>
                    <tr>
                        <td class="implied">0.18</td>
                        <td class="decimal">5.56</td>
                        <td class="american">456</td>
                        <td class="fractional">41/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.19</td>
                        <td class="decimal">5.26</td>
                        <td class="american">426</td>
                        <td class="fractional">81/19</td>
                    </tr>
                    <tr>
                        <td class="implied">0.20</td>
                        <td class="decimal">5.00</td>
                        <td class="american">400</td>
                        <td class="fractional">4/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.21</td>
                        <td class="decimal">4.76</td>
                        <td class="american">376</td>
                        <td class="fractional">79/21</td>
                    </tr>
                    <tr>
                        <td class="implied">0.22</td>
                        <td class="decimal">4.55</td>
                        <td class="american">355</td>
                        <td class="fractional"> 38/11</td>
                    </tr>
                    <tr>
                        <td class="implied">0.23</td>
                        <td class="decimal">4.35</td>
                        <td class="american">335</td>
                        <td class="fractional">77/23</td>
                    </tr>
                    <tr>
                        <td class="implied">0.24</td>
                        <td class="decimal">4.17</td>
                        <td class="american">317</td>
                        <td class="fractional">19/6</td>
                    </tr>
                    <tr>
                        <td class="implied">0.25</td>
                        <td class="decimal">4.00</td>
                        <td class="american">300</td>
                        <td class="fractional">3/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.26</td>
                        <td class="decimal">3.85</td>
                        <td class="american">285</td>
                        <td class="fractional">37/13</td>
                    </tr>
                    <tr>
                        <td class="implied">0.27</td>
                        <td class="decimal">3.70</td>
                        <td class="american">270</td>
                        <td class="fractional">73/27</td>
                    </tr>
                    <tr>
                        <td class="implied">0.28</td>
                        <td class="decimal">3.57</td>
                        <td class="american">257</td>
                        <td class="fractional">18/7</td>
                    </tr>
                    <tr>
                        <td class="implied">0.29</td>
                        <td class="decimal">3.45</td>
                        <td class="american">245</td>
                        <td class="fractional">71/29</td>
                    </tr>
                    <tr>
                        <td class="implied">0.30</td>
                        <td class="decimal">3.33</td>
                        <td class="american">233</td>
                        <td class="fractional">7/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.31</td>
                        <td class="decimal">3.23</td>
                        <td class="american">223</td>
                        <td class="fractional">69/31</td>
                    </tr>
                    <tr>
                        <td class="implied">0.32</td>
                        <td class="decimal">3.13</td>
                        <td class="american">213</td>
                        <td class="fractional">17/8</td>
                    </tr>
                    <tr>
                        <td class="implied">0.33</td>
                        <td class="decimal">3.03</td>
                        <td class="american">203</td>
                        <td class="fractional">67/33</td>
                    </tr>
                    <tr>
                        <td class="implied">0.34</td>
                        <td class="decimal">2.94</td>
                        <td class="american">194</td>
                        <td class="fractional"> 33/17</td>
                    </tr>
                    <tr>
                        <td class="implied">0.35</td>
                        <td class="decimal">2.86</td>
                        <td class="american">186</td>
                        <td class="fractional">13/7</td>
                    </tr>
                    <tr>
                        <td class="implied">0.36</td>
                        <td class="decimal">2.78</td>
                        <td class="american">178</td>
                        <td class="fractional">16/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.37</td>
                        <td class="decimal">2.70</td>
                        <td class="american">170</td>
                        <td class="fractional">63/37</td>
                    </tr>
                    <tr>
                        <td class="implied">0.38</td>
                        <td class="decimal">2.63</td>
                        <td class="american">163</td>
                        <td class="fractional">31/19</td>
                    </tr>
                    <tr>
                        <td class="implied">0.39</td>
                        <td class="decimal">2.56</td>
                        <td class="american">156</td>
                        <td class="fractional">61/39</td>
                    </tr>
                    <tr>
                        <td class="implied">0.40</td>
                        <td class="decimal">2.50</td>
                        <td class="american">150</td>
                        <td class="fractional">3/2</td>
                    </tr>
                    <tr>
                        <td class="implied">0.41</td>
                        <td class="decimal">2.44</td>
                        <td class="american">144</td>
                        <td class="fractional">59/41</td>
                    </tr>
                    <tr>
                        <td class="implied">0.42</td>
                        <td class="decimal">2.38</td>
                        <td class="american">138</td>
                        <td class="fractional">29/21</td>
                    </tr>
                    <tr>
                        <td class="implied">0.43</td>
                        <td class="decimal">2.33</td>
                        <td class="american">133</td>
                        <td class="fractional">57/43</td>
                    </tr>
                    <tr>
                        <td class="implied">0.44</td>
                        <td class="decimal">2.27</td>
                        <td class="american">127</td>
                        <td class="fractional">14/11</td>
                    </tr>
                    <tr>
                        <td class="implied">0.45</td>
                        <td class="decimal">2.22</td>
                        <td class="american">122</td>
                        <td class="fractional">11/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.46</td>
                        <td class="decimal">2.17</td>
                        <td class="american">117</td>
                        <td class="fractional"> 27/23</td>
                    </tr>
                    <tr>
                        <td class="implied">0.47</td>
                        <td class="decimal">2.13</td>
                        <td class="american">113</td>
                        <td class="fractional">53/47</td>
                    </tr>
                    <tr>
                        <td class="implied">0.48</td>
                        <td class="decimal">2.08</td>
                        <td class="american">108</td>
                        <td class="fractional">13/12</td>
                    </tr>
                    <tr>
                        <td class="implied">0.49</td>
                        <td class="decimal">2.04</td>
                        <td class="american">104</td>
                        <td class="fractional">51/49</td>
                    </tr>
                    <tr>
                        <td class="implied">0.50</td>
                        <td class="decimal">2.00</td>
                        <td class="american">100</td>
                        <td class="fractional">1/1</td>
                    </tr>
                    <tr>
                        <td class="implied">0.51</td>
                        <td class="decimal">1.96</td>
                        <td class="american">-104</td>
                        <td class="fractional">49/51</td>
                    </tr>
                    <tr>
                        <td class="implied">0.52</td>
                        <td class="decimal">1.92</td>
                        <td class="american">-108</td>
                        <td class="fractional">12/13</td>
                    </tr>
                    <tr>
                        <td class="implied">0.53</td>
                        <td class="decimal">1.89</td>
                        <td class="american">-113</td>
                        <td class="fractional">47/53</td>
                    </tr>
                    <tr>
                        <td class="implied">0.54</td>
                        <td class="decimal">1.85</td>
                        <td class="american">-117</td>
                        <td class="fractional">23/27</td>
                    </tr>
                    <tr>
                        <td class="implied">0.55</td>
                        <td class="decimal">1.82</td>
                        <td class="american">-122</td>
                        <td class="fractional">9/11</td>
                    </tr>
                    <tr>
                        <td class="implied">0.56</td>
                        <td class="decimal">
                            1.79
                        </td>
                        <td class="american">-127</td>
                        <td class="fractional"> 11/14</td>
                    </tr>
                    <tr>
                        <td class="implied">0.57</td>
                        <td class="decimal">
                            1.75
                        </td>
                        <td class="american">-133</td>
                        <td class="fractional">43/57</td>
                    </tr>
                    <tr>
                        <td class="implied">0.58</td>
                        <td class="decimal">
                            1.72
                        </td>
                        <td class="american">-138</td>
                        <td class="fractional">21/29</td>
                    </tr>
                    <tr>
                        <td class="implied">0.59</td>
                        <td class="decimal">
                            1.69
                        </td>
                        <td class="american">-144</td>
                        <td class="fractional">41/59</td>
                    </tr>
                    <tr>
                        <td class="implied">0.60</td>
                        <td class="decimal">
                            1.67
                        </td>
                        <td class="american">-150</td>
                        <td class="fractional">2/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.61</td>
                        <td class="decimal">
                            1.64
                        </td>
                        <td class="american">-156</td>
                        <td class="fractional">39/61</td>
                    </tr>
                    <tr>
                        <td class="implied">0.62</td>
                        <td class="decimal">
                            1.61
                        </td>
                        <td class="american">-163</td>
                        <td class="fractional">19/31</td>
                    </tr>
                    <tr>
                        <td class="implied">0.63</td>
                        <td class="decimal">
                            1.59
                        </td>
                        <td class="american">-170</td>
                        <td class="fractional">37/63</td>
                    </tr>
                    <tr>
                        <td class="implied">0.64</td>
                        <td class="decimal">
                            1.56
                        </td>
                        <td class="american">-178</td>
                        <td class="fractional">16/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.65</td>
                        <td class="decimal">
                            1.54
                        </td>
                        <td class="american">-186</td>
                        <td class="fractional">7/13</td>
                    </tr>
                    <tr>
                        <td class="implied">0.66</td>
                        <td class="decimal">
                            1.52
                        </td>
                        <td class="american">-194</td>
                        <td class="fractional">17/33</td>
                    </tr>
                    <tr>
                        <td class="implied">0.67</td>
                        <td class="decimal">
                            1.49
                        </td>
                        <td class="american">-203</td>
                        <td class="fractional">33/67</td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="implied">0.68</td>
                        <td class="decimal">
                            1.47
                        </td>
                        <td class="american">-213</td>
                        <td class="fractional">8/17</td>
                    </tr>
                    <tr>
                        <td class="implied">0.69</td>
                        <td class="decimal">
                            1.45
                        </td>
                        <td class="american">-223</td>
                        <td class="fractional">31/69</td>
                    </tr>
                    <tr>
                        <td class="implied">0.70</td>
                        <td class="decimal">
                            1.43
                        </td>
                        <td class="american">-233</td>
                        <td class="fractional">3/7</td>
                    </tr>
                    <tr>
                        <td class="implied">0.71</td>
                        <td class="decimal">
                            1.41
                        </td>
                        <td class="american">-245</td>
                        <td class="fractional">29/71</td>
                    </tr>
                    <tr>
                        <td class="implied">0.72</td>
                        <td class="decimal">
                            1.39
                        </td>
                        <td class="american">-257</td>
                        <td class="fractional">7/18</td>
                    </tr>
                    <tr>
                        <td class="implied">0.73</td>
                        <td class="decimal">
                            1.37
                        </td>
                        <td class="american">-270</td>
                        <td class="fractional">27/73</td>
                    </tr>
                    <tr>
                        <td class="implied">0.74</td>
                        <td class="decimal">
                            1.35
                        </td>
                        <td class="american">-285</td>
                        <td class="fractional">13/37</td>
                    </tr>
                    <tr>
                        <td class="implied">0.75</td>
                        <td class="decimal">
                            1.33
                        </td>
                        <td class="american">-300</td>
                        <td class="fractional">1/3</td>
                    </tr>
                    <tr>
                        <td class="implied">0.76</td>
                        <td class="decimal">
                            1.32
                        </td>
                        <td class="american">-317</td>
                        <td class="fractional">6/19</td>
                    </tr>
                    <tr>
                        <td class="implied">0.77</td>
                        <td class="decimal">
                            1.30
                        </td>
                        <td class="american">-335</td>
                        <td class="fractional">23/77</td>
                    </tr>
                    <tr>
                        <td class="implied">0.78</td>
                        <td class="decimal">
                            1.28
                        </td>
                        <td class="american">-355</td>
                        <td class="fractional">11/38</td>
                    </tr>
                    <tr>
                        <td class="implied">0.79</td>
                        <td class="decimal">
                            1.27
                        </td>
                        <td class="american">-376</td>
                        <td class="fractional">21/79</td>
                    </tr>
                    <tr>
                        <td class="implied">0.80</td>
                        <td class="decimal">
                            1.25
                        </td>
                        <td class="american">-400</td>
                        <td class="fractional">1/4</td>
                    </tr>
                    <tr>
                        <td class="implied">0.81</td>
                        <td class="decimal">1.23</td>
                        <td class="american">-426</td>
                        <td class="fractional">19/81</td>
                    </tr>
                    <tr>
                        <td class="implied">0.82</td>
                        <td class="decimal">
                            1.22

                        </td>
                        <td class="american">-456</td>
                        <td class="fractional">9/41</td>
                    </tr>
                    <tr>
                        <td class="implied">0.83</td>
                        <td class="decimal">
                            1.20
                        </td>
                        <td class="american">-488</td>
                        <td class="fractional">17/83</td>
                    </tr>
                    <tr>
                        <td class="implied">0.84</td>
                        <td class="decimal">
                            1.19
                        </td>
                        <td class="american">-525</td>
                        <td class="fractional">4/21</td>
                    </tr>
                    <tr>
                        <td class="implied">0.85</td>
                        <td class="decimal">
                            1.18
                        </td>
                        <td class="american">-567</td>
                        <td class="fractional">3/17</td>
                    </tr>
                    <tr>
                        <td class="implied">0.86</td>
                        <td class="decimal">
                            1.16
                        </td>
                        <td class="american">-614</td>
                        <td class="fractional">7/43</td>
                    </tr>
                    <tr>
                        <td class="implied">0.87</td>
                        <td class="decimal">
                            1.15
                        </td>
                        <td class="american">-669</td>
                        <td class="fractional">13/87</td>
                    </tr>
                    <tr>
                        <td class="implied">0.88</td>
                        <td class="decimal">
                            1.14
                        </td>
                        <td class="american">-733</td>
                        <td class="fractional">3/22</td>
                    </tr>
                    <tr>
                        <td class="implied">0.89</td>
                        <td class="decimal">
                            1.12
                        </td>
                        <td class="american">-809</td>
                        <td class="fractional">11/89</td>
                    </tr>
                    <tr>
                        <td class="implied">0.90</td>
                        <td class="decimal">
                            1.11
                        </td>
                        <td class="american">-900</td>
                        <td class="fractional">1/9</td>
                    </tr>
                    <tr>
                        <td class="implied">0.91</td>
                        <td class="decimal">
                            1.10
                        </td>
                        <td class="american">-1011</td>
                        <td class="fractional">9/91</td>
                    </tr>
                    <tr>
                        <td class="implied">0.92</td>
                        <td class="decimal">
                            1.09
                        </td>
                        <td class="american">-1150</td>
                        <td class="fractional">2/32</td>
                    </tr>
                    <tr>
                        <td class="implied">0.93</td>
                        <td class="decimal">
                            1.08
                        </td>
                        <td class="american">-1329</td>
                        <td class="fractional">7/93</td>
                    </tr>
                    <tr>
                        <td class="implied">0.94</td>
                        <td class="decimal">
                            1.06
                        </td>
                        <td class="american">-1567</td>
                        <td class="fractional">3/47</td>
                    </tr>
                    <tr>
                        <td class="implied">0.95</td>
                        <td class="decimal">
                            1.05
                        </td>
                        <td class="american">-1900</td>
                        <td class="fractional">1/19</td>
                    </tr>
                    <tr>
                        <td class="implied">0.96</td>
                        <td class="decimal">
                            1.04
                        </td>
                        <td class="american">-2400</td>
                        <td class="fractional">1/24</td>
                    </tr>
                    <tr>
                        <td class="implied">0.97</td>
                        <td class="decimal">
                            1.03
                        </td>
                        <td class="american">-3233</td>
                        <td class="fractional">3/97</td>
                    </tr>
                    <tr>
                        <td class="implied">0.98</td>
                        <td class="decimal">
                            1.02
                        </td>
                        <td class="american">-4900</td>
                        <td class="fractional">1/49</td>
                    </tr>
                    <tr>
                        <td class="implied">0.99</td>
                        <td class="decimal">
                            1.01
                        </td>
                        <td class="american">-9900</td>
                        <td class="fractional">1/99</td>
                    </tr>
                </tbody>
            </table>
        </div>

        

    </div>
</div>

