<?xml version="1.0" ?>
<Skrill>
  <!--this email needs for "SendToEmail" in Deposit, and "OurEmail" in Withrdaw-->
  <add key="Paytoemail" value="petrov.vladyslav@gmail.com" />
  <!--Skrill Password MQI\API Password-->
  <add key="Password" value="vladmin88" />
  <!--SecretWord for validate requests у нас сейчас "secretword"-->
  <add key="SecretWord" value="secretword" />
  <!--Endpoint-->
  <add key="Endpoint" value="https://pay.skrill.com/" />
  <!--Endpoint for Outgoing transfer-->
  <add key="EndpointForTransferOut" value="https://www.skrill.com/app/pay.pl" />

  <!--<add key="Paytoemail" value="gs@alt.bet" />-->
  <!-- this email needs for "SendToEmail" in Deposit, and "OurEmail" in Withrdaw  -->
  <!--<add key="Password" value="Altbet1234" />-->
  <!-- Skrill Password MQI\API Password-->
  <!--<add key="SecretWord" value="secretword" />-->
  <!-- SecretWord for validate requests у нас сейчас "secretword"-->
  <!--<add key="Endpoint" value="https://pay.skrill.com/" />-->



</Skrill>

