<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Neteller" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="Skrill" type="System.Configuration.NameValueFileSectionHandler" />
   
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<Neteller configSource="Services\FinanceServices\Neteller\Neteller.config" />-->
   <!--<Neteller configSource="bin\Utils\FinanceServices\Neteller\Neteller.config" />-->
  <!--<Skrill configSource="bin\Utils\FinanceServices\Skrill\Skrill.config" />-->
  
  
  <system.net>
    <mailSettings>
      <smtp from="noreply@alt.bet">
        <network host="email-smtp.eu-west-1.amazonaws.com" port="587" userName="AKIAIBRPTZ2PFIHGQPMQ" password="AjA72VSygFFTGFBKpEf0dWL2fi4CXUkTUH2UDPsBpKAH" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="MyExgEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-3OKNDN5OEHM\SQLEXPRESS;initial catalog=MyExchangeServer;user id=test;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyExchange" connectionString="Data Source=altbet.czrbmrijvybr.us-west-2.rds.amazonaws.com;Initial Catalog=MyExchangeEx;User ID=Administrator;Password=t,fysqyfcjc" providerName="System.Data.SqlClient" />-->
    <add name="MyExchange" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyExchangeEx;User ID=test;Password=111" providerName="System.Data.SqlClient" />
  <!--add name="MyExgEntities" connectionString="Server=WIN-3OKNDN5OEHM\SQLEXPRESS;Database=MyExchangeServer;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" /-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebSocketUrl" value="ws://localhost:2001" />
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index" timeout="3600" name="__Auth" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
<!--
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
-->
<!--    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>-->
<!--
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
-->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120E14C03D0593C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4" newVersion="1.6.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4" newVersion="1.6.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketEngine" publicKeyToken="6c80000676988ebb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.3.0" newVersion="1.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="D://alt/AltBetProject/Alt/logs/log.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <system.serviceModel>
    <!--<services>
      <service name="AltBet.Services.WCF.ExchangeService">
        <endpoint contract="AltBet.Exchange.Managers.IExchangeManager" />
      </service>
      <service name="AltBet.Services.WCF.CategoryService">
        <endpoint contract="AltBet.Exchange.Managers.ICategoryManager" />
      </service>
    </services>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserManager" />
        <binding name="BasicHttpBinding_IBalanceManager" />
        <binding name="BasicHttpBinding_IFileManager" />
        <binding name="BasicHttpBinding_IMailSettingsManager" />
        <binding name="BasicHttpBinding_IExchangeManager" />
        <binding name="BasicHttpBinding_IOrderManager" />
        <binding name="BasicHttpBinding_IPaymentManager" />
        <binding name="BasicHttpBinding_ICategoryManager" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManager" contract="UserServiceReference.IUserManager" name="BasicHttpBinding_IUserManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/BalanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBalanceManager" contract="BalanceServiceReference.IBalanceManager" name="BasicHttpBinding_IBalanceManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/FileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileManager" contract="FileServiceReference.IFileManager" name="BasicHttpBinding_IFileManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/MailSettingsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailSettingsManager" contract="MailSettingsServiceReference.IMailSettingsManager" name="BasicHttpBinding_IMailSettingsManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/ExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeManager" contract="ExchangeServiceReference.IExchangeManager" name="BasicHttpBinding_IExchangeManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/OrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderManager" contract="OrderServiceReference.IOrderManager" name="BasicHttpBinding_IOrderManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/PaymentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentManager" contract="PaymentServiceReference.IPaymentManager" name="BasicHttpBinding_IPaymentManager" />
      <endpoint address="http://localhost/AltBet.ExchangeServices/Services/CategoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryManager" contract="CategoryServiceReference.ICategoryManager" name="BasicHttpBinding_ICategoryManager" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>