@model AltBet.Services.FinanceServices.Neteller.Models.PaymentOutViewModel


<div class="Form">
    @using (Html.BeginForm("SkrillOut", "Payment"))
    {

        <h3>вывод денег</h3><br />
        <br />
        <label> email </label>
        <br/>
        @Html.TextBoxFor(model => model.email)
        @Html.ValidationMessageFor(model => model.email)
        @*<input type="text" name="clientId" />*@
        <br />

        <label>Input your sum</label>
        <br />
        @*<input type="text" name="sum" />*@    
        @Html.TextBoxFor(model=>model.sum)
        @Html.ValidationMessageFor(model => model.sum)
        <br />
        <br />
        <input type="submit" value="payNeteller" />
    }
</div>