

@{
    ViewBag.Title = "deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content main">
    <div class="nav_items">
        <div class="wrapper" id="exchange">
            <div class="tabs" style="background: #fff">

                @Html.ActionLink("export2csv","Export2CSV")

                @*------------------------------------------TEST Reg----------------------------*@
                @using (Html.BeginForm("Register", "Account"))
                {<br />
                    <input type="submit" value="register" />
                }

                @Html.Partial("_NetellerOut")
                <br/>
                @Html.Partial("_NetellerIn")
            </div>
        </div>
    </div>
    @Html.Partial("_OrderSidebar")
    @*<script>
    globalData.mainPage = true;
    </script>*@
