@model string

@*tab my entries*@

<div class="tab_item active">
    <div class="my_position_tab">
        <div class="wrapper">
            <div class="filters">
                <input type="checkbox" id="cb5" class="checkbox" value="MyPos_Sport" checked />
                <label for="cb5" class="fantasy-sport"><span class="sub_tab">Fantasy Sport</span></label>
@*                <input type="checkbox" id="cb6" class="checkbox" value="MyPos_Finance" checked />*@
@*                <label for="cb6" class="economy"><span class="sub_tab">Economy</span></label>*@
                <input type="checkbox" id="cb7" class="checkbox" value="MyPos_E-sport" checked />
                <label for="cb7" class="e_sport"><span class="sub_tab">E-sport</span></label>
@*                <input type="checkbox" id="cb8" class="checkbox" value="MyPos_Society" checked />*@
@*                <label for="cb8" class="society"><span class="sub_tab">Society</span></label>*@
            </div>
            <div class="tab_content">
                <div class="my_position_container table_content">
                    <table>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Units</th>
                                <th>Price</th>
                                <th><span class="sell">BUY</span> | <span class="buy">SELL</span></th>
                                <th><span class="profit">Win</span> / <span class="loss">Loss</span></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <div id="my_position_container"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var positionData = JSON.parse(@Html.Raw(Json.Encode(Model)));
        appData.positionData = JSON.parse('@Html.Raw(Model)');
    </script>
</div>