@model string

@*tab open entries*@

<div class="tab_item">
    <div class="my_position_tab">
        <div class="wrapper">
            <div class="filters">
                <input type="checkbox" id="cb1" class="checkbox" value="openOrders_Sport" checked />
                <label for="cb1" class="fantasy-sport"><span class="sub_tab">Fantasy Sport</span></label>
@*                <input type="checkbox" id="cb2" class="checkbox" value="openOrders_Finance" checked />*@
@*                <label for="cb2" class="economy"><span class="sub_tab">Economy</span></label>*@
                <input type="checkbox" id="cb3" class="checkbox" value="openOrders_E-sport" checked />
                <label for="cb3" class="e_sport"><span class="sub_tab">E-sport</span></label>
@*                <input type="checkbox" id="cb4" class="checkbox" value="openOrders_Society" checked />*@
@*                <label for="cb4" class="society"><span class="sub_tab">Society</span></label>*@
            </div>
            <div class="tab_content">
                <div class="open_orders table_content">
                    <table>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Time</th>
                                <th>Type</th>
                                <th>Units</th>
                                <th>Price</th>
                                <th>Latest</th>
                                <th>Position</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <div id="open_orders"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var openOrdersData = JSON.parse(@Html.Raw(Json.Encode(Model)));
        appData.openOrdersData = JSON.parse('@Html.Raw(Model)');
    </script>
</div>