@*@model List<AltBet.Exchange.HistoryTradeItem>*@
@model string

@* Trading history tab           *@

<div class="tab_item">
    <div class="my_position_tab">
        <div class="wrapper">
            <div class="my_order_history table_content" id="my_order_history">
            </div>
        </div>
    </div>
    <script>
        var historyData = JSON.parse(@Html.Raw(Json.Encode(Model)));
        appData.historyData = JSON.parse('@Html.Raw(Model)');
    </script>
</div>