#current-orders{
	overflow-y: auto;
	.order_content{
		&:last-child{  padding: 0;  }
		//&.ui-sortable-handle .order-title{  cursor: move;  }
		.order-title{
			padding: 5px 10px 5px 15px;
			background: linear-gradient(to bottom, #53515e, #292830);
			@include mdmax(1400){  padding: 5px;  }
		}
		form input[type="submit"]{  border-left: none;  }
		.close{
			margin: 0;
			position: absolute;
			top: calc(50% - 8px);
			right: 1px;
		}
	}
}
//.ui-state-highlight{
//	height: 100px;
//	margin-bottom: 15px;
//	border: 1px dashed #fcefa1;
//	//animation-name: pulse;
//	//animation-duration: 0.5s;
//	//animation-fill-mode: both;
//}
.order_content {
	&.active{
		.order-title{  background: linear-gradient(to bottom, #EBEBEB, #B8B8B8) !important;  }
		h3{  color: #000000;  }
		strong.current-order{
			color: #000000;
			&.pos span{  color: #88a900;  }
		}
	}
	.order_container{ position: relative; border-bottom: 1px solid $order_sidebar_head_separator;
		&:last-child{  border-bottom: none;  }
		&:before{  content: '';  display: block;  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  }
		&:after{ content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 1px;
			background: rgba(255, 255, 255, 0.1); }
	}
	.order_info { position: relative; padding: 0 5px 0 5px;
		@include mdmax(1400){
			padding: 0;
			padding-left: 5px;
		}
		&.buy{
			background-image: linear-gradient(to bottom, transparentize(#64C9EF, 0.7), transparentize(#3498DA, 0.7));
			@include order_sidebar_current_order_title_buy;
		}
		&.sell{
			background-image: linear-gradient(to bottom, transparentize(#F88447, 0.9), transparentize(#EF4D22, 0.9));
			@include order_sidebar_current_order_title_sell;
		}
	}
	.order-title{
		padding: 5px 25px 5px 15px;
		//@include scroll;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		//&:hover h3{  color: $color-blue;  }
	}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&.close_btn div:last-of-type label{ width: calc(100% - 18px); }
	}
	.timestamp{
		font-size: 10px;
		&:before{  right: 9px;  }
		.time{  color: $order_sidebar_current_order_title_color;  }
		.help_message{ width: 160px; right: 4px; top: 25px; }
	}
	h3{  transition: 0.2s ease-out  }
}
.my_order{
	.form-container{
		display: none;
		margin-bottom: 10px;
		form{
			margin: 0;
			text-align: center;
			&.sell{  background: linear-gradient(to bottom, transparentize(#f88447, 0.9), transparentize(#EF4D22, 0.9));  }
			&.buy{  background: linear-gradient(to bottom, transparentize(#64C9EF, 0.9), transparentize(#3498DA, 0.9));  }
		}
	}
	.order-title{  padding-left: 5px; }
	@include mdmax(1500){
		h3{ font-size: 11px; }
		strong.current-order{ min-width: 70px; padding-left: 5px; text-align: right; font-size: 11px; }
	}
	.current-order-content{
		padding: 5px 5px 10px;
		text-align: center;
		.btn{  width: 100%!important;  }
	}
}