@model AltBet.Bet.Models.ChangePasswordViewModel

@{
    var options = new AjaxOptions
    {
        Url = Url.Action("ChangePassword", "Account"),
        //OnBegin = "ajaxChangePassClass.onBeginAjax",
        OnSuccess = "ajaxChangePassClass.onSuccessAjax",
        OnFailure = "ajaxChangePassClass.onErrorAjax"
    };
}

@using (Ajax.BeginForm("ChangePassword", null, options, new { @class = "change_password" }))
{
    <h3 class="section_user">Change Password</h3>
    <hr>
    <span class="input_animate input--yoshiko pass_container">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "input__field input__field--yoshiko", id = "user_curr_pass" })
        @*<input class="input__field input__field--yoshiko" type="password" id="curr_pass" />*@
        <span class="show_password"></span>
        <label class="input__label input__label--yoshiko" for="user_curr_pass">
            <span class="input__label-content input__label-content--yoshiko" data-content="Current Password">Current Password</span>
        </label>
        <span class="validation-summary-errors"></span>
    </span>

    <span class="input_animate input--yoshiko pass_container">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "input__field input__field--yoshiko confirm", id = "user_pass" })
        @*<input class="input__field input__field--yoshiko" type="password" id="r_pass" />*@
        <span class="show_password"></span>
        <label class="input__label input__label--yoshiko" for="user_pass">
            <span class="input__label-content input__label-content--yoshiko" data-content="New Password">New Password</span>
        </label>
        <span class="validation-summary-errors"></span>
    </span>

    <span class="input_animate input--yoshiko pass_container">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input__field input__field--yoshiko confirm", id = "user_confirm_pass" })
        @*<input class="input__field input__field--yoshiko" type="password" id="r_confirm_pass" />*@
        <span class="show_password"></span>
        <label class="input__label input__label--yoshiko" for="user_confirm_pass">
            <span class="input__label-content input__label-content--yoshiko" data-content="Confirm Password">Confirm Password</span>
        </label>
        <span class="validation-summary-errors"></span>
    </span>
    <span class="input_animate input--yoshiko">
        <input type="submit" value="ChangePassword" id="submit" class="btn wave">
        <span class="answer_message"></span>
        @*<input type="submit" class="btn wave" value="ChangePassword">*@
    </span>
}

<script>
    appData.pageAccountChangePassUrl = "@Url.Action("ChangePassword", "Account")";
</script>