@{
    ViewBag.Title = "Account/Index";
}


<div id="DiMPAccountPage" >
    <div class="wrapper_about wrapper_user_page" >
        <ul class="tabs tabs_left">
            <li class="tab"><span>Funds</span></li>
            <li class="tab"><span>My Preferences</span></li>
            <li class="tab"><span>Settings</span></li>
            <li class="tab"><span>ChangePassword</span></li>
        </ul>
        <div class="tab_content">
            @Html.Action("Account")
            <div class="loading-box loader2"></div>
        </div>
        <script>
            globalData.userPageOn = true;
        </script>
    </div>
</div>