@{
       Layout = "~/Views/Shared/_Layout.cshtml";
}
        <section class="content">
            <div class="container content">
                <div class="col-md-3">
                    <aside>
                        <ul class="main-menu">
                            <li><a href="#">My Shares</a></li>
                            <li><a href="#">History</a></li>
                            <li class="active">
                                <a href="#">Founds</a>
                                <ul class="sub-menu">
                                    <li class="active"><a href="#">Account balance</a></li>
                                    <li><a href="#">Deposit funds</a></li>
                                    <li><a href="#">Withdraw funds</a></li>
                                    <li><a href="#">Transaction history</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Something else</a></li>
                            <li><a href="#">Another function</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-9">
                    <section class="founds">
                        <div id="Account-balance">
                            <h3>Funds</h3>
                            <h4>Account balance</h4>
                            <div class="funds"><span>Available Funds:</span><strong>$ 305.09</strong></div>
                            <div class="funds"><span>Invested Amount:</span><strong>$ 102.58</strong></div>
                            <div class="funds"><span>Unrealized Gain/Loss:</span><strong>$ 4058.26</strong></div>
                        </div>
                        <div id="Deposit-funds">
                            <h3>Funds</h3>
                            <h4>Deposite by Credit Card</h4>
                            <h5>Please input your information into the form below.</h5>
                            <form>
                                <label for="amount">Amount</label>
                                <input type="number" id="amount" placeholder="Minimum 10.00$">
                                <label for="name">Name on Credit Card</label>
                                <input type="text" id="name">
                                <label for="card">Card Number (no spaces or dashes)</label>
                                <input type="number" id="card">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="month">Expiry Date</label>
                                        <input type="month" id="month">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="code">Security Code ?</label>
                                        <input type="number" id="code">
                                    </div>
                                </div>
                                <input type="submit" id="block" value="submit!"><img src="Image/320px-MasterCard_logo.png"><img src="Image/Visa_Logo.png"><img src="Image/american-express-icon-65145.jpg">
                                <p>Note: There is no fee to deposit funds into your account. Withdrawals are subject a 30-day holding period after your initial deposit and a 5% processing fee. We do not store your credit card information.</p>
                            </form>
                        </div>
                        <div id="Withdraw-funds">
                            <form>
                                <h3>Funds</h3>
                                <h4>Withdraw funds</h4>
                                <p>You can withdraw funds from your PredictIt account at any time, subject to a 30-day holding period after your initial deposit. We remit funds by check, mailed to the address provided when you verified your identity. You can change your name and mailing address below. Withdrawals are subject to a 5% processing fee.</p>
                                <label>Amount Aviable: $306.25</label>
                                <label for="Requested">Amount Requested:</label>
                                <input type="number" id="Requested" placeholder="Ex. 10.00$">
                                <label>The check will be addressed to:</label><span>Yevgeny Shkilko</span><span>250 174 Street 2104</span><span>Su y Isles Beach, FL 33160</span>
                                <label>Click here to change your name or mailing address.</label>
                                <input type="submit" value="Review request">
                            </form>
                        </div>
                        <div id="Transaction-history">
                            <h3>Funds</h3>
                            <h4>Transaction history</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Date (UTC)</th>
                                        <th>Confirmation Number</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Deposit</td>
                                        <td>14-02-2016</td>
                                        <td>5317678701410</td>
                                        <td>$ 5,487.32</td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr>
                                        <td>Credit</td>
                                        <td>11-02-2016</td>
                                        <td>4879236745879</td>
                                        <td>$ 286.47</td>
                                        <td>Expectation</td>
                                    </tr>
                                    <tr>
                                        <td>Deposit</td>
                                        <td>28-01-2016</td>
                                        <td>5317678701410</td>
                                        <td>$ 10.00</td>
                                        <td>Not Approved</td>
                                    </tr>
                                    <tr>
                                        <td>Deposit</td>
                                        <td>24-12-2015</td>
                                        <td>2587964358793</td>
                                        <td>$ 842</td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="MyShares">
                            <div class="info">
                                <h3>SOME INFO</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, vehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor.</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque, et convallis tellus enim ut tortor. Duis in quam turpis. Vivamus congue scelerisque nibh ut ultricies. Morbi convallis et risus in maximus. Sed laoreet justo mi, non faucibus nibh iaculis vitae.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, vehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque, et convallis tellus enim ut tortor. Duis in quam turpis. Vivamus congue scelerisque nibh ut ultricies. Morbi convallis et risus in maximus. Sed laoreet justo mi, non faucibus nibh iaculis vitae.</p>
                            </div>
                        </div>
                        <div id="History">
                            <h3>Some info</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Type</th>
                                        <th>Prediction</th>
                                        <th>Shares</th>
                                        <th>Price</th>
                                        <th>Profit/Loss</th>
                                        <th>Fees</th>
                                        <th>Etc.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                    <tr>
                                        <td>12-02-16 15;56</td>
                                        <td>Closed</td>
                                        <td>Trump.Rpoll. 123456</td>
                                        <td>105</td>
                                        <td>5$</td>
                                        <td>$500,22</td>
                                        <td>($000,00)</td>
                                        <td>123/5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>