@{
    ViewBag.Title = "GetOrdersPositionsHistory";
}
<div class="content_my_position" id="DiPageMyAssets">
    <div class="my_position">
        <div class="container">
            <div class="tabs">
                <span class="tab">Open Games</span><span class="tab active">My Games</span><span class="tab">History</span>
            </div>
            <div class="tab_content">
                @Html.Action("GetOrdersPositionsHistory")
            </div>
        </div>
    </div>
</div>
<script>
    globalData.myPosOn = true;
    globalData.myPosTabOn = {};
</script>
@Html.Partial("../Shared/_OrderSidebar")
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
<script type="text/babel" src="/Scripts/myPositionsController.js">
</script>*@