@model AltBet.Admin.Models.EventsViewModel

<script type="text/javascript">
    globalData.controller = { name: "Feed", action: "View" };
</script>

<div class="box box-default" id="DiFeedEvents">
    <div class="box-header">
        <h3 class="box-title">Xml feed events</h3>
    </div>
    @Html.Action("GetEvents", "Feed")
</div>