.static-page{ padding-right: 20px; padding-left: 30px;
  h1 { display: inline-block; margin-bottom: 20px; font-size: 36px; text-transform: uppercase; color: #d9502a; }
  h3{ margin-top: 0; font-size: 26px; color: #b0afb0; }
  h4{ margin-top: 0; font-size: 18px; color: #b0afb0; }
}
