.global_column{
  margin: 10px 0px 10px;
  .child_column{
    .list_cookie{ font-style: italic; }
    .list_cookie:hover{ color: #fff;  cursor: pointer; }
    .cookie_about{ display: inline-block; margin-bottom: 20px; font-style: normal; }
  }
}
.cookies_browser{ text-decoration: underline; }
