.content{
  .page_wrapper{
    a{
        display: none;
    }
  }
}
#glossary{
  h1{
    color: #d9502a;
  }
  p{
    width: 740px;
    margin-bottom: 40px;
  }
}
#a_1 h2:active{
    color: #fff;
}
#a_1 h2:focus h2{
  color: #fff;
}
#glossary {

  div {
    .letter {
      color: #3588b6;
    }
    div {
      .titleMain {
        color: #b0afb0;
      }
      .titleMain:active {
        color: #fff;
      }
      .titleMain:hover{
        color: #fff;
        cursor: pointer;
      }
      p{
        display: none;
      }
    }
  }
}

/*for user.js*/

/*=====================*/
.textInTitle2{
  display: none;
}
.textInTitle3{
  display: none;
}
.textInTitle4{
  display: none;
}
.textInTitle5{
  display: none;
}
.textInTitle6{
  display: none;
}
.textInTitle7{
  display: none;
}
.textInTitle01{
  display: none;
}
.textInTitle02{
  display: none;
}
.textInTitle03{
  display: none;
}
.textInTitle04{
  display: none;
}
.textInTitle05{
  display: none;
}
.textInTitle06{
  display: none;
}
.textInTitle07{
  display: none;
}
.textInTitle11{
  display: none;
}
.textInTitle12{
  display: none;
}
.textInTitle13{
  display: none;
}
.textInTitle14{
  display: none;
}
.textInTitle15{
  display: none;
}
.textInTitle16{
  display: none;
}
.textInTitle17{
  display: none;
}
.textInTitle18{
  display: none;
}
.textInTitle19{
  display: none;
}
.textInTitle001{
  display: none;
}
.textInTitle0001{
  display: none;
}
.textInTitle0002{
  display: none;
}
.textInTitle0003{
  display: none;
}
.textInTitle0004{
  display: none;
}
.textInTitleF_1{
  display: none;
}
.textInTitleF_2{
  display: none;
}
.textInTitleF_3{
  display: none;
}
.textInTitleF_4{
  display: none;
}
.textInTitleF_5{
  display: none;
}
.textInTitleF_6{
  display: none;
}
.textInTitleH_1{
  display: none;
}
.textInTitleH_2{
  display: none;
}
.textInTitleH_3{
  display: none;
}
.textInTitleH_4{
  display: none;
}
.textInTitleH_5{
  display: none;
}
.textInTitleI_1{
  display: none;
}
.textInTitleI_2{
  display: none;
}
.textInTitleI_3{
  display: none;
}
.textInTitleJ_1{
  display: none;
}
.textInTitleM_1{
  display: none;
}
.textInTitleO_1{
  display: none;
}
.textInTitleO_2{
  display: none;
}
.textInTitleO_3{
  display: none;
}
.textInTitleP_1{
  display: none;
}
.textInTitleS_1{
  display: none;
}

