// darken on hover
.btn-h {
  &:not([disabled]):after { content: ''; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%;
      background: #000000; border-radius: 3px; opacity: 0; z-index: 1; transition: opacity .5s }
  &:hover:after {  opacity: 0.15;  }
  &:active:after {  opacity: 0;  }
  &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 4px; }
}


.btn-lg-icon { display: inline-block; position: relative; padding: 9px 15px 9px 45px; border-radius: 3px;
  text-align: center; cursor: pointer; box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
  &:before { content: ''; position: absolute; left: 15px; top: calc(50% - 15px); width: 30px; height: 30px; }
}


.btn-md { height: 32px;
  &:disabled { background: #dedede; color: #716767; box-shadow: none !important; }
}

//.btni { display: inline-block !important; }


%btn-color-white { color: #fff;
  &:visited{ color: #fff;  }
  &:focus{ color: #fff;  }
  &:active{ color: #fff;  }
}
.btn_green { background: linear-gradient(to bottom, #84d65b, #4dac2e); }
.btn_orange { background: linear-gradient(to bottom, #f88447, #ef4d22); }
.btn_blue { background: linear-gradient(to bottom, #64c9ef, #3498da); @extend %btn-color-white }
.btn_blue2 { background: linear-gradient(to bottom, #92d7fd, #4a74a3); @extend %btn-color-white; }
.btn_yellow { background: linear-gradient(to bottom, #f8b747, #ef8022); }
