$main-bg: #dce1e6;
$link-color: #3498da;
$main-color: #505458;
$main-color-darker: #273456;
$main-color-hover: #000000;
$default-button-bg: #e9eaee;
$active_bg: linear-gradient(to bottom, #64c9ef, #3498da);

$checkbox_bg: #ffffff;
$checkbox_label_color: #000000;

$help_block: url("../Images/sprite.svg") no-repeat -50px -162px;

.waves-ripple{  display: none;  }

$warning_message_bg: #ffffff;
$warning_message_arrow: #ffffff;

@mixin regulator{
	background: #ffffff;
	span{
		&:active{  background-color: #cccccc;  }
		&:first-of-type{  border-bottom: 1px solid #d7d7d8;  }
		&:last-of-type{  line-height: 12px;  }
		&:first-of-type{
			border-bottom: 1px solid #e9eaee;
			line-height: 16px;
			&:after{
				border: 3px solid transparent;
				border-bottom: 5px solid #313d62;
				top: 2px;
			}
		}
		&:last-of-type{
			line-height: 15px;
			&:after{
				border: 3px solid transparent;
				border-top: 5px solid #313d62;
				top: 5px;
			}
		}

	}
}

$breadcrumbs-bg: #ffffff;
$breadcrumbs-color: transparentize(#000000, 0.5);

//main_page=============================================================================================================
$main_page_tab_color: #363640;
$main_page_tab_color_active: #ffffff;
$main_page_tab_bg: #ffffff;
@mixin main_page_tab_icon{
	&:before {
		content: '';
		display: inline-block;
		width: 18px;
		height: 38px;
		margin-top: -2px;
		margin-right: 5px;
		background: url(../Images/sprite.svg) no-repeat -326px -147px;
		vertical-align: middle;
		transition: 0.4s ease-out;
	}
	&:nth-of-type(2):before{  background-position: -367px -147px;  }
	&:nth-of-type(3):before{  background-position: -407px -147px;  }
	&:nth-of-type(4):before{  background-position: -446px -147px;  }
	&:nth-of-type(5):before{  background-position: -486px -147px;  }
}
@mixin  main_page_tab_icon_active{
	background: #64c9ef;
	box-shadow: inset 0 -30px 20px -8px #3498da;
	color: $main_page_tab_color;
	&:before{ background-position: -326px -176px; }
	&:nth-of-type(2):before{  background-position: -367px -176px;  }
	&:nth-of-type(3):before{  background-position: -407px -176px;  }
	&:nth-of-type(4):before{  background-position: -446px -176px;  }
	&:nth-of-type(5):before{  background-position: -486px -176px;  }
}

$main_page_event_title: #000000;
$main_page_event_chart_button: url(../Images/sprite.svg) no-repeat -166px -354px;
@mixin main_page_event_bg{  background: #ffffff; .waves-ripple{  display: block;	} }
@mixin main_page_event_icon{
	&.sport:before{  background-position: -68px -306px;  }
	&.e_sport:before{  background-position: -186px -306px;  }
	&.finance:before{  background-position: -107px -306px;  }
	&.society:before{  background-position: -27px -306px;  }
}
@mixin main_page_event_button{
	box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
	transition: 0.2s ease;
	&[disabled]{  cursor: default;  }
	&:not([disabled]):active {
		box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);
	}
}

//order_sidebar=========================================================================================================
$order_sidebar_bg: #fff;
$order_sidebar_tab_bord: #3498da;
$order_sidebar_tab_color: #3498da;
$order_sidebar_head_separator: #e9eaee;
@mixin order_sidebar_tab_separator{
	&:first-child{  border-right: none;  }
	&:last-child{
		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 25px;
			background: #273456;
			position: absolute;
			top: 39px;
			left: 0;
			opacity: 0.1;
		}
	}
}
@mixin order_sidebar_current_order_title_buy{
	background: linear-gradient(to bottom, transparentize(#64C9EF, 0.7), transparentize(#3498DA, 0.7));
	span.edit{
		border-left: 1px solid rgba(53, 153, 218, 0.2);
		border-bottom: 1px solid rgba(53, 153, 218, 0.2);
	}
	.delete{
		border-left: 1px solid rgba(53, 153, 218, 0.2);
	}
}
@mixin order_sidebar_current_order_title_sell{
	background: linear-gradient(to bottom, transparentize(#F88447, 0.7), transparentize(#EF4D22, 0.7));
	span.edit{
		border-left: 1px solid rgba(239, 77, 33, 0.2);
		border-bottom: 1px solid rgba(239, 77, 33, 0.2);
	}
	.delete{
		border-left: 1px solid rgba(239, 77, 33, 0.2);
	}
}
$order_sidebar_current_order_title_color: #000000;
@mixin order_sidebar_order_input{  background: #ffffff;  }
$order_sidebar_order_label_color: #000000;
$order_sidebar_order_edit: url("../Images/sprite.svg") no-repeat -191px -135px;
$order_sidebar_order_delete: url("../Images/sprite.svg") no-repeat -191px -178px;
$order_sidebar_order_border_color: #e9eaee;

//active_trader=========================================================================================================
@mixin trader_event_name{
	border-top: 1px solid #dce1e6;
	border-bottom: 1px solid #dce1e6;
	&.active{
		border: none;
		background-image: linear-gradient(to bottom, #646470, #34343d);
		color: #ffffff;
	}
}
$trader_table_thead_bg: linear-gradient(to bottom, #646470, #34343d);
$trader_join_button: #000000;
$trader_button_separator: #dcdcdc;
@mixin trader_label {
	background: #ffffff;
	color: #000000;
}
$trader_table_td: #e9eaee;
$trader_button_color: #000000;
$trader_spread_button_bg: #f9eac3;
$trader_button_success: url("../Images/ico-success.png");
@mixin trader_spread_button{
	background: $trader_spread_button_bg;
	cursor: default;
	color: #707070;
	&.btn{  background: #f5e0a9;  color: #000000;  cursor: pointer; }
}
@mixin trader_input{
	box-shadow: inset 0 0 15px -3px rgba(0, 0, 0, 0.3);
}
@mixin trader_regulator{
	box-shadow: -4px 0 5px -3px rgba(0, 0, 0, 0.2);
	span{
		width: 12px;
		height: 50%;
		position: relative;
		&:first-of-type{
			border-bottom: 1px solid #e9eaee;
			line-height: 16px;
			&:after{
				border: 3px solid transparent;
				border-bottom: 5px solid #313d62;
				top: 0;
			}
		}
		&:last-of-type{
			line-height: 15px;
			&:after{
				border: 3px solid transparent;
				border-top: 5px solid #313d62;
				top: 5px;
			}
		}
		&:after{
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			position: absolute;
			left: 3px;
		}
	}
}
@mixin trader_spread_separator{
	&:first-of-type td:nth-of-type(2){  border-right: 1px solid #313d62;  }
	&:nth-of-type(2) td:nth-of-type(2){  border-right: 1px solid #313d62;  }
	&:nth-of-type(3) td:nth-of-type(2){  border-right: 1px solid #313d62;  }
	&:nth-of-type(4) td:nth-of-type(2){  border-right: 1px solid #313d62;  }
	&:nth-of-type(5) td:nth-of-type(2){  border-right: 1px solid #313d62;  }
}
@mixin trader_table_tr{
	&:nth-child(even){  background: #ffffff * 0.98;  }
}
$trader_table_th_border_color: #a4a4a4;
$trader_order_button_hover: #fff1f1 * 0.90;
$trader_order_button_active: #fff1f1 * 1.1;
@mixin trader_order_delete{
	.buy-container span.delete:hover{  background: #ebf7f9 * 0.95;  }
	.sell-container span.delete:hover{  background: #fff1f1 * 0.95;  }
	.buy-container span.delete:active{  background: #ebf7f9 * 1.1;  }
	.sell-container span.delete:active{  background: #fff1f1 * 1.1;  }
}
$trader_show_spread: linear-gradient(to right, #ccc, #fff, #ccc);
