::-webkit-input-placeholder { color: #dbdbdb; }

::-moz-placeholder { color: #dbdbdb; }

:-moz-placeholder { color: #dbdbdb; }

:-ms-input-placeholder { color: #dbdbdb; }

.b-clear { clear: both }

.hidden { display: none !important; }

.blur{
  *:not(.pop_up){
    filter: url("#{$pathImage}/blur.svg#blur") blur(5px);
  }
}

.-red { color: $color-red !important; }

h1 {
  font-size: 35px;
  text-transform: uppercase;
}

a, span { transition: 0.4s ease-out; }

label { cursor: pointer; }

a.text_decoration, a.link {
  color: $link-color;
  @include text-decoration;
}

.nowrap { white-space: nowrap; }


select {
  padding: 0 5px;
  border: 1px solid #d7d7d8;
  border-radius: 3px;
  color: #666666;
  cursor: pointer;
}
ul{  list-style-type: none;  }
*:focus{  outline: none;  }
body{
  min-width: 1350px;
  @include mdmax(1350) {  position: relative;  }
  //overflow-x: auto;
  &.blocked{ overflow: hidden; }
  &>.wrapper{
  //@include container(12);
  //min-height:100%;
  //transition: 0.4s ease-out;
    &.scroll{
      min-width: 1500px !important;
      .scroll_header{
        position: relative;
        width: 80%;
        min-width: 1250px;
        margin-left: 188px;
        .header_info{
          width:1315px ;
          float: left;
          margin-right: 0;
        }
      }
      .scroll_main_menu {
        position: relative;
        width: 186px;
        margin-top:-70px;
      }
      .scroll_content{
        width: 963px;
        margin-left: 15px;
        margin-top: 0;
        padding: 0;
        .stattabs {
          width: 978px;
          padding: 15px 15px 15px 0;
          position: static;
        }
        .tab_content{
          padding-top: 0;
        }
      }
      .scroll_position{
        width: 992px;
        margin-left: 0;
        margin-top: 0;
        padding:0;
      }
      .user_scroll{
        height: 900px;
        padding-left: 0;
        padding-top: 15px;
        padding-right: 15px;
        overflow-y: auto;
      }

      .scroll_sidebar {
        position: relative;
        margin-right: -3px;
        margin-top: -70px;
      }
    }
  }
}

//.error-massage {
//  color: red;
//  font-size: 12px;
//  font-weight: bold;
//}


i.btn [type=submit], [type=submit] {
  cursor: pointer;
  //box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
  &[disabled] { cursor: default !important; opacity: 0.6; }
  &:not([disabled]):active { box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0); }
}

input, select, button, a {
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-clear { display: none; }

//input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
//  box-shadow: inset 0 0 15px -3px rgba(0, 0, 0, 0.2);
//  &:-webkit-autofill{  -webkit-box-shadow: inset 0 0 0 50px #fff !important;  }
//}
input.datePickerJs:not([disabled]) { cursor: pointer; }

form.loading {
  i.submit {
    position: relative;
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: calc(50% - 10px);
      right: 2%;
      background-image: url("#{$pathImage}/submit_loader.svg");
      background-size: contain;
    }
  }
  //input[type=submit] {  background-image: url("#{$pathImage}/payment-load.gif"); background-position: 98% center;  }
}

//form.sending{
//  [type=submit]{
//    text-indent: -9999px;
//    background-image: url("#{$pathImage}/ajax-loader-balls.gif");
//  }
//}
.clear {
  display: none;
  width: 14px;
  height: 14px;
  min-height: inherit;
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  &:before, &:after {
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    position: absolute;
    left: 1px;
    background: #cccccc;
    transition: 0.1s ease-out;
  }
  &.active {
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
  }

}

i.wave { display: inline-block; font-style: normal; border-radius: 4px; }

.waves-effect {
  position: relative;
  overflow: hidden !important;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    transition: all .5s ease-out;
    transition-property: transform, opacity;
    transform: scale(0) translate(0, 0);
    pointer-events: none;
  }
}

//.wave{
//  transform: translateZ(0);
//  -webkit-mask-image: -webkit-radial-gradient(circle,#fff 100%,#000 100%);
//}

.show_password {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("#{$pathImage}/ico-eye.png") no-repeat;
  background-size: 20px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

label.checkbox { user-select: none; }

label.disabled {
  cursor: default !important;
  & > span:before, & > span:after { opacity: 0.5; }
}

// BM: Common horizontal check box
.checkbox_horizontal { position: relative; padding-left: 35px; cursor: pointer;
  // for green-brown checkbox
  input:not(:checked) ~ .label b { font-weight: bold; }
  input:checked ~ .label i { font-weight: bold; }
  input, input:checked {
    & ~ span.label { color: $main-color;
      b { font-weight: normal; }
      i { font-style: normal; }
    }
  }
  &.green-brown { color: $main-color;
    input:checked ~ span:before { background: #ef8022 }
    span {
      &:before { top: 5px; background: #4dac2e; }
      &:after { top: 6px; }
    }
  }
  // for left oriented label
  &.label-left { padding-left: 0; padding-right: 40px;
    & > span {
      &:before { left: inherit; right: 2px; }
      &:after { left: inherit; right: 18px; }
    }
    input:checked ~ span:after { left: inherit; transform: translateX(15px); }
  }

  & > span {
    color: #FFF * 0.5;
    transition: 0.2s ease-out;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      transition: 0.2s ease-out;
    }
    &:before {
      width: 30px;
      height: 15px;
      left: 2px;
      top: calc(50% - 8px);
      border-radius: 10px;
      box-shadow: inset 0 0 6px -1px rgba(0, 0, 0, 0.5);
      background: url("#{$pathImage}/sprite.svg") no-repeat -296px -64px $checkbox_bg;
    }
    &:after {
      width: 13px;
      height: 13px;
      top: calc(50% - 7px);
      left: 3px;
      box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      background: #ffffff;
    }
  }
  input { display: none;
    &:checked ~ span { color: #000000;
      &:before { background: url("#{$pathImage}/sprite.svg") no-repeat -284px -64px, linear-gradient(to bottom, #3aab4a, #3aab4a * 0.9); }
      &:after { transform: translateX(15px) }
    }
  }
}

// BM: radio_button
.radio_button {
  cursor: default;
  span {
    padding-left: 22px;
    padding-right: 10px;
    color: transparentize($checkbox_label_color, 0.5);
    font-size: 12px;
    position: relative;
    transition: 0.4s ease-out;
    cursor: pointer;
    user-select: none;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
    }
    &:before {
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, #84d65b, #4dac2e);
    }
    &:after {
      width: 8px;
      height: 8px;
      top: 4px;
      left: 4px;
      background: linear-gradient(to bottom, #ffffff, #d7d7d7);
      box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: 0.4s ease-out;
    }
  }
  input { display: none; }
  input[disabled] ~ span { cursor: default; }
  input:checked ~ span {
    color: $checkbox_label_color;
    &:after { opacity: 1; }
  }
}

// BM: input
.input {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  .regulator {
    width: 18px;
    height: 100%;
    margin-left: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    box-shadow: -4px 0 5px -4px rgba(0, 0, 0, 0.2);
    span {
      display: block;
      height: 50%;
      user-select: none;
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 6px;
      }
    }
    @include regulator;
  }
}

input ~ .info {
  display: block;
  width: 10px;
  height: 10px;
  //background: $help_block;
  background: url("#{$pathImage}/sprite.svg") no-repeat;
  background-position: -393px -431px;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 170;
  opacity: 0.5;
  cursor: help;
  transition: 0.4s ease-out;
  @include reg_help_message;
  &.top {
    i {
      bottom: 26px;
      right: -15px;
      z-index: 500;
      background-color: rgba(255, 255, 255, 0.5);
      color: transparentize($checkbox_label_color, 0.5);
      //background: url(../../_SourceControl/Icons/qeustion.png) no-repeat;
      //background-size: cover;
      &:before { bottom: 0; right: 9px; }
      &:after { bottom: -7px; right: 15px; }
    }
  }
  &.bottom {
    i {
      top: 19px;
      right: -15px;
      z-index: 500;
      color: transparentize($checkbox_label_color, 0.5);
      &:before { top: 0; right: 9px; }
      &:after { top: -5px; right: 15px; box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.5); }
    }

  }
  &:hover {
    opacity: 1;
    z-index: 500;
    i {
      visibility: visible;
      opacity: 1;
      &:before, &:after { opacity: 1; }
    }
  }
  i {
    visibility: hidden;
    width: 295px;
    padding: 5px 10px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.4s ease-out;
    //&:before {
    //  content: '';
    //  opacity: 0;
    //  display: none;
    //  width: 25px;
    //  height: 10px;
    //  position: absolute;
    //  z-index: 1;
    //  border-radius: 4px;
    //}
    //&:after {
    //  content: '';
    //  opacity: 0.5;
    //  display: none;
    //  width: 20px;
    //  height: 20px;
    //  position: absolute;
    //  border-radius: 0 4px 0 0;
    //  transform: rotate(45deg);
    //  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
    //  transition: 0.4s ease-out;
    //}
  }
}


@include input_validation;

.close {
  height: 16px;
  width: 16px;
  cursor: pointer;
  &.close_blue{
    &:before, &:after{ display: none; }
    background: url("#{$pathImage}/sprite.svg") no-repeat -43px -115px;
  }
  &:hover {
    &:before, span:before { transform: rotate(90deg); }
    &:after, span:after { transform: rotate(-90deg); }
    //&:before{  transform: rotate(135deg);  }
    //&:after{  transform: rotate(45deg);  }
    //span{
    //  &:before{  transform: rotate(135deg);  }
    //  &:after{  transform: rotate(45deg);  }
    //}
  }
  &:before, &:after, span:before, span:after {
    content: '';
    display: block;
    width: 4px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 2px);
    background: #fff;
    border-radius: 2px;
    transition: 0.4s ease-out;
  }
  &:before { transform: rotate(45deg); }
  &:after { transform: rotate(-45deg); }
  span {
    display: block;
    //height: 100%;
    pointer-events: none;
    &:before, &:after {
      width: 2px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 1px);
      background: #292830;
      z-index: 2;
    }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
  }
}

/*.select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url("#{$pathImage}/dropdown/dd_arrow.gif") no-repeat;
    position: absolute;
    top: 22%;
    right: 4px;
  }
  &:after{
    content: '';
    display: block;
    height: 29px;
    position: absolute;
    top: 0;
    right: 20px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #fff;
  }
  select{
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    margin-right: 3px;
    border: 1px solid #d7d7d8;
    border-radius: 3px;
    //color: #fff;
    font-size: 12px;
    background: linear-gradient(to Top, #B8BBBD, #E3E4E5);
    &.img{  padding-left: 30px;  }
  }
}*/

.select { position: relative; color: $main-color; cursor: pointer;
  &.-opened .active_selection i { transform: rotateX(180deg);
    &::before { top: 0; }
  }
  .active_selection { display: block; margin: 0 !important; padding: 0 30px 0 10px; width: 100%; height: 38px; line-height: 36px;
    border-radius: 4px; color: $reg_title; font-size: 16px !important; border: 1px solid $user_page_tr_separate; background: $active_selection_bg;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); transition: background-color 0.3s, border-color 0.3s; cursor: pointer;
    i { display: block; position: absolute; right: 16px; top: calc(50% - 2px); width: 5px; height: 4px; transition: transform .3s;
      &::before { content: ''; display: block; position: absolute; left: 0; top: 0;
        border: 5px solid transparent; border-top: 4px solid lighten(#53515e, 20%);
      }
    }
    &.active { border-radius: 4px 4px 0 0; }
  }
  ul { display: none; position: absolute; width: 100%; max-height: 250px; border: 1px solid $user_page_tr_separate; border-top: none;
    border-radius: 4px; background: $active_selection_bg; box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5); z-index: 2; overflow-y: auto;
    @include scrollWhite;
  }
  li { padding: 2px 10px; transition: 0.2s ease-out; cursor: pointer; @include user_page_li; }
  li:last-of-type{  border-bottom: none;  }
    .has-value.is-pseudo-focused .Select-input {
      opacity: 0;
    }
}

.timestamp {
  width: auto;
  height: auto;
  opacity: 1;
  position: relative;
  &:after { display: none; }
}

.warning {
  display: none;
  width: 125px;
  position: absolute;
  background: $warning_message_bg;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 81;
  &.right {
    left: auto;
    right: 0;
    &:before { left: 88px; }
    &:after { left: 83px; }
  }
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 26px;
    background: $warning_message_arrow;
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 22px;
    background: $warning_message_arrow * 0.98;
    z-index: 9;
  }
  p {
    font-size: 12px;
    color: #ff1e1e;
    position: relative;
    z-index: 10;
  }
}

.template { display: none; }

// BM: tabs
.tabs {
  text-align: center;
  &.tabs_left { text-align: left; }
}

.tab {
  transition: 0.4s ease-out;
  cursor: pointer;
  user-select: none;
  &[data-disabled], &[disabled] { cursor: default; opacity: 0.6; }
}

.tab_item {
  display: none;
  &.active { display: block; }
}

// BM: tabs variant like AT
.h-tab1 {
  &__tabs { margin: 0 auto; border-radius: 4px; text-align: center; }
  &__tab { display: inline-block; width: calc(50% - 1px); height: 35px; line-height: 33px; color: #fff; font-size: 14px;
    border: 1px solid #fff; border-radius: 4px 0 0 4px; vertical-align: top;
    &.active { background-image: linear-gradient(to top, #bdc0cd, #ffffff); border: none; color: #211e25; }
  }
  &__tab:last-child { border-radius: 0 4px 4px 0; border-left: none; }
}

// BM: new dialog
.dialog-win { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;
  &__close { position: absolute; right: 10px; top: 10px;
    //&::before, &::after { width: 3px }
  }
  &__container { display: flex; height: 100%; }
  &__inner { display: flex; width: 100% }
  //@include scroll;
  &__content { position: relative; margin: auto; margin-top: 25%; padding: 10px; /*background: $bg_color;*/
    background: #211e25;
    border-radius: 4px; border: 1px solid #000; text-align: center;
    &::before { content: ''; position: absolute; display: block; top: -10px; left: -10px; width: calc(100% + 20px); height: calc(100% + 20px); z-index: -1;
      background: linear-gradient(to bottom, #53515e, #292830); box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5); border-radius: 4px; }
    &_full { display: flex; margin-top: auto; width: 90%; height: 90%;
    }
  }
  &__message { color: $color2About; }
  &__buttons { display: flex; justify-content: center; }
  button { display: block; margin: 15px 5px 0; width: 75px; }
  button.btn1 { background-image: linear-gradient(to bottom, #84d65b, #4dac2e); }
  button.btn2 { background-image: linear-gradient(to bottom, #53515e, #3b3a44); }
}



//.breadcrumbs {
//  padding: 6px 15px 8px;
//  margin-bottom: 10px;
//  border-radius: 6px;
//  background: $breadcrumbs-bg;
//  li {
//    display: inline-block;
//    color:  $breadcrumbs-color;
//    font-size: 14px;
//    line-height: 19px;
//    a {
//      margin-right: 15px;
//      color: $link-color;
//      font-size: 14px;
//      font-family: 'open_sans_regular', sans-serif;
//      position: relative;
//      &:hover{  color: $link-color * 0.7 ;  }
//    }
//    a:after {
//      content: '';
//      display: inline-block;
//      width: 5px;
//      height: 8px;
//      margin: 0 5px 0 8px;
//      position: absolute;
//      top: 7px;
//      background: url("#{$pathImage}/sprite.svg") no-repeat -60px -211px;
//    }
//  }
//}

// BM: input
//.input_animate {
//  position: relative;
//  display: inline-block;
//  padding-top: 0.5em;
//  max-width: 400px;
//  width: 100%;
//  vertical-align: top;
//}
//
//.input__field {
//  position: relative;
//  display: block;
//  padding: 0.8em;
//  width: 100%;
//  border: none;
//  border-radius: 0;
//  background: #f0f0f0;
//  color: #37343b;
//  -webkit-appearance: none; /* for box shadows to show on iOS */
//}
//
//.input__field:focus {
//  outline: none;
//}
//
//.input__label {
//  display: inline-block;
//  float: right;
//  padding: 0 1em;
//  width: 40%;
//  color: rgba(255, 255, 255, 0.4);
//  font-family: "open_sans_semibold", sans-serif;
//}
//
//.input__label-content {
//  position: relative;
//  display: block;
//  padding: 1.6em 0;
//  width: 100%;
//}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.global_message_container {
  width: 300px;
  padding: 10px 15px;
  margin-top: 15px;
  position: fixed;
  right: -100%;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.5);
  z-index: 500;
  transition: 0.4s ease-out;
  &.active {
    right: 10px;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
  &.error p { color: #ef4d22; }
  &.alert p { color: #ef8022; }
  &.info p { color: #3498DA; }
  p { font-size: 12px; }
}

.load_btn {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    background-image: url("#{$pathImage}/sprite.svg");
  }
  &.left {
    padding-left: 30px;
    &:before { left: 5px; }
  }
  &.right {
    padding-right: 30px;
    &:before { right: 5px; }
  }
}

.upload:before { background-position: -18px -229px; }

.download:before { background-position: -18px -206px; }

// BM: pagination
.pagination { /*margin-left: 11%; */
  padding-top: 20px; //margin-bottom: 40px;
  .pagination_list { display: flex; justify-content: center;
    li { margin-left: 1px; width: 40px; height: 40px; border-radius: 4px; border: 1px solid #211e25;
      background: linear-gradient(to bottom, #53515e, #292830);
      &.active { background: #ffffff; box-shadow: inset 0 -30px 20px -8px rgba(0, 0, 0, 0.3);
        a { color: #000; }
      }
      a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; color: #fff;
        font-size: 16px; font-weight: bold; cursor: pointer; }
      &:first-child, &:last-child { width: 50px; height: 40px; background: linear-gradient(to bottom, #595764, #2f2e36);
        a { font-size: 20px; }
      }
      &.disabled { display: none; }
    }
  }
}

.list-animate2 { display: flex !important; transform: translate(0, 20px); opacity: 0; transition: opacity .3s, margin 1s, transform .3s;
  &.animate2 { transform: translate(0, 2px); opacity: 1; }
}

#disqus_thread {
  a { color: #f8b747; }
}