::-webkit-input-placeholder{
  color: #dbdbdb;
}
::-moz-placeholder{
  color: #dbdbdb;
}
:-moz-placeholder{
  color: #dbdbdb;
}
:-ms-input-placeholder{
  color: #dbdbdb;
}
$main-color: #1196d4;
html{
  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303e47;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
  }
}
body,
html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "open_sans_regular", sans-serif;
  background-image: linear-gradient(to top, #bdc0cd, #ffffff);
}
body>.wrapper{   background: #dce1e6; }

label{  cursor: pointer;  }

a.text_decoration{
	color: $main-color;
	@include text-decoration;
	&:visited{  color: rgb(85, 26, 139);  }
}

button {
  height: 30px;
  padding: 3px 10px 4px 10px;
  border-radius: 4px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
select{
  padding: 0 5px;
  border: 1px solid #d7d7d8;
  border-radius: 3px;
  color: #666666;
  cursor: pointer;
}
*:focus{  outline: none;  }
body > .wrapper{
  @include container(12);
  min-height:100%;
  box-sizing: border-box;
  transition: 0.4s ease-out;
}
.error-massage{
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.tab{
  transition: 0.4s ease-out;
  cursor: pointer;
}
.btn{
  box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
  &:active {
    box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);
  }
}
input, select, button, a {
  &:focus {
    outline: none;
  }
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
  box-shadow: inset 0 0 15px -3px rgba(0, 0, 0, 0.2);
}
//label{
//  position: relative;
  .show_password{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../Images/ico-eye.png") no-repeat;
    background-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    //z-index: 70;
    //position: absolute;
    //top: 28px;
    //right: 10px;
    //z-index: 5;
  }
//}
//span.show_password{
//  display: inline-block;
//  width: 20px;
//  height: 20px;
//  background: url("../Images/ico-eye.png") no-repeat;
//  background-size: 20px;
//}
.input{
  display: inline-block;
  position: relative;
  /*&:after{
    content: '';
    display: block;
    width: 18px;
    height: 68%;
    position: absolute;
    top: 5px;
    right: 6px;
    background: #ffffff;
  }*/
  .regulator{
    width: 18px;
    height: 100%;
    margin-left: 2px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d7d7d8;
    border-radius: 0 5px 5px 0;
    background: #fff;
    box-shadow: -2px 0 5px -1px rgba(0, 0, 0, 0.2);
    z-index: 5;
    span{
      display: block;
      height: 50%;
      line-height: 15px;
      text-align: center;
      color: #999999;
      user-select: none;
      cursor: pointer;
      &:active{
        background-color: #cccccc;
      }
      &:first-of-type{
        border-bottom: 1px solid #d7d7d8;
      }
      &:last-of-type{
        line-height: 12px;
      }
    }
  }
}

.validation-summary-errors{
  display: block;
	padding: 2px 0;
  color: red;
  font-size: 12px;
}

.select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url(../Images/dropdown/dd_arrow.gif) no-repeat;
    position: absolute;
    top: 22%;
    right: 4px;
  }
  &:after{
    content: '';
    display: block;
    height: 29px;
    position: absolute;
    top: 0;
    right: 20px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #fff;
  }
  select{
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    margin-right: 3px;
    border: 1px solid #d7d7d8;
    border-radius: 3px;
    //color: #fff;
    font-size: 12px;
    background: linear-gradient(to Top, #B8BBBD, #E3E4E5);
    &.img{  padding-left: 30px;  }
  }
}

.help{
  float: right;
  margin-left: 2px;
  width: 12px;
  height: 12px;
  background: $main-color;
  border-radius: 50%;
  position: relative;
  cursor: help;
  &:after{
    content: 'i';
    display: inline-block;
    width: 12px;
    line-height: 12px;
    font-size: 9px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: lowercase;
  }
  &:hover{
    .help_message{  display: block;  }
  }
  .help_message{
    display: none;
    width: 125px;
    position: absolute;
    top: 20px;
    right: -4px;
    background: #fff;
    padding: 5px !important;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
    z-index: 10;
    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: -4px;
      right: 5px;
      background: #fff;
      transform: rotate(45deg);
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      z-index: 9;
    }
    &:after{
      content: '';
      display: block;
      width: 20px;
      height: 10px;
      position: absolute;
      top: 1px;
      right: 2px;
      background: #fff;
      z-index: 9;
    }
    p{
      font-size: 10px !important;
      color: #707070;
      position: relative;
      z-index: 10;
    }
  }
}

.warning{
  display: none;
  width: 125px;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
  &:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 26px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 22px;
    background: #fff;
    z-index: 9;
  }
  p{
    font-size: 12px;
    color: #ff1e1e;
    position: relative;
    z-index: 10;
  }
}

.tab_item{  display: none;  }

.pop_up{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 52;
  .pop_up_container{
    display: flex;
    height: 100%;
    .pop_up_content{  margin: auto;  }
  }
}

//.invalid label{
//  animation-name: shake;
//  animation-duration: 1s;
//  animation-fill-mode: both;
//  color: red;
//}
.valid input{  border: 1px solid #a3d39c !important;  color: #a3d39c !important;  }
.invalid input{
  border: 1px solid red !important;
  color: red !important;
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.dd{
  height: 30px;
  border: none;
  &.borderRadius .ddTitle{
    border-radius: 5px;
  }
  input{  display: none !important;  }
  .ddTitle{
    height: 30px;
    background: linear-gradient(to Top, #B8BBBD, #E3E4E5);
    span{margin: 0!important;}
  }
  .ddTitleText{
    text-align: left;
    img{  width: 16px;  height: 11px;  margin-top: -3px;  background-image: url(../Images/dropdown/flagssprite_small.png);
      background-repeat: no-repeat;  background-size: 80px 583px; border-radius: 0!important;}
  }
  .divider{  height: 30px;right: 20px;  }
  .ddArrow{  top: 22%;  }
  &.ddcommon{
    .ddChild{
      width: 100%;
      left: 0;
      box-shadow: none;
      border: none;
      ul{
        //border: 1px solid #dadada;
        box-shadow: 5px 5px 5px -5px #888888;
        border-radius: 0 0 5px 5px;
        max-height: 245px;
        @include scroll;
      }
      li{
        text-align: left;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        img{  width: 16px;  height: 11px;  background-image: url(../Images/dropdown/flagssprite_small.png);
          background-repeat: no-repeat;  background-size: 80px 583px; border-radius: 0!important;}
      }
    }
  }
}

@keyframes fadeOut {
  0% {  background-color: orange;  }
  100% {  background-color: transparent;  }
}
@keyframes shake {
  0%, 100% {  transform: translate3d(0, 0, 0);  }
  10%, 30%, 50%, 70%, 90% {  transform: translate3d(-10px, 0, 0);  }
  20%, 40%, 60%, 80% {  transform: translate3d(10px, 0, 0);  }
}
@keyframes rubberBand {
  0% {  transform: scale3d(1, 1, 1);  }
  30% {  transform: scale3d(1.25, 0.75, 1);  }
  40% {  transform: scale3d(0.75, 1.25, 1);  }
  50% {  transform: scale3d(1.15, 0.85, 1);  }
  65% {  transform: scale3d(.95, 1.05, 1);  }
  75% {  transform: scale3d(1.05, .95, 1);  }
  100% {  transform: scale3d(1, 1, 1);  }
}
@keyframes fadeInLeft {
  0% {  opacity: 0;  transform: translate3d(-100%, 0, 0);  }
  100% {  opacity: 1;  transform: none;  }
}

.fadeInLeft {  animation-name: fadeInLeft;  }
.shake {  animation-name: shake;  }
.fadeOut span:after {  animation-name: fadeOut;  }
.rubberBand {  animation-name: rubberBand;  }
.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
  span:after {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

.input_animate {
  position: relative;
  display: inline-block;
  padding-top: 0.5em;
  max-width: 400px;
  width: 100%;
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #37343b;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: rgba(255, 255, 255, 0.4);
  font-family: "open_sans_semibold", sans-serif;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}