.wrapper_event_page {
  //background-color: #f8f8f8;
  //margin: 0 30px;
  padding-bottom: 25px;
  h1 {
    text-transform: uppercase;
    font-size: 18px;
    color: transparentize(#121c1c, 0.3);
    margin-bottom: 15px;
    text-align: left;
  }
	h2{
		padding-bottom: 15px;
		font-size: 14px;
		font-weight: 600;
		color: #121c1c;
		border-bottom: 1px solid #dce1e6;

	}
	.container{
		display: flex;
	}
  .chart_container {
    width: 67.66%;
    margin-bottom: 10px;
		margin-right: 10px;
    padding: 15px;
    background: #ffffff;
    border-radius: 4px;
		.chart{  height: 455px;  }
  }
  .event_info {
    width: 33.33%;
    float: left;
    vertical-align: top;
    .current_price {
      .wrapper {
        padding: 15px;
        background: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        .current_price {
          padding-top: 15px;
          color: #37343b;
          .title{
            font-size: 12px;
            opacity: 0.8;
          }
          .value{
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .price_scope{
        display: flex;
        margin: 10px 0;
        .container{
          display: flex;
          width: 50%;
          background: #ffffff;
          border-radius: 6px;
          overflow: hidden;
          &.high {
            margin-right: 5px;
            .title{  background: linear-gradient(to bottom, #64c9ef, #3498da);  }
            .current{  color: #3498da;  }
          }
          &.low{
            margin-left: 5px;
            .title{  background: linear-gradient(to bottom, #f88447, #ef4d22);  }
            .content{  color: #ef4e22;  }
          }
        }
        span {
          display: inline-block;
          width: 50%;
          padding: 10px;
          text-align: center;
          font-size: 14px;
          &.title{  color: #ffffff;  }
        }
      }

    }
    .specification {
      padding: 15px;
			margin-bottom: 10px;
      border-radius: 4px;
      background: #ffffff;
      .specification_table {
        width: 100%;
        tr {
					&:nth-child(odd){
						background: transparentize(#dce1e6, 0.7);
						border-top: 1px solid #dce1e6;
						border-bottom: 1px solid #dce1e6;
					}
          td {  padding: 8px;  }
					strong {
						font-size: 12px;
						color: #37343b;
						font-weight: normal;
						opacity: 0.6;
					}
					span {
						font-size: 12px;
						color: #37343b;
					}
        }
      }
    }
  }
  .executed {
    display: flex;
		margin-bottom: 10px;
    .executed_orders{
      display: flex;
			padding: 10px 0;
      width: 33.33%;
      flex-grow: 1;
      flex-direction: column;
      position: relative;
			background: #ffffff;
			border-radius: 4px;
      &:nth-child(1), &:nth-child(2){
				margin-right: 10px;
				th{  padding: 0 4px;  }
        tr.active td:last-child:after{  width: 100%;  }
        td{
          padding: 0 4px;
          transition: 0.3s ease-out;
          &:nth-of-type(2),
          &:nth-of-type(3){
            cursor: pointer;
            position: relative;
            span{
              position: relative;
              z-index: 3;
            }
            &:after{
              content: '';
              display: block;
              width: 0;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0.1;
              transition: 0.3s ease-out;
              z-index: 2;
            }
            &:hover:after{  width: 100%;  }
          }
					&.sell:after{  background: #ef4d22;  }
					&.buy:after{  background: #3498da;  }
        }
      }
      &:nth-child(3){
        th, td{
					width: 20%;
					&:first-of-type{
						width: 70% !important; padding: 0 4px;
					}
				}
      }
      table{  width: 100%;  }
			thead{
				display: block;
				margin: 0 15px;
				padding-bottom: 5px;
				border-bottom: 2px solid #dce1e6;
			}
      tbody{
				display: block;
				width: calc(100% - 30px);
				margin: 10px 15px 0;
        max-height: 210px;
       	transition: 0.4s ease-out;
				overflow: hidden;
				@include scroll;
      }
      th{
        text-align: left;
        color: #121c1c;
				font-weight: 600;
				font-size: 14px;
        span{
          display: inline-block;
					padding-bottom: 5px;
        }
      }
      tr{
				display: table;
				table-layout: fixed;
				width: 100%;
      }
      tr:last-of-type td{  padding-bottom: 5px;  }
      td{
        font-size: 14px;
        color: #37343b;
				&.sell{  color: #ef5b33;  }
				&.buy{  color: #3498da;  }
      }
    }
  }
  .comparison  {
		display: flex;
    width: 66.33%;
    margin-bottom: 20px;
    .title{
      display: block;
      padding: 5px 0;
      padding-left: 10px;
      position: relative;
    }
		strong{
			color: #121c1c;
			font-weight: 600;
			font-size: 14px;
		}
    .table_wrap{
      width: 50%;
			padding: 10px 0;
			background: #ffffff;
			&:first-child{  margin-right: 10px;  }
    }
    .comparison_table {
      width: 100%;
      overflow: hidden;
			thead{
				display: block;
				margin: 0 15px;
				padding-bottom: 5px;
				border-bottom: 2px solid #dce1e6;
				th:first-child{  width: 50%;  }
			}
			tbody{
				display: block;
				max-height: 210px;
				margin: 10px 15px 0;
				border-radius: 4px;
				@include scroll;
			}
      tr {
				display: table;
				table-layout: fixed;
				width: 100%;
        border-collapse: collapse;
        &:last-of-type td{  padding-bottom: 5px;  }
				th{  padding: 0 5px; text-align: left;  }
        td {
          padding: 0 4px;
					&.sell{  color: #ef5b33;  }
					&.buy{  color: #3498da;  }
          span {  font-size: 14px;  }
        }
      }
    }
  }
}

