header.first_page{
	.header_info{
		justify-content: space-between;
		float: none;
		width: 960px;
		margin: 0 auto;
		background: transparent;
		border-bottom: 1px solid transparentize(#ffffff, 0.9);
	}
	.header_right{
		border: none;
		a{  background: transparent;  }
	}
	.logo-container {
		display: flex;
		align-items: center;
		width: 150px;
		height: 50px;
		a {
			display: block;
			width: 150px;
			height: 50px;
			background: url("../Images/sprite.svg") no-repeat -19px -17px;
		}
	}
	.page_menu{
		display: flex;
		align-items: center;
		height: 40px;
		padding-right: 15px;
		li{
			display: inline-block;
			a{
				margin: 0;
				padding: 5px;
				background: transparent;
				font-size: 14px;
				color: #ffffff;
				opacity: 0.6;
				&.active, &:hover{  opacity: 1;  }
			}
		}
	}
	#change_language_msdd{
		min-width: 95px;
		padding-left: 10px;
		padding-right: 5px;
		border-right: 1px solid #54545a;
		border-left: 1px solid #54545a;
		border-radius: 0;
		.ddChild li{ text-align: center;  }
	}
	.user{
		padding-left: 0;
		padding-right: 0;
		&:before{  display: none;  }
		.log_out a{
			width: auto;
			padding-right: 0;
			margin-right: 0;
		}
	}
}
.first_page_wrapper{
	min-height: 100%;
	background: #292830;
	.slide{
		width: 960px;
		margin: 70px auto 0;
		text-align: center;
		overflow: hidden;
		.describe{
			display: block;
			color: #ffffff;
			font-size: 15px;
			opacity: 0.8;
		}
		.content{
			width: 100%;
			margin: 0;
		}
	}
	.footer{
		width: 100%;
		position: fixed;
		bottom: 50px;
		text-align: center;
		transition: 0.4s ease-out;
		&.active{  bottom: 176px;  }
		.copyright, .warning_container{
			color: #ffffff;
			font-size: 11px;
			opacity: 0.8;
		}
		.warning_container{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			span{
				&:before{
					content: '18+';
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-right: 5px;
					background: #ef4d22;
					border-radius: 50%;
					font-family: "open_sans_regular", sans-serif;
					font-size: 10px;
					color: #ffffff;
					line-height: 24px;
					text-align: center;
				}

			}
		}
	}
}
#start_betting{
	h1{
		margin-bottom: 5px;
		font-size: 64px;
		text-align: center;
		color: #bdc0cd;
		font-family: open_sans_bold, sans-serif;
		//background-image: linear-gradient(to top, #bdc0cd, #ffffff);
		//-webkit-background-clip: text;
		//background-clip: text;
		//-webkit-text-fill-color: transparent;
	}
	.join{
		display: inline-block;
		width: 190px;
		height: 54px;
		margin: 36px 0 10px;
		line-height: 54px;
		color: #ffffff;
		border-radius: 90px;
		background-image: linear-gradient(to bottom, #64c9ef, #3498da);
		cursor: pointer;
		&:after{
			border-radius: 90px;
		}
	}
	a.conditions{
		font-size: 11px;
		color: #ffffff;
		opacity: 0.6;
		&:hover{
			opacity: 1;
		}
	}
}
