@font-face {
	font-family: 'open_sans_bold';
	src: url('#{$pathFonts}/opensans-bold-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_bold_italic';
	src: url('#{$pathFonts}/opensans-bolditalic-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_extrabold';
	src: url('#{$pathFonts}/opensans-extrabold-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_extrabold_italic';
	src: url('#{$pathFonts}/opensans-extrabolditalic-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-extrabolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_italic';
	src: url('#{$pathFonts}/opensans-italic-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_light';
	src: url('#{$pathFonts}/opensans-light-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_light_italic';
	src: url('#{$pathFonts}/opensans-lightitalic-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_regular';
	src: url('#{$pathFonts}/opensans-regular-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semibold';
	src: url('#{$pathFonts}/opensans-semibold-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semibold_italic';
	src: url('#{$pathFonts}/opensans-semibolditalic-webfont.woff2') format('woff2'),
	url('#{$pathFonts}/opensans-semibolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}