header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  background: #292830;
  @include md(1400){
    button, a, .user-name{  font-size: 14px;  }
    .user-name:after{  top: 6px;  }
  }

  // reconntct button
  .reconnect .help_message { top: 40px }
  .connect { display: none; width: 30px;
    &::after { display: none; }
    &::before { content: ""; display: block; position: absolute; left: 10px; top: 11px; width: 10px; height: 10px;
      background: red; border-radius: 50%;  opacity: .8;}
  }

  //.user_info{
  //  display: none;
  //  &.active{  display: block;  }
  //}
  .odds_converter { margin-right: 5px; width: 121px;
    .active_selection { height: 36px;  padding-top: 3px;  line-height: 30px; color: #ffffff;
      background: linear-gradient(to bottom, #53515e, #292830); border: 1px solid #000000; }
    ul{  background: linear-gradient(to bottom, #45434c, #292830); border: 1px solid #000  }
    li {  color: #ffffff;
      border-top: 1px solid #53515e * 1.2;
      border-bottom: 1px solid #000;
      &:hover{  background: #31303c * 1.2;  }
      &:active {  background: #31303c * 1.5;  } }
  }
  .header_info {
    @include span(last 10.19 of 12);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background: linear-gradient(to bottom, #53515e, #292830);
    position: relative;
    .video{
      width: 124px;
      padding: 5px 16px;
      position: absolute;
      left: 15px;
      top: calc(50% - 17px);
      border-radius: 4px;
      background: linear-gradient(to bottom, #64c9ef, #3498da);
      color: #ffffff;
      line-height: 24px;
      transition: 0s;
      &:after{  display: none;  }
      &:active{  box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);  }
      &:hover{
        padding: 0;
        button{
          display: block;
          float: left;
          width: 50%;
        }
        .title{  display: none; transition: 0s;  }
      }
      button{
        display: none;
        height: 34px;
        padding: 5px 16px;
        &:first-of-type{
          //border-right: 1px solid #64c9ef;
          border-radius: 4px 0 0 4px;
          &:after{  border-radius: 4px 0 0 4px;  }
        }
        &:last-of-type{
          border-left: 1px solid #3498da;
          border-radius: 0 4px 4px 0;
          &:after{  border-radius: 0 4px 4px 0; }
        }
      }

    }
    .header_right {
      flex-direction: row;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 5px;
      padding-right: 5px;
      border-right: 1px solid #54545a;
      .user_info {
        display: none;
        &.active {
          display: flex;
        }
        span {
          padding: 0 10px;
          font-size: 14px;
          color: #fff;
          position: relative;
          &.win-lost {
            border-right: 1px solid #54545a;
            &.fadeColorOut .win {
              animation-name: fadeColorGreen
            }
            &.fadeColorOut .lost {
              animation-name: fadeColorRed
            }
            .win {
              color: #4dac2e;
            }
            .lost {
              color: #ff3905;
            }
          }
          &.invested {
            border-right: 1px solid #54545a;
            &.fadeColorOut strong {
              animation-name: fadeColorOrange
            }
            strong {
              color: #ef8022;
            }
            &:before {
              content: '';
              display: block;
              width: 1px;
              height: 40px;
              background: #292830;
              position: absolute;
              top: 0;
              left: -2px;
            }
          }
          &.available {
            &.fadeColorOut strong {
              animation-name: fadeColorBlue
            }
            strong {
              color: #1196d4;
            }
            &:before {
              content: '';
              display: block;
              width: 1px;
              height: 40px;
              background: #292830;
              position: absolute;
              top: 0;
              left: -2px;
            }
          }

          strong {
            font-weight: normal;
            color: #fff;
            display: block;


          }
        }
      }
      a {
        display: inline-block;
        padding: 5px 16px;
        margin-right: 5px;
        color: #fff;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #f8b747, #ef8022);
        vertical-align: middle;
        &.my_order {
          margin-left: 5px;
        }
        &.deposit {
          background-image: linear-gradient(to bottom, #84d65b, #4dac2e);
        }
      }
      //button {
      //  display: inline-block;
      //  padding: 5px 16px;
      //  height: auto;
      //  background: linear-gradient(to bottom, #64c9ef, #3498da);
      //  margin-right: 15px;
      //  vertical-align: middle;
      //  @include md(1420) {
      //    margin-right: 5px;
      //  }
      //}
      .fast_menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        left: 15px;
        top: 0;
        height: 70px;
        a {
          display: flex;
          align-items: center;
          background: linear-gradient(to bottom, #53515e, #292830);
          transition: 0.2s ease-out;
          border-radius: 4px;
          color: #fff;
          height: 31px;
          &.active {
            color: #000;
            background: #ffffff;
            box-shadow: inset 0 -30px 20px -8px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
  .chat{
		display: none;
    width: 32px;
    height: 44px;
    margin-right: -1px;
    border-radius: 0;
    background: url("#{$pathImage}/sprite.svg") no-repeat -219px -13px, url("#{$pathImage}/chat.png") no-repeat 0 7px contain;
  }
  .user {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 1px;
      height: 40px;
      background: #292830;
      position: absolute;
      top: 15px;
      left: 0;
    }
    span {
      //display: block;
      margin-right: 10px;
      color: #fff;
    }
    .log_in {
      display: none;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      position: relative;
      &.active{  display: flex;  }
      ul.user-menu{
        display: none;
        width: 177px;
        text-align: right;
        list-style-type: none;
        position: absolute;
        top: 70px;
        right: 0;
        li{
          background: #292830;
          a, strong{
            display: block;
            padding: 5px;
            padding-right: 15px;
            background: linear-gradient(to bottom, #373540, #53515e);
            color: #ffffff;
            font-size: 14px;
            border-bottom: 1px solid #292830;
            border-radius: 0 0 5px 5px;
            border-top: 1px solid #53515e;
            transition: 0.3s ease-out;
            &:hover{  background: linear-gradient(to bottom, #53515e, #373540); }
          }
          strong{
            display: flex;
            justify-content: flex-end;
            font-weight: normal;
            border-top: none;
            padding-right: 12px;
            button{
              display: inline-block;
              padding: 0;
              width: 20px;
              height: 20px;
              margin: 0;
              margin-left: 5px;
              border-radius: 4px;
              border: 1px solid #211e25;
              cursor: pointer;
              &:hover, &.active{  border: 1px solid $link-color;  }
              &.dark {  background: linear-gradient(to top, #53515e, #292830);  }
              &.light {  background: linear-gradient(to top, #FFFFFF, #606060);  }
            }
          }
          &:first-child a{  border-top: none;  }
          &:last-child, &:last-child a{  border-radius: 0 0 5px 5px;  }
        }
        &.active ~ span.user-name:after{  transform: rotate(180deg);  }
      }
      span.count_message{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("#{$pathImage}/sprite.svg") no-repeat -102px -357px;
        position: relative;
        span.count{
          display: block;
          width: 17px;
          height: 17px;
          margin: 0;
          text-align: center;
          line-height: 13px;
          font-size: 9px;
          color: #403f49;
          background: #2dd640;
          border-radius: 50%;
          border: 2px solid #403f49;
          position: absolute;
          top: -5px;
          right: -5px;
          overflow: hidden;
        }
      }
      span.user-name{
        margin: 0;
        padding-right: 15px;
        text-align: right;
        position: relative;
        &:after{
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: url("#{$pathImage}/sprite.svg") no-repeat -231px -199px;
          position: absolute;
          top: 8px;
          right: 0;
          transition: 0.2s ease-out;
        }
      }
    }
    .log_out {
      display: none;
      height: 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      &:hover{
        .change-color{
          visibility: visible;
          opacity: 1;
          top: 70px;
        }
      }
      &:before{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: url("#{$pathImage}/sprite.svg") no-repeat -424px -18px;
      }
      &.active{  display: flex;  }
      a {
        width: 65px;
        margin-left: 5px;
        font-size: 14px;
        color: #ffffff;
      }
      .change-color {
        width: 105px;
        visibility: hidden;
        opacity: 0;
        padding: 5px;
        position: absolute;
        top: 75px;
        right: -5px;
        background: linear-gradient(to bottom, #373540, #53515e);
        border-radius: 0 0 4px 4px;
        text-align: center;
        box-shadow: 0 7px 10px -2px rgba(0, 0, 0, 0.5);
        transition: 0.4s ease-out;
      }
    }
  }
}
.change-color{
  strong{  display: block;  margin-bottom: 3px;  font-size: 14px;  font-weight: normal; color: #ffffff; }
  .color_pick {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #211e25;
    cursor: pointer;
    transition: 0.2s ease-out;
    &:hover, &.active{  border: 1px solid $link-color;  }
    &.dark {  background: linear-gradient(to top, #53515e, #292830);  }
    &.light {  background: linear-gradient(to top, #FFFFFF, #606060);  }
  }
}
