// BM: lineuppage area
.h-event.active-exch {
  //.h-lup__tab { top: -9px; transition: 0.4s ease-out; }
  //.h-lup { overflow: visible }
}
//.h-event .lpnc-loc {
//  .h-lup__tab { top: auto; bottom: -8px; }
//}
.h-lup { position: absolute; top: 100%; z-index: 2; margin: 0 10px; width: calc(100% - 20px); height: 0; border-radius: 6px; color: $color5TextWhite;
      overflow: hidden; transition: 0.4s ease-out; @include chartMP;
  //&.active { padding-top: 10px; /*height: 400px;*/ }
  //&:after { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 0;
  //    background: $main_page_gif no-repeat center $main_page_tab_color_active; }
  //&.loader:after{  height: 100%;  }

  //&__tabs { bottom: 6px; }

  &__tabs__opened &__tab.active { color: $color-blue; }
  &__tab { display: inline-block;  width: 103px; position: absolute; top: 0; line-height: 21px; font-size: 13px; text-align: center;
    color: #fff;  transition: color 0.4s ease-out; background: url("#{$pathImage}/sprite_components.svg") no-repeat;
    &_1 { right: 50%;
      margin-right: 1px;
      padding-left: 16px;
      padding-right: 13px;
      @include main_page_lineup_button;
    }
    &_2 {
      left: 50%;
      margin-left: 1px;
      padding-left: 13px;
      padding-right: 16px;
      @include main_page_chart_button;
    }
    &:hover{  color: $color-blue;  }
  }

  //&.active &__tab_content { opacity: 1; transition: .4s; }
  &__tab_content {  position: relative; padding-top: 20px !important; overflow: hidden; /*opacity: 0;*/}

  //&__tab1_item { padding-bottom: 40px; }

  &__tab_item { display: none !important;
    &.loading:after { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
      border-radius: 6px; background: $main_page_gif no-repeat center $main_page_tab_color_active; }
    &.active { display: block !important; }
  }

  .lineup_swch{
    .h-tab1__tab { padding: 0 10px; width: auto;  height: 20px; line-height: 17px; font-size: 12px; transition: 0s;
      &.active{  line-height: 18px;  }
    }
  }
  .highcharts-tab { text-align: center; }
  .highcharts-container { display: inline-block; }
  svg { width: 100% !important;  }
  img{  width: 100%;  }
}




// BM: Lineup page teams
.l-lup { padding: 0 10px 40px;
  &__rules { position: absolute; right: 15px; font-size: 11px; }
  &__link { color: $main-color }
}
.l-team { width: 100%; /*color: #bdc0cd;*/ font-size: 13px;
  //&:nth-of-type(2), &:nth-of-type(5) { padding-right: 5px }
  //&:nth-of-type(3), &:nth-of-type(6) { padding-left: 5px }
  &__title { margin: 5px 0 0 0; padding-bottom: 5px; border-bottom: 1px solid darken(#bdc0cd, 20%); text-align: left; font-size: 14px; font-weight: bold }
  &__team { width: 100%; border-collapse: separate; border-spacing: 3px;
    td, th { font-size: 12px; text-align: center; vertical-align: top; }
    tr:hover td { text-shadow: 0 0 10px #bdc0cd; cursor: pointer }
    tr.totals {
      td:first-child { text-align: left }
      td { color: #fff; font-weight: bold }
    }
    //.pos {  }
    .pl { position: relative; padding-left: 5px; text-align: left; }
  }
  //&__total { margin-top: 10px; padding-top: 10px; border-top: 1px solid darken(#bdc0cd, 20%); font-size: 14px; text-align: left }
}

// BM: player info block
.l-team__team tr:hover .b-pl-info { visibility: visible; opacity: 1 }
//.l-team__team tr:active .b-pl-info { visibility: visible; opacity: 1 }
.b-pl-info { position: absolute; left: 20px; top: 100%; padding: 10px;
      text-align: right;  text-shadow: none; white-space: nowrap; z-index: 10; opacity: 0; transition: opacity .5s; visibility: hidden;
      @include main_page_lineup_hind;
  &__main-inf {  }
  &__statistic { font-size: 12px; }
}


// BM: rules & scoring
.h-rns { display: table-cell; width: 100%;
  .tabs { width: 30%; min-width: 300px; }
  .tab_content { display: flex; padding-bottom: 35px; height: 100%; color: #bdc0cd;
    a { color: #3498da; position: relative;
      &:hover::after { left: 0; width: 100%; }
      &::after { content: ''; display: block; position: absolute; left: 50%; bottom: -1px; width: 0; height: 1px;
          background: linear-gradient(to right, transparent, #3498da, transparent); transition: all .3s ease-out;
      }
    }
  }
  .tab_item { margin-top: 20px }
  .tab_item1 { padding: 10px 15px 15px; text-align: left; overflow: hidden; @include scroll; }
  .tab_item2 { width: 100%;
    .list { display: inline-block; width: 50%; text-align: center; }
    ul { display: inline-block; }
    li { padding-bottom: 10px; text-align: left; }
  }
}



// BM: Exchanges (events)
@mixin visibleAttr { position: static; transition: .5s; /*transition-delay: .3s*/ };
@mixin hiddAttr { position: absolute };
.ac-index.co-home {
  .mp-exchanges { display: flex; flex-wrap: wrap; justify-content: space-between; }
  .h-event { display: flex;  flex-direction: column;  justify-content: space-between; position: relative; margin: 1px 0;
		width: calc(50% - 1px); min-width: 410px; border-radius: 6px; z-index: 10; color: $color4TextWhite;
    &:nth-child(odd) { margin-right: 2px; }

    // ovverride on activate exchange
    &.active-exch { z-index: 11; color: $color4TextBlack;
      &>.bg { background: linear-gradient(to bottom, #EBEBEB, #B8B8B8); }
      .l-title {
        .score { color: #3f9622; }
        .seemore-lnk { color: $color4TextBlack; }
      }
      .button-container {
        button.event.empty { background: #8D9095 linear-gradient(to bottom, lighten(#8D9095, 10%), lighten(#54525D, 20%)) } //#8D9095
        &.opener { @include hiddAttr; visibility: hidden; opacity: 0; transition: .2s; }
      }
      .button-container.buy .button:first-child button.empty span { color: $color4TextWhite }
      .button-container.sell .button:last-child button.empty span { color: $color4TextWhite }
      .event-date{  @include main_page_event_icon_invert;  }
      .button-container.buy.nobets { width: 52px; }
      .l-buttons .inner { @include visibleAttr; visibility: visible; opacity: 1; transition: .4s }
    }

    //&.basic_mode .button-container {
    //  &.buy .button:not(:first-child), .buy button:not(:first-child){  display: none;  }
    //  &.sell .button:not(:last-child), .sell button:not(:last-child){  display: none;  }
    //}
    &.expert-mode {
      .event-symbols { padding-right: 15px; }
      .button-container {
        &.sell, &.buy {
          //&.onebtn!*, &.hideall*! { width: 50%;
          &.nobets {
            .button { @include visibleAttr; visibility: visible; opacity: 1; }
          }
          &.buy.nobets { width: 52px }
        }
        &.opener { @include hiddAttr; visibility: hidden; opacity: 0; transition: .2s; }
      }
      .l-buttons .inner { @include visibleAttr; visibility: visible; opacity: 1; transition: .4s }
    }

    &>.bg { position: absolute; left: 0; top: 0; right: 0; bottom: 0; border-radius: 6px;
        background: linear-gradient(to bottom, #53515e, #292830); z-index: -1; transition: .4s ease-out;
      &.active {  }
    }

    .event-date { position: absolute; left: 10px; top: 15px;
      &:before { content: ''; display: inline-block; margin-right: 5px; width: 24px; height: 22px; background: url("#{$pathImage}/sprite.svg") no-repeat; }
      @include main_page_event_icon;
      span { /*display: inline-block; margin-right: 5px;*/ font-size: 12px; vertical-align: top;
        &.date { transition: none }
        //&.time{  color: $main-color-darker;  }
      }
    }

    .event-symbols { display: flex; flex-direction: column; justify-content: space-around; padding: 45px 25px 15px 15px; height: 100%;
        font-size: 13px; transition: .4s; }
    .h-symbol { display: flex; justify-content: space-between; align-items: center; min-height: 35px; }
    .l-title { font-weight: bold;
      @include md(1600) { max-width: 270px; }
      .score { color: #4ade1a; }
      .seemore-lnk { color: $color4TextWhite; transition: color .1s; }
      a.seemore-lnk:hover { color: $color-blue; }
      .last-price { white-space: nowrap;
        &.down i { display: inline-block; top: 2px; background-position: -309px -308px; }
        &.up i { display: inline-block; top: 0; background-position: -292px -306px; }
        i { display: none; position: relative; margin-right: -5px; width: 15px; height: 16px; background-size: cover;
            background: url(../../Images/sprite.svg) no-repeat; }
            //background: url(../../Images/temp/sprite-01.svg) no-repeat; background-position: 0px 0px; }
      }
    }
    .l-buttons {
      .inner { display: block; position: relative; min-width: 281px; text-align: right;  @include hiddAttr; visibility: hidden; opacity: 0;
            transition: .2s;
        @include md(1600) { min-width: 191px; }
      }
    }


    .button-container { display: inline-flex; position: relative; width: 50%; height: 35px; vertical-align: middle; //transition: .3s;
      &:first-of-type { padding-right: 3px; text-align: left }
      &:last-of-type { padding-left: 2px; text-align: right }

      .button { display: inline-block; /*@include hiddAttr; visibility: hidden; opacity: 0*/ }

      button.event { position: relative; margin: 0 2px; padding: 0; min-width: 43px; height: 32px; border-radius: 4px; text-transform: uppercase;
          background: $default-button-bg; vertical-align: middle; transition: all 0.4s ease-out !important;
        @include main_page_event_button;
        &:first-child {  margin-left: 0;  }
        &:last-child {  margin-right: 0;  }
        &:not([disabled]):after { content: ''; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%;
            background: #000000; border-radius: 4px; opacity: 0; z-index: 1; }
        &:hover:after {  opacity: 0.15;  }
        &:active:after {  opacity: 0;  }
        &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 4px; }
        &.empty {
          //@include main_page_empty_button;
          span { display: block; padding: 0 !important; height: 32px; line-height: 32px; //color: $color-max !important;
            &.price { font-size: 11px; }
          }
        }
        &.empty-balvan {
					background: transparent; box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.3);
					//background: transparent; box-shadow: inset 0 3px 11px 0 rgba(0, 0, 0, 0.3);
				}

        span { display: block; position: relative; line-height: 13px; /*color: $main_page_event_title;*/ font-weight: 600; z-index: 2;
          &.price { padding: 3px 8px 0; font-size: 13px; }
          &.volume { padding-bottom: 3px; font-size: 10px; color: darken($color4TextWhite, 25%); }
        }
      }

      &.opener { @include visibleAttr; visibility: visible; position: absolute; right: 35px; top: calc(50% - 35px/2); width: auto;
          opacity: 1; transition: .4s;
        button { padding: 0 10px; color: #333; font-size: 14px; background: linear-gradient(to top, #bdc0cd, #ffffff); font-weight: bold; text-transform: none }
        i { display: inline-block; position: relative; margin-right: 10px; top: 3px; width: 18px; height: 18px;
            background: url(../../Images/sprite.svg) no-repeat; background-position: -269px -305px; }
      }


      // left buttons
      &.sell, &.buy { button.empty { font-size: 12px; } }
      &.sell { text-align: right;
        &>button:not(.empty):last-child { background-image: linear-gradient(to bottom, #64c9ef, #3498da); }
        // for preview
        /*
        &.onebtn { width: 43px;
          .button { @include hiddAttr; visibility: hidden; opacity: 0 }
          .button:last-of-type { @include visibleAttr; visibility: visible; opacity: 1; }
        }
        */
        /*&.hideall, */&.nobets { width: 0;
          .button { @include hiddAttr; visibility: hidden; opacity: 0 }
        }

        .button { margin-left: 3px;
          &:last-child{
            button { background-image: linear-gradient(to bottom, #64c9ef, #3498da);
              &:not(.empty){  background-image: linear-gradient(to bottom, #64c9ef, #3498da);  }
              span{ color: #fff; opacity: 0.8; }
            }
          }
          @include md(1600) {
            &:nth-last-of-type(3) { display: none !important; }
          }
        }
      }
      // right buttons
      &.buy { text-align: left  ;
        &>button:not(.empty):first-child { background-image: linear-gradient(to bottom, #f88447, #ef4d22); }
        // for preview
        //&.nobets { width: 43px; }
        &.nobets { width: 0;
          .button { @include hiddAttr; visibility: hidden; opacity: 0 }
        }
        /*
        &.onebtn { width: 43px;
          .button { @include hiddAttr; visibility: hidden; opacity: 0; }
          .button:first-of-type { @include visibleAttr; visibility: visible; opacity: 1; }
        }
        */
        /*
        &.hideall { width: 0;
          .button { @include hiddAttr; visibility: hidden; opacity: 0; }
        }
        */

        .button { margin-right: 3px;
          &:first-child{
            button { background-image: linear-gradient(to bottom, #f88447, #ef4d22);
              //&:not(.empty){  background-image: linear-gradient(to bottom, #f88447, #ef4d22);  }
              &.empty span { /*color: $color4TextWhite;*/ }
              span{ color: #fff; opacity: 0.8; }
            }
          }
          @include md(1600) {
            &:nth-of-type(3) { display: none !important; }
          }
        }
      }
    }

    // lineup tabs
		&.no_lineups{
          .lpnc_tabs {display: none; }
          .lpnc-loc{
            .pl, .pos{ width: 140px; height: 20px; transform: none;
              &:not(.active){ height: 0; transform: scaleY(0); }
              strong{  margin-top: 3px;  }
            }
            .pl{ left: calc(50% - 140px); background-position: -28px -73px;
              strong { float: left; margin-left: 25px; }
            }
            .pos { background-position: -124px -73px;
              strong { float: right; margin-right: 25px; }
            }
          }
		}
    // &.active .lpnc-loc { bottom: -12px; }
    .lpnc-loc { position: relative; bottom: -2px; height: 37px; text-align: center; transition: 0.4s ease-out;
      //.loc1, .loc2 { display: inline-block; width: 108px; height: 37px; transform: scaleY(0.55) translateY(14px);
      //    background: url("#{$pathImage}/sprite_components.svg") no-repeat; }
      //.loc1 { background-position: -28px -11px; }
      //.loc2 { background-position: -163px -11px; }

			.pl, .pos{
				width: 108px;  height: 37px;  position: absolute;  bottom: 0;  font-size: 11px;  font-weight: normal;
				line-height: 16px;  color: $main-color;  background: url("#{$pathImage}/sprite_components.svg") no-repeat;
				overflow: hidden;  transition: 0.4s ease-out;  transform: scaleY(0.55) translateY(14px);
				&.active{  transform: none;  }
				strong{  display: block;  width: 90px;  transform: translateY(-20px);  transition: 0.2s ease-out;  font-weight: normal;  }
			}
			.pl{
				left: calc(50% - 108px); background-position: $main_page_event_info_pl_bg;
				//padding-left: 13px;  padding-right: 0;  right: -5px;
				//.profit{  color: #4dac2e;  }
				//.loss{  color: #ff3905;  }
				strong{  float: right;  }
				span{
					&.win{  color: #4dac2e;  }
					&.lose{  color: #ff3905;  }
				}
			}
			.pos{
				left: 50%; background-position: $main_page_event_info_pos_bg;
				//padding-right: 13px;  padding-left: 0;  left: -6px;
				strong{  float: left;  }
				span{  color: $main_page_pos_color;  }
			}

      &.opened .lpnc_tabs { //bottom: 0;
        &__tab.active { color: $color-blue; }
      }
      .lpnc_tabs { position: absolute; left: 0; bottom: 0; width: 100%; line-height: 21px; font-size: 13px; text-align: center;
          color: #fff;  transition: color 0.4s ease-out;
        &__tab { display: inline-block; width: 103px; background: url("#{$pathImage}/sprite_components.svg") no-repeat;
              transition: color .4s; cursor: pointer;
          &:hover { color: $color-blue; }
          &_1 { height: auto; margin-right: 1px; padding: 0 16px 0 14px; @include main_page_lineup_button; }
          &_2 { height: auto; margin-left: 1px; padding: 0 16px 0 14px; @include main_page_chart_button; }
        }
      }
    }


    // btn open lineups
    .show-plnc { display: block; position: absolute; left: calc(50% - 20px); bottom: 0; width: 40px; height: 20px; min-height: inherit;
          background: $main_page_event_chart_button; cursor: pointer; z-index: 4; transition: 0.4s ease-out;
      &:before, &:after { content: ''; display: block; position: absolute; left: 12px; width: 15px; height: 1px;
          background: #eeeeef * 0.5; transition: 0.4s ease-out; }
      &:before {  top: 9px;  }
      &:after {  top: 13px;  }
      &.active{
        &:before { top: 12px; transform: rotate(45deg); }
        &:after { top: 12px; transform: rotate(-45deg); }
      }
    }

    /*.mode_info_js,*/ .event_info_bottom
    //, .h-lup__tab_content
      { display: none; }
  }
}
.content { @include span(7.6 of 12); @include push (1.8 of 12); position: relative; margin-top: 70px; padding: 15px; min-width: 800px;
    color: $main-color;
  .nav_items {
    &.loaded .pagination { display: block; }
    .wrapper>.tab_content{  padding-top: 50px;  }
  }
}


// ------------- ВСЁ ЧТО НИЖЕ БУДЕТ УДАЛЕНО !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ----------------------------------
.content {
  .nav_items {
    &.loaded .pagination { display: block; }

    .mode_wrapper {
      display: flex;
      align-items: center;
      width: 155px;
      height: 40px;
      padding: 0 10px;
      float: right;
      color: $main-color;
      background: $bg_color;
      border-radius: 6px;
      .mode_switch{
        width: 100%;
        @include checkbox_vertical;
        padding: 0;
        padding-right: 25px;
        input:checked ~ span{
          &:before{  background: #ef8022  }
        }
        span{
          color: $checkbox_label_color;
          &:before{  background: #4dac2e;  }
          &:before{
            left: inherit;
            right: 2px;
          }
          &:after{
            left: inherit;
            right: 3px;
          }
        }
      }
    }
    .stattabs {
      width: 63.33%;
      padding: 15px;
      background: $main-bg;
      position: fixed;
      top: 70px;
      left: 15%;
      z-index: 93;
      a.stab {
        display: inline-block;
        margin-right: 10px;
        padding: 0 15px;
        font-size: 14px;
        font-family: "open_sans_regular", sans-serif;
        background: $main_page_tab_bg;
        color: $main_page_tab_color;
        border-radius: 6px;
        cursor: pointer;
        &.active {
          @include main_page_tab_icon_active;
          span {
            &:after{  margin-bottom: 0;  }
            &:before{  margin-top: -30px;  }
          }
        }
        span{
          display: inline-block;
          padding: 10px 0;
          vertical-align: middle;
          overflow: hidden;
          &:before, &:after{
            content: attr(data-content);
            display: block;
            transition: 0.4s ease-out;
          }
          &:after{  margin-bottom: -26px;  margin-top: 6px;  color: $main_page_tab_color_active * 0.95; }
          &:before{  margin-top: -2px; color: $main_page_tab_color; }
        }
        @include main_page_tab_icon;
      }
    }
    //.tab_content{  padding-top: 50px;  }
    .ui-state-highlight{
      height: 102px;
      border: 1px dashed #fcefa1;
    }

    .content_bet {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      margin-top: 2px;
      position: relative;
      text-align: center;
      border-radius: 6px;
      transition: 0.4s ease-out;
      cursor: default;
			&:first-child{  margin-top: 0!important;  }
      &.ui-sortable-helper{  transition: 0s;  cursor: move;  }
			&.ui-sortable-handle .content_title{  cursor: move;  }
      &.clickable{
        .waves-ripple{  display: block;;  }
        .content_title, .table{  transition: 0.4s ease-out;  }
        &:not(.event-content):hover{
          .content_title h2{  color: transparentize($link-color, 0.4);  }
        }
        .event-content{
          &:hover{
            h3.event-title{  color: transparentize($link-color, 0.4) !important;  }
          }
          &.active{
            &:after{  opacity: $main_page_event_opacity;  }
            h3{  color: $link-color;  }
          }
        }
        &.active{
          .content_title{
            h2{  color: $link-color;  }
          }
        }
        &.active .content_title h2{  color: $link-color;  }
      }
      .waves-ripple{  display: none;  }
      h2, h3 {
        color: $main_page_event_title;
        text-align: left;
        font-size: 14px;
        vertical-align: middle;
        //transition: 0.4s ease-out;
      }
      h2{
        margin: 3px 0;
        transition: 0.4s ease-out;
        position: relative;
        span{  transition: 0s;  }
        .help{  transition: 0.2s ease-out;  }
      }
      h3{
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        span{  position: relative;  }
        a {
          display: inline-block;
          //padding-right: 15px;
          color: transparentize($main-color, 0.2);
          font-size: 12px;
          vertical-align: middle;
          position: absolute;
          right: 0;
          &:after{
            content: '';
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-left: 4px;
            background: url("#{$pathImage}/sprite.svg") no-repeat -59px -209px;
          }
        }
        strong.score{
          position: absolute;
          top: 20px;
          left: -25%;
        }
      }
      h3 a:hover{  color: $main-color-hover;  }
      a.add_favorite {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 44px;
        left: calc(50% - 10px);
        background: url("#{$pathImage}/sprite.svg") no-repeat -97px -123px;
        z-index: 2;
        transition: 0.2s ease-out;
        &:hover {
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: rubberBand;
        }
        &.active {  background-position: -97px -90px;  }
      }
      .help{  right: -8px;  }
      .help_message{  width: 210px;  }

      .event_info_bottom { position: absolute; right: 0; bottom: 5px; padding: 0 5px 2px 5px; font-size: 11px;
          background: #211e25; border-radius: 5px 0 0 5px; z-index: 1; }

      .content_title, .table{
        display: inline-block;
      }
      .content_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 127px;
        width: 24%;
        padding: 30px 10px 20px;
        margin-right: 2px;
        border-radius: 6px 0 0 6px;
        @include main_page_event_bg;
        &.command { position: relative; padding: 30px 10px 30px 30px;
          .inner { display: block; }
          .vs { position: relative; left: -20px; top: -8px; height: 1px; color: #5f626c; font-size: 12px; text-align: left; }
          h2 { font-size: 13px;
            &:before { content: ''; display: block; position: absolute; left: -19px; width: 15px; height: 10px;
                background: url("#{$pathImage}/sprite.svg") no-repeat; }
            &:first-of-type:before{ bottom: 5px; background-position: -27px -346px;  }
            &:last-of-type:before{ top: 5px; background-position: -27px -372px;  }
          }
        }
      }
      .table {
        //display: flex;
        width: 76%;
        border-radius: 0 6px 6px 0;
        vertical-align: middle;
        position: relative;
        cursor: default;
        @include main_page_event_bg;
        &.active{
          padding-bottom: 10px;
          .event-content{
            position: static;
            &:before{  height: calc(100% - 25px) !important; right: calc(50% - 1px) !important;  }
            &:after{  width: 50%;  }
            &:nth-of-type(2).active:after{  right: 0; left: inherit;  }
          }
        }
        .event-content {
          float: left;
          width: calc(50% - 1px);
          height: 127px;
          padding: 10px 5px 31px;
          position: relative;
          &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: #000;
            opacity: 0;
          }
          &:first-of-type{
            margin-right: 2px;
            &:before{
              content: '';
              display: block;
              width: 2px;
              height: 100%;
              position: absolute;
              top: 0;
              right: -2px;
              background: $main-bg;
            }
          }
          &:last-of-type{  margin-left: 2px;  }
          h3 {
            display: block;
            padding-left: 2px;
          }
          //.buy, .sell{
          //  display: inline-block;
          //}

          .pl, .pos{
            width: 108px;
            height: 37px;
            position: absolute;
            bottom: -45px;
            font-size: 11px;
						font-weight: normal;
						line-height: 16px;
            color: $main-color;
            background: url("#{$pathImage}/sprite_components.svg") no-repeat;
            overflow: hidden;
            transition: 0.4s ease-out;
            transform: scaleY(0.55) translateY(14px);
            &.active{  transform: none;  }
            strong{
              display: block;
              width: 102px;
              transform: translateY(-20px);
              transition: 0.2s ease-out;
							font-weight: normal;
            }
          }
          .pl{
            padding-left: 13px;
            padding-right: 0;
            right: -5px;
            background-position: $main_page_event_info_pl_bg;
            //.profit{  color: #4dac2e;  }
            //.loss{  color: #ff3905;  }
            strong{  float: left;  }
            span{
              &.win{  color: #4dac2e;  }
              &.lose{  color: #ff3905;  }
            }
          }
          .pos{
            padding-right: 13px;
            padding-left: 0;
            left: -6px;
            background-position: $main_page_event_info_pos_bg;
            strong{  float: right;  }
            span{
              color: $main_page_pos_color;
            }
          }
        }
      }

    }

    //.pagination { display: none; }
  }
  .mp-exchanges {  padding-top: 5px;  }
  .tab_item:first-child {
    display: block;
  }
  .help_message{
    strong{
      display: block;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: bolder;
      color: $main-color;
    }
    table{
      width: 100%;
      tr:last-of-type td{
        padding-top: 5px;
        span{  font-weight: bold;  }
      }
      th{  font-size: 13px;  font-weight: bold; color: $main-color;  }
      span{  font-size: 12px;  font-weight: normal; color: $main-color;  }
    }
  }
}
