.content {
  @include span(7.6 of 12);
  @include push (1.8 of 12);
  margin-top: 70px;
  padding: 15px;
  position: relative;
  .breadcrumbs {
    padding: 6px 15px 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: $breadcrumbs-bg;
    li {
      display: inline-block;
      color:  $breadcrumbs-color;
      font-size: 14px;
      line-height: 19px;
      a {
        margin-right: 15px;
        color: $link-color;
        font-size: 14px;
        font-family: 'open_sans_regular', sans-serif;
        position: relative;
        &:hover{  color: $link-color * 0.7 ;  }
      }
      a:after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 8px;
        margin: 0 5px 0 8px;
        position: absolute;
        top: 7px;
        background: url("../Images/ico-arrow.png") no-repeat;
        background-size: cover;
      }
    }
  }
  .nav_items {
    .tabs{
      span.tab{
        &.active {
          @include main_page_tab_icon_active;
          span{
            &:after{  margin-bottom: 0;  }
            &:before{  margin-top: -30px;  }
          }
        }
      }
    }
    .tabs {
      margin: 10px 0;
      span.tab {
        display: inline-block;
        margin-right: 10px;
        padding: 0 15px;
        font-size: 14px;
        font-family: "open_sans_regular", sans-serif;
        background: $main_page_tab_bg;
        color: $main_page_tab_color;
        border-radius: 6px;
        cursor: pointer;
        span{
          display: inline-block;
          padding: 10px 0;
          vertical-align: middle;
          overflow: hidden;
          &:before, &:after{
            content: attr(data-content);
            display: block;
            transition: 0.4s ease-out;
          }
          &:after{  margin-bottom: -26px;  margin-top: 6px;  color: $main_page_tab_color_active * 0.95; }
          &:before{  margin-top: -2px; color: $main_page_tab_color; }
        }
        @include main_page_tab_icon;
      }
    }
    .ui-state-highlight{
      height: 102px;
      border: 1px dashed #fcefa1;
    }
    .content_bet {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      margin-top: 2px;
      position: relative;
      text-align: center;
      border-radius: 6px;
      transition: 0.4s ease-out;
      cursor: default;
      &.ui-sortable-helper{  transition: 0s;  }
      &:first-child{  margin-top: 0!important;  }
      &.clickable{
        .waves-ripple{  display: block;;  }
        .content_title, .table{  transition: 0.4s ease-out;  }
        &:hover{
          .event-content:first-child h3.event-title{  color: transparentize($link-color, 0.4);  }
          .content_title h2{  color: transparentize($link-color, 0.4);  }
        }
        .event-content{
          &:hover{
            h3.event-title{  color: transparentize($link-color, 0.4) !important;  }
          }
          &.active h3{  color: $link-color;  }
        }
        &:active{
          .content_title{
            h2{  color: $link-color;  }
          }
        }
        &.active .content_title h2{  color: $link-color;  }
      }
      .waves-ripple{  display: none;  }
      h2, h3 {
        display: inline-block;
        color: $main_page_event_title;
        text-align: left;
        font-size: 14px;
        vertical-align: middle;
        //transition: 0.4s ease-out;
      }
      h2{  margin: 3px 0; transition: 0.4s ease-out;  }
      h3{
        margin-bottom: 5px;
        position: relative;
        span{  position: relative;  }
        a {
          display: inline-block;
          //padding-right: 15px;
          color: transparentize($main-color, 0.2);
          font-size: 12px;
          vertical-align: middle;
          position: absolute;
          right: 0;
          &:after{
            content: '';
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-left: 4px;
            background: url("../Images/sprite.svg") no-repeat -59px -209px;
          }
        }
        strong.score{
          position: absolute;
          top: 20px;
          left: -25%;
        }
      }
      h3 a:hover{  color: $main-color-hover;  }
      a.add_favorite {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 44px;
        left: calc(50% - 10px);
        background: url(../Images/sprite.svg) no-repeat -97px -123px;
        z-index: 2;
        &:hover {
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: rubberBand;
        }
        &.active {  background-position: -97px -90px;  }
      }
      .event_info{
        width: calc(24% - 20px);
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        text-align: left;
        &:before{
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          margin-right: 5px;
          background: url("../Images/sprite.svg") no-repeat;
        }
        @include main_page_event_icon;
        span {
          font-size: 12px;
          display: inline-block;
          margin-right: 5px;
          vertical-align: top;
          &.date{  color: $main-color;  opacity: 0.5;  }
          &.time{  color: $main-color-darker;  }
        }
        i{
          float: right;
          line-height: 12px;
          padding: 3px 7px;
          color: #ffffff;
          border-radius: 4px;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          vertical-align: top;
          &.live{  background-image: linear-gradient(to bottom, #84d65b, #4dac2e);  }
          &.half_time{  color: transparent; background-image: linear-gradient(to bottom, #cccb35, #cccb35 * 0.9); }
          &.end{   background-image: linear-gradient(to bottom, #646470, #34343d);  }
          span{  display: inline-block;  margin: 0;  margin-left: -11px;  color: #ffffff;  }
          @include md(1550){
            &.half_time{
              color: #ffffff;
              span{  display: none;  }
            }
          }
        }
      }
      .content_title, .table{
        display: inline-block;
      }
      .content_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 10px 20px;
        margin-right: 2px;
        width: 24%;
        border-radius: 6px 0 0 6px;
        @include main_page_event_bg;
        &.command{
          padding: 30px 10px 20px 30px;
          position: relative;
          &:before{
            content: '';
            width: 20px;
            height: 34px;
            background: url("../Images/sprite.svg") no-repeat -27px -347px;
            position: absolute;
            top: calc(50% - 13px);
            left: 10px;
          }
        }
      }
      .table {
        //display: flex;
        width: 76%;
        border-radius: 0 6px 6px 0;
        @include main_page_event_bg;
        vertical-align: middle;
        position: relative;
        &:hover h3.event-title{
          color: $main_page_event_title !important;
        }
        .event-content {
          float: left;
          padding: 10px 5px 31px;
          width: 50%;
          h3 {
            display: block;
            padding-left: 2px;
          }
          .button-container{  height: 35px;  }
          button.event {
            height: 32px;
            padding: 0;
            border-radius: 4px;
            text-transform: uppercase;
            background: $default-button-bg;
            vertical-align: middle;
            @include main_page_event_button;
            position: relative;
            &:not([disabled]):after{
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              background: #000000;
              opacity: 0;
              transition: 0.4s ease-out;
              border-radius: 4px;
            }
            &:hover:after{  opacity: 0.15;  }
            &:active:after{  opacity: 0;  }
            &.empty{
              width: 48px;
              span{
                display: block;
                height: 32px;
                line-height: 32px;
                padding: 0 !important;
              }
            }
            span{
              display: block;
              line-height: 13px;
              color: $main_page_event_title;
              font-weight: 600;
              position: relative;
              z-index: 2;
              &.price{
                padding: 3px 8px 0;
                font-size: 13px;
              }
              &.volume{
                padding-bottom: 3px;
                font-size: 10px;
                color: transparentize($main_page_event_title, 0.4);
              }
            }
          }
          .buy, .sell{
            display: inline-block;
          }
          .buy{
            button{

              &:first-child{
                background-image: linear-gradient(to bottom, #64c9ef, #3498da);
                span{
                  color: #fff;
                  opacity: 0.8;
                }
              }
              @include md(1450){
                &:nth-of-type(3){
                  display: none;
                }
              }
            }
          }
          .sell{
            button{
              &:last-child{
                background-image: linear-gradient(to bottom, #f88447, #ef4d22);
                span{
                  color: #fff;
                  opacity: 0.8;
                }
              }
              @include md(1450){
                &:nth-last-of-type(3){
                  display: none;
                }
              }
            }
          }
        }
      }
      span.show-schedule{
        display: block;
        width: 40px;
        height: 20px;
        position: absolute;
        left: calc(50% - 20px);
        bottom: 0;
        z-index: 2;
        cursor: pointer;
        background: $main_page_event_chart_button;
        &:before, &:after{
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          border-radius: 2px;
          background: #eeeeef * 0.5;
          position: absolute;
          left: 12px;
          transition: 0.4s ease-out;
        }
        &:before{  top: 9px;  }
        &:after{  top: 13px;  }
        &.active{
          &:before{
            transform: rotate(45deg);
            top: 12px;
          }
          &:after{
            transform: rotate(-45deg);
            top: 12px;
          }
        }
      }
      .schedule{
        display: none;
        margin: 15px 10px 25px ;
        clear: both;
        position: relative;
        &.active:after{
          content: '';
          display: block;
          width: calc(100% - 10px);
          height: 100%;
          background: url("../Images/ajax-loader.gif") no-repeat center $main_page_tab_color_active;
          position: absolute;
          top: 0;
          left: 0;
        }
        img{  width: 100%;  }
      }
    }
  }
  .tab_item:first-child {
    display: block;
  }
}
