.main_menu {
  @include span(1.8 of 12);
  //width: 205px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  height: 100%;
  padding-top: 12px;
  background: linear-gradient(to bottom, #3a3943, #292830);
  overflow: hidden;
  .menu-btn{
    width: 50px;
    height: 50px;
    float: left;
    background: url(../Images/sprite.svg) no-repeat -171px -73px;
    border-right: 1px solid #4e4d56;
    cursor: pointer;
  }
  .logo-container {
    //@include span(1.3 of 12);
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    padding-left: 15px;
    border-left: 1px solid #292830;
    a {
      display: block;
      width: 150px;
      height: 50px;
      background: url("../Images/sprite.svg") no-repeat -11px -17px;
    }
  }
  .nav_search {
    //background-color: #1e1e1e;
    padding: 20px 15px 10px;
    .search {
      position: relative;
      overflow: hidden;
      .input--nao {  overflow: hidden;  }
      .input__field--nao {
        padding: 0.5em 0 0.25em;
        width: 100%;
        background: transparent;
        color: #b0b0b0;
        font-size: 14px;
      }
      .input__label--nao {
        position: absolute;
        top: -3px;
        left: 0;
        font-size: 0.85em;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        pointer-events: none;
        transform-origin: 0 0;
        transition: transform 0.3s 0.2s, color 1s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      }
      .graphic--nao {
        stroke: #92989e;
        pointer-events: none;
        transition: transform 0.7s, stroke 0.7s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      }
      .input__field--nao:focus + .input__label--nao,
      .input--filled .input__label--nao {
        color: #525961;
        transform: translate3d(0, -1.25em, 0) scale3d(0.85, 0.85, 1);
      }
      .input__field--nao:focus ~ .graphic--nao,
      .input--filled .graphic--nao {
        stroke: #525961;
        transform: translate3d(-66.6%, 0, 0);
      }
      .input__field--nao:focus ~ .submit,
      .input--filled .submit {
        top: -8px;
        transition: transform 0.3s, top 0.3s 0s;
      }
      .submit {
        position: absolute;
        top: 13px;
        right: 0;
        z-index: 2;
        width: 25px;
        height: 25px;
        background: url("../Images/sprite.svg") no-repeat -173px -22px;
        cursor: pointer;
        outline: none;
        opacity: 0.3;
        transition: transform 0.3s, top 0.3s 0.4s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        &:hover{  opacity: 0.5;  }
      }
    }
  }
  /*
  .nav_bet {
    font-family: "Open Sans", sans-serif;
    @include scroll;
    ul.sub-menu_1 {
      & > li > span {
        display: inline-block;
        padding-left: 35px;
        padding-bottom: 5px;
      }
    }
    ul.sub-menu_2 li span{
      width: 65%;
    }
    ul.sub-menu_3 {
      li span{
        width: 65%;
        padding: 4px 0;
      }
      a:not(.favorite_small) {
        display: inline-block;
        width: 66%;
        padding: 5px 0;
        vertical-align: middle;
      }
    }

    li {
      color: #d7d7d8;
      position: relative;
      font-size: 14px;
      padding-top: 5px;
      cursor: pointer;
      &:last-child {
        padding-bottom: 5px;
      }
      &.live_event{
        .sub-menu_2{
          li > span{
            padding-left: 45px;
          }
        }
        .sub-menu_3 li{
          &:hover > a.jump{  display: block;  }
          & > a.favorite{
            width: 35%;
            background-position: 88% 42%;
            background-size: 13px;
          }
          & > a.jump{
            display: none;
            width: 14px;
            padding: 0;
          }
          & > span{
            padding-left: 0 !important;
          }
        }
        .sub-menu_4 li{
          & > a{
            width: 65%;
            &.favorite_small{
              width: 35%;
              background-size: 10px;
            }
          }
        }
      }
      span {
        &:last-child {
          padding-bottom: 0;
        }
        &.active {
          padding-bottom: 0;
          & > span {
            display: inline-block;
            padding-bottom: 10px;
          }
        }
      }
      &:first-child {
        .jump {
          top: calc(50% - 7px);
        }
      }

      &:hover > .jump {
        display: block;
      }
      //& > span {
      //  color: #d7d7d8;
      //  font-size: 16px;
      //  padding: 10px 0 10px 15px;
      //}
      & > ul { //Всплывающее меню**************************************************************************
        display: none;
        & > li {
          display: block;
          background-color: #2d414e;
          font-size: 12px;
          color: #fff;
          //Второе всплывающее меню***********************************************************************************
          ul {
            display: none;
            //height: 200px;
            //overflow-y: auto;
            //&::-webkit-scrollbar {
            //  width: 4px
            //}
            //
            //&::-webkit-scrollbar-track {
            //  background-color: #e8e8e8;
            //  border-radius: 5px;
            //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
            //}
            //
            //&::-webkit-scrollbar-thumb {
            //  background-color: #4bb6af;
            //  border-radius: 5px;
            //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
            //}
            & > li {
              display: block;
              background-color: #3f5665;
              &:last-child {
                padding-bottom: 0;
              }
              &:hover {
                background-color: #7e97a7;
              }
              span {
                display: inline-block;
                padding-bottom: 7px;
                vertical-align: middle;
              }

              a:not(.favorite) {
                color: #d7d7d8;
                font-size: 12px;
              }
              a.favorite {
                display: inline-block;
                width: 31%;
                height: 25px;
                background-image: url("../Images/emtystar.png");
                background-position: 83% 12%;
                background-size: 18px;
                vertical-align: middle;
                &:hover, &.active{
                  background-image: url("../Images/starfull.png");
                }
              }
              //Третье выпвдвющее*************************************************************************************
              ul {
                display: none;
                li {
                  background-color: #607888;
                  padding: 0;
                  //&:last-child {
                  //  padding-bottom: 5px;
                  //}
                  &:hover {
                    background-color: #7e97a7;
                  }
                  a {
                    font-size: 12px;
                    color: #fff;
                  }
                  a.favorite_small {
                    display: inline-block;
                    width: 29%;
                    height: 25px;
                    background-image: url("../Images/emtystar.png");
                    background-position: 85% 45%;
                    background-size: 14px;
                    vertical-align: middle;
                    &:hover, &.active{
                      background-image: url("../Images/starfull.png");
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  */
  .nav_bet{
    font-family: "Open Sans", sans-serif;
    color: #d0d0d0;
    @include scrollWhite;
    ul{  display: none;  }
    li{
      position: relative;
      cursor: pointer;
      //&.active:after, &.active li:after{
      //  content: '';
      //  width: 10px;
      //  height: 10px;
      //  position: absolute;
      //  top: 15px;
      //  right: 25px;
      //  transition: 0.4s ease-out;
      //  background: url("../Images/sprite.svg") no-repeat -231px -180px;
      //}
      //&.active:after{  transform: rotate(-90deg);  }
      span{
        display: block;
        font-size: 14px;
        transition: 0.4s ease-out;
        position: relative;
        &:hover a.jump{
          animation-name: fadeInLeft;
          animation-duration: 0.7s;
          animation-fill-mode: both;
        }
      }
      a.favorite{
        display: block;
        width: 40px;
        height: 31px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.4s ease-out;
        background: url(../Images/sprite.svg) no-repeat -84px -114px;
        &:hover{
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: rubberBand;
        }
        &.active{  background-position: -84px -81px;  }
      }
      a.jump{
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 2;
        transition: 0.4s ease-out;
        background: url(../Images/sprite.svg) no-repeat -96px -196px;
        opacity: 0;
      }
      a.event{
        display: block;
        padding: 7px 0 3px 40px;
        color: #d0d0d0;
        font-size: 13px;
      }
      li:after{  top: 7px;  }
      li.active > span{  color: $main-color;  }
    }
    & > li{
      min-height: 40px;
      padding-top: 0;
      & > span{
        padding: 7px 0 5px 13px;
        &:before{
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          vertical-align: bottom;
          margin-right: 5px;
          background: url("../Images/sprite.svg") no-repeat;
        }
        a.jump{  top: 12px;  }
      }
    }
    .sub-menu_1{
      background: rgba(33, 30, 37, 0.4);//292830
      //background: linear-gradient(to right, #2d2d35, #3c3b46);
      span{  padding: 5px 8px 5px 40px;  }
      span, a.event{
        &:after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          transition: 0.4s ease-out;
          background: #ffffff;
          opacity: 0;
        }
        &:hover:after{  opacity: 0.1;  }
      }
    }
    .sub-menu_2{
      background: rgba(33, 30, 37, 0.6);//222125
      //background: linear-gradient(to right, #494855, #575565);
    }
    .sub-menu_3{
      background: rgba(33, 30, 37, 0.8);//201f27
      //background: linear-gradient(to right, #545262, #757288);
      opacity: 0.8;
      li:after{
        display: none;
      }
    }
    .live_event {
      .sub-menu_0 li{
        padding-top: 0;
        span{  padding: 5px 0 5px 40px;  }
      }
      & > span:before{  background-position: -236px -275px;  }
    }
    .sport > span:before {  background-position: -66px -275px;  }
    .finance > span:before {  background-position: -107px -275px;  }
    .cybersport > span:before {  background-position: -187px -275px;  }
    .society > span:before {  background-position: -26px -275px;  }
    .favorite > span:before {  background-position: -146px -275px;  }
  }
}









