.main_menu {  position: fixed; top: 70px; left: 0; z-index: 100; width: 70px; height: 100%;
  color: #d0d0d0; transition: 0.2s ease-out;
  @include md(1360){ position: absolute; bottom: 0; height: auto; }
  /*.menu-btn{
    display: none;
    width: 50px;
    height: 50px;
    float: left;
    background: url("#{$pathImage}/sprite.svg") no-repeat -171px -73px;
    border-right: 1px solid #4e4d56;
    cursor: pointer;
  }
  .nav_search {
    padding: 20px 15px 10px;
    .search {
      position: relative;
      overflow: hidden;
      .input--nao {  overflow: hidden;  }
      .input__field--nao {
        padding: 0.5em 0 0.25em;
        width: 100%;
        background: transparent;
        color: #b0b0b0;
        font-size: 14px;
      }
      .input__label--nao {
        position: absolute;
        top: -3px;
        left: 0;
        font-size: 0.85em;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        pointer-events: none;
        transform-origin: 0 0;
        transition: transform 0.3s 0.2s, color 1s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      }
      .graphic--nao {
        stroke: #92989e;
        pointer-events: none;
        transition: transform 0.7s, stroke 0.7s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      }
      .input__field--nao:focus + .input__label--nao,
      .input--filled .input__label--nao {
        color: #525961;
        transform: translate3d(0, -1.25em, 0) scale3d(0.85, 0.85, 1);
      }
      .input__field--nao:focus ~ .graphic--nao,
      .input--filled .graphic--nao {
        stroke: #525961;
        transform: translate3d(-66.6%, 0, 0);
      }
      .input__field--nao:focus ~ .submit,
      .input--filled .submit {
        top: -8px;
        transition: transform 0.3s, top 0.3s 0s;
      }
      .submit {
        position: absolute;
        top: 13px;
        right: 0;
        z-index: 2;
        width: 25px;
        height: 25px;
        background: url("#{$pathImage}/sprite.svg") no-repeat -173px -22px;
        cursor: pointer;
        outline: none;
        opacity: 0.3;
        transition: transform 0.3s, top 0.3s 0.4s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        &:hover{  opacity: 0.5;  }
      }
    }
  }*/
  &:not(.opened){ overflow: hidden; }
  &.opened, &:hover{
    width: 205px;//15%;
    .main span.main{ color: #d0d0d0; }
  }
  .nav_bet{ height: 100%; }
  .root_menu{ position: relative; z-index: 1; padding-top: 16px; height: 100%; background: linear-gradient(to bottom, #3a3943, #292830);
              box-shadow: 5px 0 15px -6px rgba(0, 0, 0, 0.5); }
  .nav_bet.root_menu ul{ display: none; } //кастыль чтобы убрать плохой внешний вид до загрузки реакт меню
  button.return{
    position: absolute; left: 1px; padding: 13px; transform: rotate(180deg); background: url("#{$pathImage}/sprite.svg") no-repeat;
    background-position: -54px -197px; transition: 0.4s ease-out;
    &:hover{
      background-position: -49px -197px; }
  }
  a{
    display: block; color: #d0d0d0; font-size: 14px; line-height: 24px;
    &:hover { color: $color-blue; }
    &.jump{ display: none; }//кастыль чтобы убрать плохой внешний вид до загрузки реакт меню
    &.showAll{
      &:before, &:after{
        content: ''; display: block; position: absolute; left: 15px; right: 15px; height: 1px;
      }
      &:before{ bottom: 0; background: #08080a; }
      &:after{ bottom: -1px; background: #53515e;
      }
    }
  }
  ul{
    &.child_list{
      display: none;
      &.active{ display: block; position: absolute; top: 0; bottom: 0; left: 100%; padding: 15px 0; width: 205px;//width: 15vw;
        box-shadow: 5px 0 15px -6px rgba(0, 0, 0, 0.5);

        li{
          padding: 5px 10px 0 15px;
          &:first-of-type{ position: relative; padding-bottom: 10px;
            a{ font-size: 16px; }
          }
          &:nth-of-type(2){

          }
          &:hover, &.active{ color: $color-blue !important }
        }
        span{ font-size: 14px; }
      }
      &.lv0{ background: #2e2c34; }
      &.lv1{ background: #25242b; }
      &.lv2{ background: #211f26; }
      &.lv3{ background: #151419; }
    }
  }
  li{ user-select: none; cursor: pointer;
    &:hover, &.active{
      span.main{ color: $color-blue !important; }
    }
  }
  .main{
    &.sport > span.main:before {  background-position: -379px -263px;  }//-66px -275px
    &.finance > span.main:before {  background-position: -107px -275px;  }
    &.cybersport > span.main:before {  background-position: -426px -263px;  }//-187px -275px
    &.society > span.main:before {  background-position: -26px -275px;  }
    &.favorite > span.main:before {  background-position: -146px -275px;  }
    &.live_event > span.main:before{  background-position: -336px -263px;  }//-236px -275px;
    span.main{
      display: flex; align-items: center; width: 205px/*15vw*/; height: 50px; color: transparent;
      &:before{
        content: ''; display: inline-block; width: 50px; height: 50px; vertical-align: bottom; margin: 0 9px;
        background: url("#{$pathImage}/sprite.svg") no-repeat;
      }
    }
  }
  /*.nav_bet{
    margin-top: 20px;
    position: relative;
    font-family: "open_sans_regular", sans-serif;
    color: #d0d0d0;
    @include scroll;
    .menu_marker{
      display: block;
      width: 2px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, #64c9ef, #3498da);
      transition: 0.2s ease-out;
      visibility: hidden;
    }
    ul{  display: none;  }
    & > li{
      &:before{
        content: '';
        display: none;
        width: 2px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #64c9ef, #3498da);
      }
      &.active_category:before{  display: block;  }
    }
    li{
      position: relative;
      cursor: pointer;
      &.active > span{
        color: $link-color;
      }
      span{
        display: block;
        font-size: 14px;
        position: relative;
        &:hover a.jump{
          animation-name: fadeInLeft;
          animation-duration: 0.7s;
          animation-fill-mode: both;
        }
      }
      a.favorite{
        display: block;
        width: 40px;
        height: 31px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
				opacity: 0.2;
        background: url("#{$pathImage}/sprite.svg") no-repeat -84px -114px;
        transition: 0.2s ease-out;
        &:hover{
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: rubberBand;
        }
        &.active{  background-position: -84px -81px;  opacity: 1; }
      }
      a.jump{
        display: block;
        width: 17px;
        height: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 2;
        background: url("#{$pathImage}/sprite.svg") no-repeat -96px -196px;
        opacity: 0;
        transition: 0s;
        &:hover{  background-position: -96px -226px;  }
      }
      a.event{
        display: block;
        padding: 7px 0 3px 40px;
        color: #d0d0d0;
        font-size: 13px;
      }
      li:after{  top: 7px;  }
      li.active > span{  color: $link-color;  }
    }
    & > li{
      min-height: 40px;
      padding-top: 0;
      & > span{
        padding: 7px 0 5px 13px;
        font-size: 16px;
        line-height: 28px;
        &:before{
          content: '';
          display: inline-block;
          width: 22px;
          height: 25px;
          vertical-align: bottom;
          margin-right: 5px;
          background: url("#{$pathImage}/sprite.svg") no-repeat;
        }
        a.jump{  top: 12px;  }
      }
    }
    .lv0{
      background: rgba(33, 30, 37, 0.4);//292830
      span{  padding: 5px 8px 5px 40px;  }
      span, a.event{
        &:after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          transition: 0.4s ease-out;
          background: #ffffff;
          opacity: 0;
        }
        &:hover:after{  opacity: 0.1;  }
      }
    }
    .lv1{
      background: rgba(33, 30, 37, 0.6);//222125
    }
    .lv2{
      background: rgba(70, 56, 60, 0.2);//222125

    }
    .lv3{
      background: rgba(70, 56, 60, 0.4);//222125

    }
    .lv4{
      background: rgba(70, 56, 60, 0.6);//222125
    }

    .lv-last{
      background: rgba(33, 30, 37, 0.8);//201f27
      opacity: 0.8;
      li:after{
        display: none;
      }
    }
    .live_event {
      .sub-menu_0 li{
        padding-top: 0;
        span{  padding: 5px 0 5px 40px;  }
      }
      & > span:before{  background-position: -236px -275px;  }
    }
    .sport > span:before {  background-position: -66px -275px;  }
    .finance > span:before {  background-position: -107px -275px;  }
    .cybersport > span:before {  background-position: -187px -275px;  }
    .society > span:before {  background-position: -26px -275px;  }
    .favorite > span:before {  background-position: -146px -275px;  }
  }*/
}









