.order {
  @include span(last 2.6 of 12);
  height: 100%;
  border-left: 2px solid #d7d7d8;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 55px;
  transition: 0.4s ease-out;
  //&.active {
  //  right: -20.76796%;
  //}
  label{
    font-size: 12px;
    color: #959595;
  }
  .left_order {
    .wrapper {
      text-align: center;
      margin-top: 10px;
      .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .tab {
          width: 46.5%;
          height: 35px;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          border-radius: 5px 0 0 5px;
          padding: 10px 5%;
          background-color: #7e97a7;
          position: relative;
          &.active {
            background-color: #2d414e;
            color: #fff;
          }
          &:first-child{
              padding: 10px 0;
            &.active{  border-right: 1px solid #445b69;  }
            border-right: 1px solid #5f7786;
          }
          &:last-child {
            &.active{  border-left: 1px solid #445b69;  }
            border-left: 1px solid #5f7786;
            border-radius: 0 5px 5px 0;
          }
          label {
            /*&.checkbox{
              float: right;
              span {
                display: flex;
                width: 15px;
                height: 15px;
                padding: 0;
                cursor: pointer;
                border-radius: 50%;
                background: #707070 !important;
                border: 1px solid #474747;
                box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
                &:after {
                  content: '';
                  display: block;
                  width: 9px;
                  height: 9px;
                  margin: auto;
                  border-radius: 50%;
                  background: rgba(255, 168, 35, 0);
                  box-shadow: 0 0 0 rgba(255, 168, 35, 0);
                  transition: 0.2s ease-out;
                }
              }
              input {
                display: none;
                &:checked + span {
                  &:after {
                    background: rgba(255, 168, 35, 0.7);
                    box-shadow: 0 0 10px #FFA823;
                  }
                }
              }
            }*/

            position: absolute;
            top: 38px;
            left: 0;
            @include checkbox;
            span {
              text-transform: capitalize;
              font-size: 13px;
            }
            &.auto_trade{  display: none;  left: auto; right: 0; }
            .help{  margin-top: 3px;  }
          }
        }
      }
      .tab_content {
        margin-top: 5px;
        text-align: left;
        //max-height: 700px;
        box-shadow: inset 0 -8px 20px -8px rgba(0, 0, 0, 0.3);
        //border-top: 1px solid #f1f1f1;
        //border-bottom: 1px solid #f1f1f1;
        transition: 0.4s ease-out;
        position: relative;
        &.max:before{  display: block; }
        &:before, &:after{
          content: '';
          display: block;
          width: 100%;
          height: 9px;
          position: fixed;
          background: #fff;
          z-index: 6;
          transition: 0.4s ease-out;
        }
        &:after{
          top: 121px;
          box-shadow: 0 10px 13px -3px rgba(0, 0, 0, 0.5);
        }
        &:before{
          display: none;
          bottom: 117px;
          box-shadow: 0 -7px 13px -2px rgba(0, 0, 0, 0.5);
        }
        &.footer_active:before{
          bottom: -9px;
        }
        .active_trader{
          padding-top: 10px;
          .event_title{
            display: flex;
            .event_name{
              width: 50%;
              height: 30px;
              line-height: 30px;
              text-align: center;
              border-top: 1px solid #d2d2d2;
              border-bottom: 1px solid #d2d2d2;
              background: #7e97a7;
              cursor: pointer;
              transition: 0.4s ease-out;
              &.active{
                background: #2d414e;
                color: #ffffff;
              }
            }
          }
          table{
            width: 100%;
            font-size: 12px;
            //font-size: 13px;
            //@include md(1400){  font-size: 12px;  }
            &.control{
              tr{
                &:first-of-type td:last-of-type{  border-top: 1px solid #555;  }
                &:nth-of-type(2) td:nth-of-type(2){  border-right: 1px solid #555;  }
                &:nth-of-type(4) td:nth-of-type(2){  border-right: 1px solid #555;  }
                &:nth-of-type(5) td:nth-of-type(2){  border-right: 1px solid #555;  }
                &:first-of-type td:nth-of-type(2){  border-right: 1px solid #555;  }
                &:nth-of-type(5) td:last-of-type{  border-bottom: 1px solid #555;  }
              }
              td{  width: 33%;  }
              .input{
                input{  padding-right: 36px;  }
                .regulator{
                  width: 36px;
                  border-radius: 0;
                  span{
                    width: 17px;
                    height: 17px;
                    float: left;
                    &:first-of-type{
                      border-bottom: none;
                      border-right: 1px solid #d7d7d8;
                      line-height: 17px;
                    }
                    &:last-of-type{  line-height: 15px;  }
                  }
                }
              }
              input{
                &::-webkit-input-placeholder {  color: #ffffff;  }
                &::-moz-placeholder {  color: #ffffff;  }
                &:-moz-placeholder {  color: #ffffff;  }
                &:-ms-input-placeholder {  color: #ffffff;  }
              }
            }
            input{  width: 100%;  padding: 0 5px; box-shadow: inset 0 0 15px -3px rgba(0, 0, 0, 0.3); }
            th{
              max-width: 70px;
              padding: 5px;
              background-color: #8f8f8f;
              color: #ffffff;
              border-right: 1px solid #a4a4a4;
            }
            td{
              border: 1px solid #d2d2d2;
              border-left: none;
              border-bottom: none;
              //position: relative;
              span.container{
                display: block;
                height: 19px;
                position: relative;
              }
              &:last-of-type{
                border-right: none;
              }
              &.open_contracts, &.open_pnl, &.total_pnl{
                a{  font-size: 11px;  }
                span{
                  padding: 0;
                  &.up{  color: #1196d4;  }
                  &.down{  color: red;  }
                }
                .help{  margin-top: 2px;  }
              }
              &.buy_mkt, &.join_bid{  background: #ff6464;  }
              &.sell_mkt, &.join_ask{  background: #4ad1d7; }
              &.join_bid span, &.join_ask span{    padding: 1px;  border-radius: 5px;  background: #fff;  box-shadow: inset 0 6px 10px -2px rgba(0, 0, 0, 0.5);  }
              &.reverse{  background: #fffe46;  }
              &.spreader{  background: #ffc11a;  }
              &.button{  background: #dcdcdc;  }
              &.active{
                box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
                transition: 0.2s ease;
                cursor: pointer;
                &[disabled]{  cursor: default;  }
                &:not([disabled]):active {  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0); }
                //&.activated{  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);  }
                a{  cursor: pointer;  }
                .order_content:active{  box-shadow: none;  }
              }
              &[rowspan]{  width: 34%;  }
              a{
                display: block;
                padding: 0 5px;
                color: #303030;
                position: relative;
                cursor: default;
                //z-index: 2;
                //box-shadow: inset 0 -9px 15px -4px rgba(0, 0, 0, 0.5);
                //&:active{  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);  }
              }
              span{  padding: 0 5px;  }
              button{
                width: 50%;
                height: 19px;
                line-height: 15px;
                border-radius: 0;
                color: #000;
                &:last-of-type{
                  border-left: 1px solid #dcdcdc;
                }
              }
              .cancel_all{  background: #a3a3a3;  }
              .close_out{  background: #484848;  color: #d6d6d6;  }
              .close_out.active, .cancel_all.active{
                box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
                transition: 0.2s ease;
                cursor: pointer;
                &[disabled]{  cursor: default;  }
                &:not([disabled]):active {  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0); }
              }
            }
          }
          table.limit{
            position: relative;
            thead{
              background: #8f8f8f;
              &:after{
                content: '';
                display: block;
                position: absolute;
                height: 10px;
                width: 100%;
                top: 18px;
                left: 0;
                box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
                z-index: 2;
              }
              tr{  width: calc(100% - 4px);  }
            }
            tbody{
              display: block;
              width: 100%;
              overflow: hidden;
              overflow-y: auto;
              transition: 0.4s ease-out;
              position: relative;
              @include scroll;
            }
            tr{
              display: table;
              width: 100%;
              table-layout: fixed;
              &:nth-child(even){  background-color: #f4f4f4;  }
            }
            th{
              &:first-of-type{
                width: 58px;
              }
              &:nth-of-type(5){  width: 68px; }
              &:last-of-type{  border-right: none;  }
            }
            td{
              padding: 0 5px;
              &:first-of-type{
                width: 58px;
              }
              &:nth-of-type(5){  width: 68px; }
              &.size span.value, &.price span.value{  position: relative;  z-index: 3;  }
              &.size .container:not(.best_buy):not(.best_sell):after,
              &.size .container:not(.best_buy):not(.best_sell):before{
                content: '';
                display: block;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: -5px;
                transition: 0.4s ease-out;
                opacity: 0.3;
                z-index: 1;
              }
              &.size .container:not(.best_buy):not(.best_sell):before{
                transition: 0.3s ease-out;
                z-index: 2;
              }
              &.size.size_buy .container:not(.best_buy):not(.best_sell):before{
                left: auto;
                right: -5px;
              }
              &.clickable{  cursor: pointer; }
              &.size_sell{
                background-color: #fff1f1;
                &.clickable{
                  &:hover .container:before{
                    width: calc(200% + 22px) !important;
                    background-color: #ff6464;
                  }
                  .container:after{
                    width: calc(100% + 10px) !important;
                    background-color: #ffcbc2;
                  }
                }
              }
              &.best_sell{  background-color: #ff6464; font-weight: bold;  }
              &.size_buy{
                background-color: #ebf7f9;
                &.clickable{
                  &:hover .container:before{
                    width: calc(200% + 21px) !important;
                    background-color: #4ad1d7;
                  }
                  .container:after{
                    width: calc(100% + 10px) !important;
                    background-color: #b5e5ec;
                  }
                }
              }
              &.best_buy{  background-color: #4ad1d7; font-weight: bold;  }
            }
          }
          #order_content{
            margin: 0;
            padding: 0;
            background-color: transparent;
            border-top: 1px solid #d6d6d6;
            //border-bottom: 1px solid #d6d6d6;
            box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
            font-weight: normal;
            form{
              margin-bottom: 0;
              padding: 9px 5px;
              border-radius: 0;
            }
            .btn{  margin-top: 3px; border-radius: 5px; }
          }
        }
        .tab_item {
          display: none;
          @include scroll;
          //overflow: inherit;
          overflow-y: inherit;
          transition: 0.4s ease-out;
          &#current-orders{
            padding-bottom: 5px;
            overflow-y: auto;
            .order_content{
              //background-color: #ffffff;
              cursor: move;
              &:last-child{  margin-bottom: 15px;  }
            }
          }
          .ui-state-highlight{
            height: 72px;
            border: 1px solid #fcefa1;
            color: #363636;
          }
          .order_content {
            border-bottom: 2px solid #d7d7d8;
            margin: 10px 5px 0;
            padding-bottom: 10px;
            .order-title{  overflow: auto;  @include scroll;}
            &:last-of-type{
              border-bottom: none;
            }
            h3{
              display: inline-block;
              max-width: 140px;
              font-size: 13px;
              padding-top: 5px;
            }
            a.close{
              float: right;
              margin-top: 5px;
              height: 15px;
              width: 15px;
              background: url("../Images/close.png") no-repeat center;
            }
            strong {
              display: inline-block;
              margin-top: 3px;
              padding-left: 5px;
              font-size: 13px;
              color: #4e4e4e;
              line-height: 22px;
              &.current-order{
                float: right;
                margin-right: 8px;
                color: #666666;
                &.up span{  color: #1196d4;  }
                &.down span{  color: red;  }
              }
              &.last-price{
                vertical-align: top;
                &:before{
                  content: '';
                  display: inline-block;
                  vertical-align: top;
                }
                &.up{
                  color: #1196d4;
                  &:before{
                    margin-top: 2px;
                    margin-right: 2px;
                    border: 4px solid transparent;
                    border-bottom: 8px solid #1196d4;
                  }
                }
                &.down{
                  color: red;
                  &:before{
                    margin-top: 7px;
                    margin-right: 2px;
                    border: 4px solid transparent;
                    border-top: 8px solid red;
                  }
                }
              }
            }
            .sell-container form{  background: #fff1f1;  }
            .buy-container form{  background: #ebf7f9;  }
						//
            //input[id='usd_uah'] {
            //  width: 90%;
            //  height: 31px;
            //  border: 2px solid #d7d7d8;
            //  border-radius: 5px;
            //  padding-left: 10px;
            //  color: #707070;
            //  font-weight: bold;
            //  margin-bottom: 10px;
            //}
            form {
              margin-bottom: 10px;
              padding: 7px 5px;
              border-radius: 5px;
              text-align: center;
              label{  display: block; text-align: left;  }
              input {
                height: 31px;
                //border: 1px solid #d7d7d8;
                border-radius: 5px;
                background-color: #fff;
                padding-left: 10px;
                box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
                &::-webkit-input-placeholder {  color: #ffffff;  }
                &::-moz-placeholder {  color: #ffffff;  }
                &:-moz-placeholder {  color: #ffffff;  }
                &:-ms-input-placeholder {  color: #ffffff;  }
              }
              /*select{
                width: 100%;
                height: 31px;
                margin-top: 10px;
              }*/
              /*.dd{
                margin-top: 10px;
              }*/
              label.col-3{
                height: 31px;
                margin-top: 3px;
                font-size: 16px;
                line-height: 31px;
                //text-transform: uppercase;
                //font-weight: bold;
                @include checkbox;
              }
              button {
                height: 31px;
                font-size: 14px;
                &.sell{  background-color: #ff4444;  }
                &.buy{  background-color: #2dc7ca;  }
                &.delete{
                  background: url("../Images/ico-delete-w.png") no-repeat center #969696;
                }
              }
              input[type="submit"]{
                height: 31px;
                padding: 0;
                font-size: 14px;
                color: #ffffff;
                @include btn-shadow;
                cursor: pointer;
                &.sell{  background-color: #ff4444;  }
                &.buy{  background-color: #2dc7ca;  }
              }
              .col-3{
                display: inline-block;
                width: 31%;
                vertical-align: bottom;
              }
              .input{
                width: 100%;
                input{
                  width: 100%;
                  padding-right: 18px;
                  font-size: 14px;
                }
              }
              .col-3 .btn{  display: inline-block;  width: 46%;  background-size: 18px;  vertical-align: bottom;  }
              //.change_order{  background: url("../Images/ico-success.png") no-repeat center;  }
              .cancel{  background: url("../Images/ico-delete.png") no-repeat center;  }
            }
            //.change_order {
            //  float: left;
            //  width: 49%;
            //  font-size: 12px;
            //  background-color: #f37520;
            //}
            //.cancel_order {
            //  width: 49%;
            //  float: right;
            //  font-size: 12px;
            //  font-weight: bold;;
            //  background-color: #591717;
            //}
            //.my_order{
            //  .profit{
            //    //width: 49%;
            //    span{
            //      font-size: 12px;
            //    }
            //    input{
            //      width: 100%;
            //    }
            //  }
            //  .responsibility{
            //    display: inline-block;
            //    //width: 49%;
            //    margin: 3px 0 10px 0;
						//
            //    span{
            //      font-size: 12px;
            //    }
            //    input{
            //      width: 100%;
            //    }
						//
            //  }
            //}
          }
          .order_content:last-child {
            border-bottom: none;
          }
        }
        .tab_item:first-child {
          display: block;
        }
      }
      .order_content{
        &.sell .my_order{
          .order-title, .current-order-title{
            background-color: #fff1f1;
            //background: linear-gradient(to bottom, #ff6464, #921515);
          }
        }
        &.buy .my_order{
          .order-title, .current-order-title{
            background-color: #ebf7f9;
            //background: linear-gradient(to bottom, #2D8A8E, #1A484A);
          }
        }
      }
      .my_order{
        border-radius: 5px;
        .form-container{
          display: none;
          margin-bottom: 10px;
          padding: 5px;
          border-radius: 0 0 5px 5px;
          //border: 2px solid #d7d7d8;
          border-top: none;
          box-shadow: inset 0 0 15px -5px rgba(0, 0, 0, 0.5);
          form{
            margin: 0;
            text-align: center;
            &.sell{
              background-color: #fff1f1;
              margin-bottom: 5px;
            }
            &.buy{
              background-color: #ebf7f9;
              margin-bottom: 0;
            }
            label:not(.col-3){
              float: left;
              margin-top: 5px;
            }
          }
          p.label{
            padding-left: 5px;
            font-size: 14px;
            color: #666666;
            text-align: left;
          }
        }
        .order-title{
          padding-left: 5px; border-radius: 5px 5px 0 0; }
        .current-order-title{
          //padding-left: 10px;
          font-size: 14px;
          border-radius: 0 0 5px 5px;
          //background: linear-gradient(to bottom, #283d4a, #21323d);
          overflow: hidden;
          transition: 0.2s ease-out;
          &.active{  border-radius: 0; box-shadow: 0 5px 13px -8px rgba(0, 0, 0, 0.5);  }
          a{
            float: right;
            width: 30px;
            height: 30px;
            background: url("../Images/ico-delete.png") no-repeat center;
          }
          strong.title{
            display: inline-block;
            width: 31%;
            padding-left: 5px;
            line-height: 31px;
            vertical-align: middle;
            &:last-of-type{
              width: 40%;
            }
          }
          /*span{
            display: inline-block;
            width: 31%;
            padding-left: 5px;
            line-height: 31px;
            //color: #ffffff;
            vertical-align: middle;
          }*/
          .edit{
            width: 30px;
            height: 30px;
            float: right;
            background: url("../Images/ico-edit.png") no-repeat center;
            background-size: 16px;
            cursor: pointer;
          }
        }
        .current-order-content{
          padding: 5px 5px 10px;
          text-align: center;
          .btn{  width: 100%!important;  }
        }
      }
    }
  }
  //.buton {
  //  display: none;
  //  width: 20px;
  //  height: 40px;
  //  position: absolute;
  //  top: 10%;
  //  left: -19px;
  //  cursor: pointer;
  //  border: 2px solid #d7d7d8;
  //  border-right: none;
  //  border-radius: 10px 5px 9px 10px;
  //  background-color: #ccc;
  //}
}



