.sign_in_form {
  /*.btn_lg_icon { display: block; position: relative; padding: 9px 5px 9px 45px; width: 150px; border-radius: 4px;
    overflow: hidden; text-align: center; cursor: pointer; box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    &:before { content: ''; position: absolute; left: 15px; top: calc(50% - 15px); width: 30px; height: 30px; }
  }*/

  .waves-ripple { display: block; }
  .sign_in_content {
    width: 460px;
    padding: 30px;
    background-image: $sign_in_bg;
    border-radius: 4px;
    position: relative;
    @include sign_in_close_button;
    .content_form {
      position: relative;
      padding: 20px;
      .container_login {
        margin: 0 auto;
        color: #333;
        max-width: 400px;
        width: 100%;
        .logo_cont {
          display: block;
          width: 160px;
          height: 50px;
          margin: 0 auto 15px;
          background: url("#{$pathImage}/sprite.svg") no-repeat -3px -17px;
        }
        h2 {
          margin-bottom: 10px;
          margin-top: 5px;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          color: $sign_in_title;
        }

        .login_btn, .register_btn { display: block; width: 150px; }
        .login_btn { float: right; height: 42px;
          @include btn-shadow;
          &:before { background: url("#{$pathImage}/sprite.svg") no-repeat -494px -19px; }
        }
        .register_btn:before { background: url("#{$pathImage}/sprite.svg") no-repeat -458px -22px; }
        .input__label-content { padding-top: 7px; }
        .invalid_message, .validation-summary-errors {bottom: -18px;}
      }
    }
  }

}