.wrapper_user_page {
  display: flex;
  padding-left: 15%;
  padding-top: 80px;
  padding-right: 10px;
  color: $main-color;
  h1 {
    margin-top: 0;
    font-size: 22px;
    //color: #505458;
  }
  ul.tabs, & > .tab_content {
    background: $sign_in_bg;
    border-radius: 5px;
  }
  ul.tabs {
    width: 15%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    list-style-type: none;
    font-size: 16px;
    //color: rgba(255, 255, 255, 0.8);
    li {
      padding-right: 10px;
      transition: 0.1s ease-out;
      &.active, &:hover, &:hover a {
        color: #3498da;
      }
    }
    a {
      //color: #37343b;
      transition: 0.1s ease-out;
    }
  }
  input[type=submit]{
    width: 100%;
    padding: 7px 6px;
    border-radius: 4px;
		box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
		background: #f39e00 !important;
    color: #ffffff;
    text-align: center;
  }
  @include user_validation_params;
  i {
    background-color: transparent !important;
  }
  span.valid{
    display: block;
    height: 22px;
    padding: 2px 0;
    color: #4dac2e;
    font-size: 12px;
    border: none;
    box-shadow: none;
  }
  .answer_message{
    font-size: 12px;
    &.validation-summary-errors{  position: static;  }
  }
  .input--yoshiko .validation-summary-errors{  max-width: 265px;  }
  & > .tab_content {
    width: 960px;
    padding: 30px;
    border-radius: 4px;
    background-image: $sign_in_bg;
    //@include scroll;
    .tab_item {
      //display: none;
      position: relative;
      //&:first-child {  display: block;  }
      .user_info {
        position: absolute;
        top: 11px;
        right: 0;
        text-align: right;
        strong{  display: block;  font-weight: normal;  }
        //display: flex;
        //align-items: center;
        //margin-bottom: 10px;
        //.logo {
        //  display: block;
        //  width: 150px;
        //  height: 50px;
        //  background: url(../Images/sprite.svg) no-repeat -11px -17px;
        //}
        //.personal_info {
        //  width: calc(100% - 150px);
        //  color: rgba(255, 255, 255, 0.8);
        //  margin-left: 20px;
        //  h3 {
        //    font-size: 24px;
        //    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        //    margin: 5px 0;
        //    padding: 5px 0;
        //  }
        //  strong {
        //    display: block;
        //    font-size: 18px;
        //  }
        //}
      }
      h3{
        &.section_user {
          display: block;
          //color: #fff;
          opacity: 0.8;
          margin: 10px 0;
          padding-bottom: 10px;
          //border-bottom: 1px solid #fff;
        }
        &.mail{  font-weight: normal;  }
      }
      h2 {
        margin-bottom: 55px;
        font-size: 24px;
        font-weight: normal;
        color: $main_color;
        border-bottom: 1px solid $main_color;
      }
    }

		.input_animate{
			display: block;
      height: 75.97px;
		}

    hr {
      clear: both;
      margin-bottom: 5px;
      @include separator;
    }
  }

  .funds_tab {
    margin-top: 20px;
    .tabs {
      span.tab {
        display: inline-block;
        background: $main_page_tab_bg;
        color: $main_page_tab_color;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 4px;
        &.active {
          color: #ffffff;
          background: linear-gradient(to bottom, #64c9ef, #3498da);
          //box-shadow: inset 0 -16px 20px -6px #3498da;
        }
      }
    }
    .color_map {
      padding: 15px 0;
      ul {
        list-style-type: none;
      }
      li {
        display: flex;
        align-items: center;
        font-weight: bold;
        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        @include user_balance_color_map;
        span {
          padding-left: 5px;
        }
      }
    }
    .balance {
      display: flex;
      height: 50px;
      //margin-top: 25px;
      //margin-bottom: 15px;
      border: 1px solid $user_page_balance;
      border-radius: 4px;
      box-shadow: inset 0 10px 30px -5px rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden;
      strong {
        //position: absolute;
        //top: -25px;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 0;
        white-space: nowrap;
        transition: 1s ease-in;
        @include user_balance_color;
      }
    }
    .deposit{
      padding: 15px 0;
      h3{
        font-size: 20px;
        margin-bottom: 15px;
      }
      span.label{
        display: block;
        width: 51px;
        height: 36px;
        position: absolute;
        bottom: 0;
        line-height: 36px;
        text-align: center;
        border-radius: 0 0 0 4px;
        border-right: 1px solid $main-bg;
        box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
      }
      .account_balance{
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 14px;
        .value{  color: #1196d4;  }
      }
      .quantity_control{
        position: relative;
        strong{
          display: block;
          margin-bottom: 10px;
        }
        .btn{
          width: 50px;
          border-radius: 0;
          border: 1px solid $main-bg;
          border-right: none;
          box-shadow: none;
          background: $main-bg * 1.4;
          color: #3498da;
          &:first-of-type{  border-radius: 4px 0 0 0;  }
          &:last-of-type{  border-radius: 0 4px 0 0; border-right: 1px solid $main-bg;  }
        }
        input{
          display: block;
          width: 300px;
          margin-bottom: 10px;
          padding: 5px 10px;
          padding-left: 60px;
          border: 1px solid $main-bg;
          border-top: none;
          border-radius: 0 0 4px 4px;
        }
      }
      .recommended_block{
        display: flex;
        align-items: center;
        margin: 25px 0;
        h4{  margin-right: 15px;  }
        button{   background: linear-gradient(to bottom, #64c9ef, #3498da);  }
      }
      .price_plan_form{
        display: none;
        h4{  margin: 15px 0 5px;  }
        h5{  font-size: 12px;  }
        h5+span{  font-size: 12px;  }
        span.description{  opacity: .6;  }
        .container{  align-items: flex-start; padding: 0;  }
        .item{
          width: 100%;
          padding: 10px;
          margin: 0;
          border-radius: 8px;
          border: 1px solid #000;
          transition: 0.4s ease-out;
          &.active{
            box-shadow: 0 0 8px 0 #3498da;
            border-color: #3498da;
          }
          &.active{  height: 100%;  }
          &:hover{
            height: auto;
            position: absolute;
            z-index: 10;
            //ul.info{  height: 100px;  }
          }
        }
        .item_container{
          //width: calc(25% - 13px);
          width: 210px;
          margin: 30px 10px;
          //padding: 10px;
          position: relative;
          border-radius: 6px;
          transition: 0.4s ease;
          cursor: pointer;
          text-align: center;
          background: $main-bg;
          &:first-child{
            margin-left: 0;
          }
          &:nth-child(2) {
            h4{  color: #cd7f32;  }
            strong.price{  color: #cd7f32;  }
            .time .price{
              color: #cd7f32;
            }
          }
          &:nth-child(3) {
            h4{  color: #8e8d8d;  }
            strong.price{  color: #8e8d8d;  }
            .time .price{
              color: #8e8d8d;
            }
          }
          &:nth-child(4) {
            margin-right: 0;
            h4{  color: #d3af37;  }
            strong.price{
              color: #d3af37;
              span{  left: 0;  }
            }
            .time .price{  color: #d3af37;  }
          }
          &:nth-child(2), &:nth-child(3){
            strong.price span{  left: 25px;  }
          }
          h4{
            margin: 0;
            font-size: 18px;
          }
        }
        ul.info{  display: none;  }
        .period{
          margin-bottom: 25px;
          button{
            width: 140px;
            height: auto;
            margin: 0 10px;
            padding: 7px 15px;
            border-radius: 20px;
            background: $bg_color;
            &.active{
              background: linear-gradient(to bottom, #64c9ef, #3498da);
            }
          }
        }
      }
      .total_container{
        display: none;
        margin-bottom: 25px;
        padding: 15px 0;
        border-top: 1px solid $main_color;
        border-bottom: 1px solid $main_color;
        & > span{
          display: block;
          &:last-of-type{   font-family: 'open_sans_bold', sans-serif;  }
        }
        span.value{  color: #3498da;  }
      }
      .payment_container{
        .tabs{
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }
        .tab{
          width: 210px;
          height: 50px;
          padding-right: 10px;
          text-align: center;
          position: relative;
          @include user_tab_border;
          &.active{  background: $main_page_tab_bg; border: 1px solid $color-max; }
          span{
            display: block;
            width: 100%;
            height: 30px;
            background: url("../Images/logos_sprite.svg");
            background-size: 420px;
          }
          &.Skrill span{  background-position: 24px -65px;  }
          &.Neteller span{  background-position: -6px -15px;  }
          &.Ecopayz span{  background-position: 10px -123px;  }
          &.VisaMC span{  background-position: 21px -165px;  }
          //span{
          //  display: block;
          //  width: 16px;
          //  height: 16px;
          //  position: absolute;
          //  top: calc(50% - 8px);
          //  right: 10px;
          //  //border: 1px solid $main-bg;
          //  border-radius: 4px;
          //  background: $checkbox_bg;
          //  &:after{
          //    content: '';
          //    width: 12px;
          //    height: 12px;
          //    position: absolute;
          //    top: 2px;
          //    left: 2px;
          //    border-radius: 4px;
          //    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
          //  }
          //}
        }
        .container{  float: left; width: 50%;  }
        .input--yoshiko{  display: block; max-width: 440px; padding: 1.6em 0 10px;  }
        .input_animate.static{      padding: 1.6em 0 10px;  }
        .exp_date{  width: 50px;  }
        .cvv{  width: 65px;  }
        //.total:focus ~ label, .input--filled .total ~ label{  padding-left: 5px;  }
        [type=submit]{
          width: calc(100% - 10px);
          height: 38.33px;
          margin-top: 27px;
        }
        label{
          display: block;
          margin-bottom: 7px;
          padding-left: 5px;
          color: #8b8c8b;
          font-size: 14px;
          font-family: "open_sans_bold", sans-serif;
        }
        .static{
          padding-top: 10px;
          .validation-summary-errors{
            top: inherit;
            right: inherit;
            left: 0;
            bottom: -10px;
          }
        }
        span.label{  height: 36px;  bottom: 13px;  }
        .total{  padding-left: 55px;  }
        .total ~ label span{  padding-left: 50px;  }
        .valid{
          color: inherit;
          border-color: $color-max;
          @include payment_input_shadow;
        }
      }
    }
  }
  .preferences {
      //.mode_switch {
      //  @include checkbox_horizontal;
      //}
    form .preferences_list li {  height: 22px;  }
    .color_scheme_switch label{
      display: block;
      padding-top: 5px;
      height: 100%;
      cursor: default;
    }
		.preferences_list{
			label{
				padding-left: 200px;
				position: relative;
				&>span{  position: relative;  }
        &.change-color strong{
          color: $main-color;
        }
			}
      input:checked ~ strong{
        color: $checkbox_label_color;
      }
			strong{
				font-weight: normal;
				font-size: 14px;
				position: absolute;
				top: calc(50% - 11px);
				left: 0;
        transition: 0.4s ease-out;
			}
		}
    i{  width: 275px;  }
  }
  i.btn{  width: 100%;  }
  .settings .column {  width: 100%;  }
}

