$path: '../..';
$pathImage: #{$path}/Images;
$pathFonts: #{$path}/fonts;
//$theme-path-fonts: #{$theme-path}/fonts;
//$theme-path-fonts: fonts;

$clr1Status: #cccb35;
$color2About: #b0afb0;
$color3About: #f8b747;
$color4TextBlack: #000;
$color4TextWhite: #DAD9DC;
$color5TextWhite: #BEBDBF;
$color-red: #ff3905;
$color-green: #4dac2e;
$color-orange: #ef8022;
$color-blue: #3498da;