$path: '../..';
$pathImage: #{$path}/Images;
$pathFonts: #{$path}/fonts;
//$theme-path-fonts: #{$theme-path}/fonts;
//$theme-path-fonts: fonts;

$clr1Status: #cccb35;
$color2About: #b0afb0;
$color3About: #f8b747;
