.order_container_local{
	padding: 15px;
	position: absolute;
	top: 85px;
	right: 0;
	border-radius: 5px;
	background: linear-gradient(to bottom, #292830, #1c1b21);
	.order_wrapper{
		border: 1px solid #000;
		background: linear-gradient(to bottom, #3b3a44, #292830)
	}
	.order_content{ padding: 0; }
	.order-title{
		display: flex;
		justify-content: space-between;
		background: linear-gradient(to bottom, #53515e, #292830);
		h3{ color: #ffffff; line-height: 22px; }
		.close{ height: 26px; position: absolute; top: 4px; right: 1px; }
	}
	.volume{
		label:not(.checkbox){ border-right: none; }
		.regulator{ border-right: none; }
	}
	.blind{ position: fixed; left: 0; z-index: -1; width: 100%; background: rgba(0, 0, 0, 0.8); }
	#blindTop{ top: 0; height: 140px; border-bottom: 1px solid #c1c1c1; }
	#blindBottom{ bottom: 0; height: 676px; border-top: 1px solid #c1c1c1; }
}