@model AltBet.Model.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="content_my_position">
    <div class="my_position">
      <div class="wrapper">
        <div class="tabs">
          <span class="tab">Открытые ордера</span>
          <span class="tab">Мои позиции</span>
          <span class="tab">История</span>
        </div>
        <div class="tab_content">
          <div class="tab_item">
            <div class="my_position_tab">
              <div class="wrapper">
                <div class="filters">
                  <input type="checkbox" id="first" class="checkbox" value="cb1"/>
                  <label for="first">Спорт</label>
                  <input type="checkbox" id="second" class="checkbox" value="cb2"/>
                  <label for="second"><span class="sub_tab">Финансы</span></label>
                  <input type="checkbox" id="third" class="checkbox" value="cb3"/>
                  <label for="third"><span class="sub_tab">Киберспорт</span></label>
                  <input type="checkbox" id="fourth" class="checkbox" value="cb4"/>
                  <label for="fourth"><span class="sub_tab">Политика</span></label>
                </div>
                <div class="tab_content">
                  <div id="content">
                    <div id="cb1" class="cat1 showhide active">
                      <table>
                        <thead>
                        <tr>
                          <th class="filter">Symbol</th>
                          <th class="filter">Time</th>
                          <th class="filter">Volume</th>
                          <th class="filter">Price</th>
                          <th class="filter">Latest</th>
                          <th class="filter">Change p.</th>
                          <th class="filter">Edit</th>
                          <th class="filter">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb2" class="cat2 showhide active" >
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb3" class="cat3 showhide active" >
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb4" class="cat4 showhide active" >
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.33</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>
                            <button class="buy">Edit</button>
                          </td>
                          <td>
                            <button class="sell">Delete</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab_item">
            <div class="my_position_tab">
              <div class="wrapper">
                <div class="filters">
                  <input type="checkbox" id="firs" class="checkbox" value="cb5"/>
                  <label for="firs"><span class="sub_tab">Спорт</span></label>
                  <input type="checkbox" id="secon" class="checkbox" value="cb6"/>
                  <label for="secon"><span class="sub_tab">Финансы</span></label>
                  <input type="checkbox" id="thir" class="checkbox" value="cb7"/>
                  <label for="thir"><span class="sub_tab">Киберспорт</span></label>
                  <input type="checkbox" id="fourt" class="checkbox" value="cb8"/>
                  <label for="fourt"><span class="sub_tab">Политика</span></label>
                </div>
                <div class="tab_content">
                  <div id="content">
                    <div id="cb5" class="cat1 showhide active">
                      <table>
                        <thead>
                        <tr>
                          <th class="filter">Symbol</th>
                          <th class="filter">Time</th>
                          <th class="filter">Volume</th>
                          <th class="filter">Price</th>
                          <th class="filter">Latest</th>
                          <th class="filter">Change p.</th>
                          <th class="filter">Profit/Loss</th>
                          <th class="filter">Edit</th>
                          <th class="filter">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>-0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>2-00</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb6" class="cat2 showhide active">
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>-0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>2-00</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb7" class="cat3 showhide active">
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>-0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>2-00</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div id="cb8" class="cat4 showhide active">
                      <table>
                        <tbody>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>-200</td>
                          <td>0.66</td>
                          <td>0.68</td>
                          <td>-0.03</td>
                          <td>-6$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>200</td>
                          <td>0.31</td>
                          <td>-0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        <tr>
                          <td>USD/UAH25-31.06.16</td>
                          <td>14.03.16 19.09</td>
                          <td>2-00</td>
                          <td>0.31</td>
                          <td>0.33</td>
                          <td>0.02</td>
                          <td>4$</td>
                          <td>
                            <button class="buy">Buy</button>
                          </td>
                          <td>
                            <button class="sell">Sell</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab_item">
            <div class="my_position_tab">
              <div class="wrapper">
                <div class="my_order_history">
                  <table>
                    <thead>
                    <tr>
                      <th class="filter">Name</th>
                      <th class="filter">Time</th>
                      <th class="filter">Type
                        <select name="searchtype" id="searchtype">
                          <option value="-1">All</option>
                          <option value="0">Buy</option>
                          <option value="1">Sell</option>
                          <option value="2">Closed</option>
                        </select>
                      </th>
                      <th class="filter">Units</th>
                      <th class="filter">Price</th>
                      <th class="filter">Profit/Loss</th>
                      <th class="filter">Liquidity</th>
                      <th class="filter">Fees</th>
                      <th class="filter">Credit/Debit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>14.03.16 19.09</td>
                      <td>Buy</td>
                      <td>2</td>
                      <td>$6.00</td>
                      <td>$0.33</td>
                      <td>Add</td>
                      <td>($0.032)</td>
                      <td>$0.968</td>
                    </tr>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>14.03.16 19.09</td>
                      <td>Sell</td>
                      <td>1</td>
                      <td>$2.00</td>
                      <td>$0.33</td>
                      <td>Reduce</td>
                      <td>($0.032)</td>
                      <td>$0.968</td>
                    </tr>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>15.03.16 19.09</td>
                      <td>Closed</td>
                      <td>1</td>
                      <td>$4.00</td>
                      <td>$0.44</td>
                      <td>Reduce</td>
                      <td>($0.032)</td>
                      <td>$0.968</td>
                    </tr>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>15.03.16 19.09</td>
                      <td>Buy</td>
                      <td>4</td>
                      <td>$1.00</td>
                      <td>$0.24</td>
                      <td>Add</td>
                      <td>($0.076)</td>
                      <td>$0.567</td>
                    </tr>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>17.03.16 19.09</td>
                      <td>Closed</td>
                      <td>2</td>
                      <td>$1.00</td>
                      <td>$0.67</td>
                      <td>Add</td>
                      <td>($0.032)</td>
                      <td>$0.968</td>
                    </tr>
                    <tr>
                      <td>USD/UAH25-31.06.16</td>
                      <td>17.03.16 19.09</td>
                      <td>Sell</td>
                      <td>1</td>
                      <td>$1.00</td>
                      <td>$0.32</td>
                      <td>Reduce</td>
                      <td>($0.123)</td>
                      <td>$0.567</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order order_slide">
    <div class="left_order">
      <div class="wrapper">
        <div class="tabs">
          <span class="tab">Новые ордера</span>
          <span class="tab">Текущие ордера</span>
        </div>
        <div class="tab_content">
          <div class="tab_item">
            <div class="order_content">
              <a href="#" class="close"></a>
              <input type="text" placeholder="USD/UAH 25-31.06.16" id="usd_uah">
              <span class="right">Последняя цена:<strong>0.34</strong></span>
              <form>
                <div class="order_type">
                  <select class="limit_market" name="kimit" id="change_order">
                    <option value="-1">Limit</option>
                    <option value="0">Market</option>
                  </select>
                </div>
                <div class="price">
                  <label for="price">Ваша цена</label><br>
                  <input type="number" placeholder="0.33" id="price">
                </div>
                <div class="value">
                  <label for="value">Обьем</label><br>
                  <input type="number" placeholder="123" id="value">
                </div>
                <div class="obligations">
                  <label for="obligations">Обязательства:</label><br>
                  <input type="number" placeholder="40.59" id="obligations">
                </div>
                <br>
                <p class="order_p"><span>Макс. прибыль: 82.41</span>
                </p>
                <button class="buy">Купить</button>
                <button class="sell">Продать</button>
              </form>
            </div>
            <div class="order_content">
              <a href="#" class="close"></a>
              <input type="text" placeholder="USD/UAH 25-31.06.16" id="usd_uah">
              <span class="right">Последняя цена:<strong>0.34</strong></span>
              <form>
                <div class="order_type">
                  <select class="limit_market" name="kimit" id="change_order">
                    <option value="-1">Limit</option>
                    <option value="0">Market</option>
                  </select>
                </div>
                <div class="price">
                  <label for="price">Ваша цена</label><br>
                  <input type="number" placeholder="0.33" id="price">
                </div>
                <div class="value">
                  <label for="value">Обьем</label><br>
                  <input type="number" placeholder="123" id="value">
                </div>
                <div class="obligations">
                  <label for="obligations">Обязательства:</label><br>
                  <input type="number" placeholder="40.59" id="obligations">
                </div>
                <br>
                <p class="order_p"><span>Макс. прибыль: 82.41</span>
                </p>
                <button class="buy">Купить</button>
                <button class="sell">Продать</button>
              </form>
            </div>
          </div>
          <div class="tab_item">
            <div class="order_content ">
              <div class="my_order">
                <h2>USD/UAH 25-31.06.16 </h2>
                <span class="right">Последняя цена:<strong>0.34</strong></span>
                <form>
                  <div class="profit">
                    <span class="your_price">Ваша цена: <strong>0.33</strong></span><br>
                    <input type="number" placeholder="0.33"><br>
                    <span>Макс. прибыль: 82.41</span>
                  </div>
                  <div class="responsibility">
                    <span class="your_price">Ваш обьем: 123</span><br>
                    <input type="number" placeholder="123"><br>
                    <span>Обязательства: 40,59</span>
                  </div>
                  <button class="change_order">Внести изменения</button>
                  <button class="cancel_order">Отменить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="buton"></span>
  </div>