@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
            var noSupportMessage = "Your browser cannot support WebSocket!";
            var ws;
            connectSocketServer();
            function appendMessage(message) {
                $('.executed').html(message+Math.random(0,100))
                //$('.executed').append(message);
            }

            function connectSocketServer() {
                var support = "MozWebSocket" in window ? 'MozWebSocket' : ("WebSocket" in window ? 'WebSocket' : null);

                if (support == null) {
                    appendMessage("* " + noSupportMessage + "<br/>");
                    return;
                }

                appendMessage("* Connecting to server ..<br/>");
                // create a new websocket and connect
                ws = new window[support]('ws://localhost:2011/');

                // when data is comming from the server, this metod is called
                ws.onmessage = function (evt) {
                    //alert("message: " + evt.data);
                    //appendMessage("# " + evt.data + "<br />");
                };

                // when the connection is established, this method is called
                ws.onopen = function () {
                    appendMessage('* Connection open<br/>');
                    $('#messageInput').attr("disabled", "");
                    $('#sendButton').attr("disabled", "");
                    $('#connectButton').attr("disabled", "disabled");
                    $('#disconnectButton').attr("disabled", "");
                };

                // when the connection is closed, this method is called
                ws.onclose = function () {
                    appendMessage('* Connection closed<br/>');
                    $('#messageInput').attr("disabled", "disabled");
                    $('#sendButton').attr("disabled", "disabled");
                    $('#connectButton').attr("disabled", "");
                    $('#disconnectButton').attr("disabled", "disabled");
                }
            }

            function sendMessage() {
                if (ws) {
                    var messageBox = '{"MessageID":"e50e9ee3-0315-4f01-9316-335b19bd5d59","MessageType":"SubscribeRequest","Currency":"USD","Subscribe":true,"Symbol":{"Currency":"USD","Exchange":"FIRST","Name":"UAH\/USD"},"UserName":"testing@test.ua"}'; //document.getElementById('messageInput');
                    ws.send(messageBox.value);
                    messageBox.value = "";
                }
            }

            function disconnectWebSocket() {
                if (ws) {
                    ws.close();
                }
            }

            function connectWebSocket() {
                connectSocketServer();
            }

            window.onload = function () {
                $('#messageInput').attr("disabled", "disabled");
                $('#sendButton').attr("disabled", "disabled");
                $('#disconnectButton').attr("disabled", "disabled");
            }

</script>

<div class="content">
    <ul class="breadcrumbs">
        <li><a href="#">Sport</a></li>
        <li><a href="#">Footbool</a></li>
        <li><a href="#">Championship</a></li>
        <li>Germany VS France</li>
    </ul>
    <div class="wrapper_event_page" data-ng-app="orders">
        <h2>Milan vs Inter</h2>
        <div class="schedule"></div>
        <div class="price_all">
            <div class="current_price">
                <div class="wrapper" style="min-height: auto;">
                    <h2>USD/UAH 30-31/03/2016</h2>
                    <ul class="price">
                        <li>Current price</li>
                        <li><span>26.675</span></li>
                    </ul>
                </div>
                <table class="high">
                    <tr>
                        <td><span>High</span></td>
                        <td><strong>0.44</strong></td>
                    </tr>
                </table>
                <table class="low">
                    <tr>
                        <td><span>Low</span></td>
                        <td><strong>0.33</strong></td>
                    </tr>
                </table>
            </div>
            <div class="specification">
                <h2>Specification</h2>
                <table class="specification_table">
                    <tr>
                        <td><strong>Symbol:</strong></td>
                        <td><span>USD/UAH 25-31/06/2016</span></td>
                    </tr>
                    <tr class="color">
                        <td><strong>Start:</strong></td>
                        <td><span>30.03.2016</span></td>
                    </tr>
                    <tr>
                        <td><strong>End:</strong></td>
                        <td><span>4:00 PM 3/31/2016</span></td>
                    </tr>
                    <tr class="color">
                        <td><strong>Strike price:</strong></td>
                        <td><span>UAH 30</span></td>
                    </tr>
                    <tr>
                        <td><strong>Trade volume:</strong></td>
                        <td><span>7/006</span></td>
                    </tr>
                    <tr class="color">
                        <td><strong>Volume today:</strong></td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td><strong>All positions:</strong></td>
                        <td><span>3.717</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="executed" data-ng-controller="ordersCtrl">
            <div class="executed_orders">
                <div class="thead">
                    <strong>Продажа</strong>
                    <strong>Обьем</strong>
                </div>
                <div class="tbody">
                    <div class="tr" ng-repeat="order in orderSell">
                        <div class="td"><span>{{order.Price}}</span></div>
                        <div class="td"><span>{{order.Quantity}}</span></div>
                    </div>
                </div>
            </div>
            <div class="executed_orders">
                <div class="thead">
                    <strong>Покупка</strong>
                    <strong>Обьем</strong>
                </div>
                <div class="tbody">
                    <div class="tr" ng-repeat="order in orderBuy">
                        <div class="td"><span>{{order.Price}}</span></div>
                        <div class="td"><span>{{order.Quantity}}</span></div>
                    </div>
                </div>
            </div>
            <div class="executed_orders">
                <div class="thead">
                    <strong>Исполненые ордера</strong>
                </div>
                <div class="tbody">
                    <div class="tr" ng-repeat="tick in ticks">
                        <div class="td"><span>{{tick.Time}}</span></div>
                        <div class="td"><span>{{tick.Price}}</span></div>
                        <div class="td"><span>{{tick.Volume}}</span></div>
                    </div>
                </div>
            </div>
            <!--<table class="executed_orders">-->
            <!--<thead>-->
            <!--<th><span>Продажа</span></th>-->
            <!--<th><span>Обьем</span></th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="order in orderSell">-->
            <!--<td><span>{{order.Price}}</span></td>-->
            <!--<td><span>{{order.Quantity}}</span></td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--<table class="executed_orders">-->
            <!--<thead>-->
            <!--<th><span>Покупка</span></th>-->
            <!--<th><span>Обьем</span></th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="order in orderBuy">-->
            <!--<td><span>{{order.Price}}</span></td>-->
            <!--<td><span>{{order.Quantity}}</span></td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--<table class="executed_orders">-->
            <!--<thead>-->
            <!--<th><span>Исполненые ордера</span></th>-->
            <!--<th></th>-->
            <!--<th></th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="tick in ticks">-->
            <!--<td><span>{{tick.Time}}</span></td>-->
            <!--<td><span>{{tick.Price}}</span></td>-->
            <!--<td><span>{{tick.Volume}}</span></td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
        </div>
        <div class="currency">
            <table class="currency_table">
                <tr>
                    <td><span>kurs.com.ua</span></td>
                    <td><span>0.35</span></td>
                    <td><span>26.872</span></td>
                </tr>
                <tr>
                    <td><span>minfin.com.ua</span></td>
                    <td><span>0.40</span></td>
                    <td><span>26.789</span></td>
                </tr>
                <tr>
                    <td><span>kurs.com.ua</span></td>
                    <td><span>0.33</span></td>
                    <td><span>26.584</span></td>
                </tr>
            </table>
        </div>
        <button class="buy">Купить</button>
        <button class="sell">Продать</button>
        <div class="information">
            <h4>Общая информация по курсам банков, черного рынка, НБУ</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, amet animi aperiam
                aspernatur aut autem dicta dolorem ea earum eos ex fuga hic illum iste laborum modi nam necessitatibus nemo,
                nobis nostrum perspiciatis porro possimus quaerat repellat, tenetur vitae. Delectus hic ipsa minima numquam
                quod saepe sed voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere fuga ipsa
                quidem vel velit voluptas.
                Alias consequatur doloribus eos praesentium quasi reprehenderit voluptatum? Adipisci animi commodi distinctio
                ducimus earum eius quasi qui veritatis vero, voluptates. Aliquam aperiam consectetur, doloremque facilis
                libero maxime nemo odio sed. Assumenda omnis suscipit ut.
            </p>
        </div>
    </div>
</div>
<div class="order order_slide">
    <div class="left_order">
        <div class="wrapper">
            <div class="tabs">
                <span class="tab">Новые ордера</span>
                <span class="tab">Текущие ордера</span>
            </div>
            <div class="tab_content">
                <div class="tab_item" id="order">
                    <div class="order_content">
                        <a href="#" class="close"></a>
                        <h3>USD/UAH 25-31.06.16</h3><strong class="last-price up">0.34</strong>
                        <form>
                            <div class="order_type col-3">
                                <div class="obligations">
                                    <label>Сумма:</label><br>
                                    <div class="input">
                                        <input type="number" placeholder="40.59" pattern="[-+]?[0-9]*[.,]?[0-9]+">
                                        <div class="regulator">
                                            <span class="plus">+</span>
                                            <span class="minus">-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price col-3">
                                <label>Ваша цена</label><br>
                                <div class="input">
                                    <input type="number" placeholder="0.33" pattern="[-+]?[0-9]*[.,]?[0-9]+">
                                    <div class="regulator">
                                        <span class="plus">+</span>
                                        <span class="minus">-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="volume col-3">
                                <label>Объем</label><br>
                                <div class="input">
                                    <input type="number" placeholder="123" pattern="[-+]?[0-9]*[.,]?[0-9]+">
                                    <div class="regulator">
                                        <span class="plus">+</span>
                                        <span class="minus">-</span>
                                    </div>
                                </div>
                            </div>
                            <select class="limit_market col-3" name="kimit">
                                <option value="-1">Limit</option>
                                <option value="0">Market</option>
                            </select>
                            <button class="btn buy col-3">BUY</button>
                            <button class="btn sell col-3">SELL</button>
                        </form>
                    </div>
                </div>
                <div class="tab_item">
                    <div class="order_content ">
                        <div class="my_order">
                            <h3>USD/UAH 25-31.06.16</h3><strong class="last-price up">0.34</strong>
                            <form>
                                <div class="profit col-3">
                                    <label>Ваша цена: </label><br>
                                    <div class="input">
                                        <input type="number" placeholder="0.33" pattern="[-+]?[0-9]*[.,]?[0-9]+">
                                        <div class="regulator">
                                            <span class="plus">+</span>
                                            <span class="minus">-</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="responsibility col-3">
                                    <label>Ваш объем:</label><br>
                                    <div class="input">
                                        <input type="number" placeholder="123" pattern="[-+]?[0-9]*[.,]?[0-9]+">
                                        <div class="regulator">
                                            <span class="plus">+</span>
                                            <span class="minus">-</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn change_order"></button>
                                    <button class="btn cancel"></button>
                                </div>
                                <span class="obligation">Сумма: <span class="value">40,59</span></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="buton"></span>
</div>
